@model AERP.ViewModel.SaleContractArrearsCalculationViewModel

<div id="custom-content">
    <div class="block-header">
        <h2>&nbsp;<i class="zmdi zmdi-view-toc"></i>&nbsp;Salary Details</h2>
    </div>
    <div class="card">
        <div class="card-body card-padding">
            <div id="displayErrorMessage" role="alert" hidden class="alert">
                <button class="close" type="button"><span aria-hidden="true">x</span></button>
                <p id="messageContent"></p>
            </div>
            <div id="displayErrorMessage1"></div>
            <form id="FormCreateSaleContractMaster" role="form" class="row">
                @Html.HiddenFor(m => m.ID)
                <div class="col-sm-12">
                    <div class="col-sm-6">
                        <div class="form-group fg-line">
                            Contract Number : @Model.SaleContractArrearsCalculationList[0].ContractNumber
                        </div>
                    </div>
                    <div class="col-sm-6">
                        Salary For Period : @Model.SaleContractArrearsCalculationList[0].SaleContractBillingSpanName
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-6">
                        Employee Name : @Model.SaleContractArrearsCalculationList[0].SaleContractEmployeeMasterName
                    </div>
                    <div class="col-sm-2">
                        Total Days : @Model.SaleContractArrearsCalculationList[0].TotalDays
                    </div>
                    <div class="col-sm-4">
                        <div class="col-sm-6">
                            Paid Days : @Model.SaleContractArrearsCalculationList[0].TotalAttendance
                        </div>
                        <div class="col-sm-6">
                            Adjusted : @Model.SaleContractArrearsCalculationList[0].AdjustedTotalDays
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-6">
                        OT Days : @Model.SaleContractArrearsCalculationList[0].OvertimeHours
                    </div>
                </div>
                <div class="col-sm-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Particular</th>
                                <th>Monthly Pay</th>
                                <th>Actual Pay</th>
                                <th>Adjusted Pay</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.SaleContractArrearsCalculationList.Count > 0)
                            {
                                decimal BasicAmount = Math.Round(Model.SaleContractArrearsCalculationList[0].BasicSalayAmount, MidpointRounding.AwayFromZero);
                                decimal TotalAttendance = Model.SaleContractArrearsCalculationList[0].TotalAttendance;
                                byte TotalDays = Model.SaleContractArrearsCalculationList[0].TotalDays;
                                decimal AdjustedTotalDays = Model.SaleContractArrearsCalculationList[0].AdjustedTotalDays;

                                decimal ActualBasicAmount = Math.Round((BasicAmount / TotalDays) * AdjustedTotalDays, MidpointRounding.AwayFromZero);

                                decimal FixedSalaryAmount = Math.Round(Model.SaleContractArrearsCalculationList[0].FixedSalaryAmount, MidpointRounding.AwayFromZero);
                                decimal ActualFixedSalaryAmount = Math.Round((FixedSalaryAmount / TotalDays) * TotalAttendance, 0, MidpointRounding.AwayFromZero);
                                decimal AdjustedFixedSalaryAmount = Math.Round((FixedSalaryAmount / TotalDays) * AdjustedTotalDays, 0, MidpointRounding.AwayFromZero);

                                <tr>
                                    <td>Basic Salary </td>
                                    <td>@BasicAmount </td>
                                    <td>@Math.Round(Model.SaleContractArrearsCalculationList[0].ActualBasicAmount)</td>
                                    <td>@ActualBasicAmount</td>
                                </tr>

                                decimal TotalAmount = 0; decimal ActualTotalAmount = 0; decimal GrossSalary = 0; decimal TotalEarnings = 0; decimal ActualGrossSalary = 0; decimal ActualTotalEarnings = 0; decimal TotalDeduction = 0; decimal ActualTotalDeduction = 0; decimal EmployerContribution = 0; decimal ActualEmployerContribution = 0; decimal ActualSalaryWithAdditionalAllowance = 0; decimal SalaryWithAdditionalAllowance = 0; decimal AdjustedSalaryWithAdditionalAllowance = 0;

                                bool FixedAmountAdded = false;
                                foreach (var item in Model.SaleContractArrearsCalculationList)
                                {
                                    if (item.HeadType == "DA")
                                    {
                                        decimal amount = 0;
                                        if (item.FixedAmount > 0)
                                        {
                                            amount = Math.Round(item.FixedAmount, MidpointRounding.AwayFromZero);
                                        }
                                        else
                                        {
                                            var CalculateOnValue = item.CalculateOnString.Replace(", ", ",").Split(',');
                                            decimal CalculateOnAmount = 0;
                                            foreach (var CalOn in CalculateOnValue)
                                            {
                                                var ReferenceID = CalOn.Split('~');
                                                if (Convert.ToByte(ReferenceID[0]) == 0)
                                                {
                                                    CalculateOnAmount = CalculateOnAmount + BasicAmount;
                                                }
                                                else
                                                {
                                                    foreach (var itemSub in Model.SaleContractArrearsCalculationList)
                                                    {
                                                        if (itemSub.HeadID == Convert.ToByte(ReferenceID[0]) && ((itemSub.RuleType == "Allowance" && Convert.ToByte(ReferenceID[1]) == 2) || (itemSub.RuleType == "Deduction" && Convert.ToByte(ReferenceID[1]) == 3)))
                                                        {
                                                            CalculateOnAmount = CalculateOnAmount + itemSub.Amount;
                                                        }
                                                    }
                                                }
                                            }
                                            amount = Math.Round(CalculateOnAmount * item.Percentage / 100, MidpointRounding.AwayFromZero);
                                        }
                                        item.Amount = amount;
                                        decimal Actualamount = Math.Round((amount / TotalDays) * AdjustedTotalDays, MidpointRounding.AwayFromZero);
                                        TotalAmount = BasicAmount + amount;
                                        GrossSalary = BasicAmount + amount;
                                        TotalEarnings = BasicAmount + amount;
                                        ActualTotalAmount = ActualBasicAmount + Actualamount;
                                        ActualGrossSalary = ActualBasicAmount + Actualamount;
                                        ActualTotalEarnings = ActualBasicAmount + Actualamount;
                                        <tr>
                                            <td>@item.HeadName</td>
                                            <td>@amount</td>
                                            <td>@item.ActualAmount</td>
                                            <td>
                                                @item.AdjustedAmount
                                            </td>
                                        </tr>
                                    }

                                }
                                foreach (var item in Model.SaleContractArrearsCalculationList)
                                {
                                    if (item.HeadType == "AddA" && item.ComplianceType == 1)
                                    {
                                        decimal amount = 0;
                                        if (item.FixedAmount > 0)
                                        {
                                            amount = Math.Round(item.FixedAmount, MidpointRounding.AwayFromZero);
                                        }
                                        else
                                        {
                                            var CalculateOnValue = item.CalculateOnString.Replace(", ", ",").Split(',');
                                            decimal CalculateOnAmount = 0;
                                            foreach (var CalOn in CalculateOnValue)
                                            {
                                                var ReferenceID = CalOn.Split('~');
                                                if (Convert.ToByte(ReferenceID[0]) == 0)
                                                {
                                                    CalculateOnAmount = CalculateOnAmount + BasicAmount;
                                                }
                                                else
                                                {
                                                    foreach (var itemSub in Model.SaleContractArrearsCalculationList)
                                                    {
                                                        if (itemSub.HeadID == Convert.ToByte(ReferenceID[0]) && ((itemSub.RuleType == "Allowance" && Convert.ToByte(ReferenceID[1]) == 2) || (itemSub.RuleType == "Deduction" && Convert.ToByte(ReferenceID[1]) == 3)))
                                                        {
                                                            CalculateOnAmount = CalculateOnAmount + itemSub.Amount;
                                                        }
                                                    }
                                                }
                                            }
                                            amount = Math.Round(CalculateOnAmount * item.Percentage / 100, MidpointRounding.AwayFromZero);
                                        }
                                        item.Amount = amount;
                                        decimal Actualamount = Math.Round((amount / TotalDays) * AdjustedTotalDays, MidpointRounding.AwayFromZero);
                                        TotalAmount = BasicAmount + amount;
                                        GrossSalary = BasicAmount + amount;
                                        TotalEarnings = TotalEarnings + amount;
                                        ActualTotalAmount = ActualBasicAmount + Actualamount;
                                        ActualGrossSalary = ActualBasicAmount + Actualamount;
                                        ActualTotalEarnings = ActualTotalEarnings + Actualamount;
                                        <tr>
                                            <td>@item.HeadName</td>
                                            <td>@amount</td>
                                            <td>@item.ActualAmount</td>
                                            <td>
                                                @item.AdjustedAmount
                                            </td>
                                        </tr>
                                    }

                                }
                                <tr>
                                    <td>Total Amount</td>
                                    <td>@TotalAmount</td>
                                    <td>@Model.SaleContractArrearsCalculationList[0].TotalAmount</td>
                                    <td>@ActualTotalAmount</td>
                                </tr>
                                foreach (var item in Model.SaleContractArrearsCalculationList)
                                {
                                    if (item.RuleType == "Allowance" && item.HeadType != "DA" && item.HeadType != "OT" && item.HeadType != "RIA" && item.HeadType != "AddA" && item.ComplianceType == 1)
                                    {
                                        decimal amount = 0; decimal Actualamount = 0;
                                        if (item.FixedAmount > 0)
                                        {
                                            amount = Math.Round(item.FixedAmount);
                                            Actualamount = Math.Round((item.FixedAmount / TotalDays) * AdjustedTotalDays);
                                        }
                                        else
                                        {
                                            var CalculateOnValue = item.CalculateOnString.Replace(", ", ",").Split(',');
                                            decimal CalculateOnAmount = 0;
                                            foreach (var CalOn in CalculateOnValue)
                                            {
                                                var ReferenceID = CalOn.Split('~');
                                                if (Convert.ToByte(ReferenceID[0]) == 0)
                                                {
                                                    CalculateOnAmount = CalculateOnAmount + BasicAmount;
                                                }
                                                else
                                                {
                                                    foreach (var itemSub in Model.SaleContractArrearsCalculationList)
                                                    {
                                                        if (itemSub.HeadID == Convert.ToByte(ReferenceID[0]) && ((itemSub.RuleType == "Allowance" && Convert.ToByte(ReferenceID[1]) == 2) || (itemSub.RuleType == "Deduction" && Convert.ToByte(ReferenceID[1]) == 3)))
                                                        {
                                                            CalculateOnAmount = CalculateOnAmount + itemSub.Amount;
                                                        }
                                                    }
                                                }
                                            }

                                            amount = Math.Round(CalculateOnAmount * item.Percentage / 100);
                                            Actualamount = Math.Round((amount / TotalDays) * AdjustedTotalDays);
                                        }
                                        item.Amount = amount;
                                        GrossSalary = GrossSalary + amount;
                                        TotalEarnings = TotalEarnings + amount;
                                        ActualGrossSalary = ActualGrossSalary + Actualamount;
                                        ActualTotalEarnings = ActualTotalEarnings + Actualamount;
                                        <tr>
                                            <td>@item.HeadName</td>
                                            <td>@amount</td>
                                            <td>
                                                @item.ActualAmount
                                            </td>
                                            <td>
                                                @item.AdjustedAmount
                                            </td>
                                        </tr>
                                    }
                                }
                                <tr>
                                    <td>Gross Salary</td>
                                    <td>@GrossSalary</td>
                                    <td>@Model.SaleContractArrearsCalculationList[0].GrossAmount</td>
                                    <td>@ActualGrossSalary</td>
                                </tr>
                                foreach (var item in Model.SaleContractArrearsCalculationList)
                                {
                                    if (item.RuleType == "Allowance" && item.HeadType == "OT")
                                    {
                                        decimal amount = 0; decimal Actualamount = 0;
                                        if (item.FixedAmount > 0)
                                        {
                                            amount = Math.Round(item.FixedAmount);
                                            Actualamount = Math.Round(item.FixedAmount);
                                        }
                                        item.Amount = amount;
                                        TotalEarnings = TotalEarnings + amount;
                                        ActualTotalEarnings = ActualTotalEarnings + Actualamount;
                                        <tr>
                                            <td>@item.HeadName</td>
                                            <td>@amount</td>
                                            <td>
                                                @item.ActualAmount
                                            </td>
                                            <td>
                                                @item.AdjustedAmount
                                            </td>
                                        </tr>
                                    }
                                }
                                foreach (var item in Model.SaleContractArrearsCalculationList)
                                {
                                    if (item.HeadType == "AddA" && item.ComplianceType == 2)
                                    {
                                        decimal amount = 0;
                                        if (item.FixedAmount > 0)
                                        {
                                            amount = Math.Round(item.FixedAmount, MidpointRounding.AwayFromZero);
                                        }

                                        item.Amount = amount;
                                        decimal Actualamount = Math.Round((amount / TotalDays) * AdjustedTotalDays, MidpointRounding.AwayFromZero);

                                        item.Amount = amount;
                                        TotalEarnings = TotalEarnings + amount;
                                        ActualTotalEarnings = ActualTotalEarnings + Actualamount;

                                        <tr>
                                            <td>@item.HeadName</td>
                                            <td>@amount</td>
                                            <td>
                                                @item.ActualAmount
                                            </td>
                                            <td>
                                                @item.AdjustedAmount
                                            </td>
                                        </tr>
                                    }

                                }
                                <tr>
                                    <td>Total Earning</td>
                                    <td>@TotalEarnings</td>
                                    <td>@Model.SaleContractArrearsCalculationList[0].TotalEarnings</td>
                                    <td>@ActualTotalEarnings</td>
                                </tr>
                                foreach (var item in Model.SaleContractArrearsCalculationList)
                                {
                                    if (item.RuleType == "Deduction" && item.ContributionType == 1 && item.HeadType == "PT")
                                    {
                                        decimal amount = 0; decimal Actualamount = 0;
                                        if (item.FixedAmount > 0 && (item.RangeFrom <= ActualTotalEarnings && (item.RangeUpto == 0 || item.RangeUpto > ActualTotalEarnings)))
                                        {
                                            amount = Math.Round(item.FixedAmount);
                                            Actualamount = Math.Round(item.ActualAmount);

                                            item.Amount = amount;
                                            TotalDeduction = TotalDeduction + amount;
                                            ActualTotalDeduction = ActualTotalDeduction + Actualamount;
                                            <tr>
                                                <td>@item.HeadName</td>
                                                <td>@amount</td>
                                                <td>
                                                    @Actualamount
                                                </td>
                                                <td>
                                                    @item.AdjustedAmount
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                                foreach (var item in Model.SaleContractArrearsCalculationList)
                                {
                                    if (item.RuleType == "Deduction" && item.ContributionType == 1 && item.HeadType != "PT" && item.ComplianceType == 1)
                                    {
                                        decimal amount = 0; decimal Actualamount = 0;
                                        if (item.FixedAmount > 0)
                                        {
                                            if (item.HeadType == "ESIC")
                                            {
                                                amount = Math.Ceiling(item.FixedAmount);
                                                Actualamount = Math.Ceiling((item.FixedAmount / TotalDays) * AdjustedTotalDays);
                                            }
                                            else
                                            {
                                                amount = Math.Round(item.FixedAmount);
                                                Actualamount = Math.Round((item.FixedAmount / TotalDays) * AdjustedTotalDays);
                                            }
                                        }
                                        else
                                        {
                                            var CalculateOnValue = item.CalculateOnString.Replace(", ", ",").Split(',');
                                            decimal CalculateOnAmount = 0;
                                            foreach (var CalOn in CalculateOnValue)
                                            {
                                                var ReferenceID = CalOn.Split('~');
                                                if (Convert.ToByte(ReferenceID[0]) == 0)
                                                {
                                                    CalculateOnAmount = CalculateOnAmount + BasicAmount;
                                                }
                                                else
                                                {
                                                    foreach (var itemSub in Model.SaleContractArrearsCalculationList)
                                                    {
                                                        if (itemSub.HeadID == Convert.ToByte(ReferenceID[0]) && ((itemSub.RuleType == "Allowance" && Convert.ToByte(ReferenceID[1]) == 2) || (itemSub.RuleType == "Deduction" && Convert.ToByte(ReferenceID[1]) == 3)))
                                                        {
                                                            CalculateOnAmount = CalculateOnAmount + itemSub.Amount;
                                                        }
                                                    }
                                                }
                                            }
                                            if (item.HeadType == "ESIC")
                                            {
                                                amount = Math.Ceiling(CalculateOnAmount * item.Percentage / 100);
                                                Actualamount = Math.Ceiling((amount / TotalDays) * AdjustedTotalDays);
                                            }
                                            else
                                            {
                                                amount = Math.Round(CalculateOnAmount * item.Percentage / 100);
                                                Actualamount = Math.Round((amount / TotalDays) * AdjustedTotalDays);
                                            }
                                        }
                                        TotalDeduction = TotalDeduction + amount;
                                        ActualTotalDeduction = ActualTotalDeduction + Actualamount;
                                        <tr>
                                            <td>@item.HeadName</td>
                                            <td>@amount</td>
                                            <td>
                                                @item.ActualAmount
                                            </td>
                                            <td>
                                                @item.AdjustedAmount
                                            </td>
                                        </tr>
                                    }
                                }
                                <tr>
                                    <td>Total Deduction</td>
                                    <td>@TotalDeduction</td>
                                    <td>@Model.SaleContractArrearsCalculationList[0].TotalDeduction</td>
                                    <td>@ActualTotalDeduction</td>
                                </tr>
                                decimal NetPayable = TotalEarnings - TotalDeduction;
                                decimal ActualNetPayable = ActualTotalEarnings - ActualTotalDeduction;

                                <tr>
                                    <td>Net Payable</td>
                                    <td>@NetPayable</td>
                                    <td>@Model.SaleContractArrearsCalculationList[0].NetPayable</td>
                                    <td>@ActualNetPayable</td>
                                </tr>
                                foreach (var item in Model.SaleContractArrearsCalculationList)
                                {
                                    if (item.RuleType == "Allowance" && item.HeadType == "RIA")
                                    {
                                        decimal amount = 0; decimal Actualamount = 0;
                                        if (item.FixedAmount > 0)
                                        {
                                            amount = Math.Round(item.FixedAmount);
                                            Actualamount = Math.Round(item.FixedAmount);
                                        }
                                        item.Amount = amount;
                                        NetPayable = NetPayable + amount;
                                        ActualNetPayable = ActualNetPayable + item.AdjustedAmount;
                                        <tr>
                                            <td>@item.HeadName</td>
                                            <td>@amount</td>
                                            <td>
                                                0
                                            </td>
                                            <td>
                                                @item.AdjustedAmount
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Total Amount Payable</td>
                                            <td>@FixedSalaryAmount</td>
                                            <td>@ActualFixedSalaryAmount</td>
                                            <td>@ActualFixedSalaryAmount</td>
                                        </tr>
                                        if (FixedSalaryAmount > 0)
                                        {
                                            FixedAmountAdded = true;
                                            SalaryWithAdditionalAllowance = FixedSalaryAmount;
                                            ActualSalaryWithAdditionalAllowance = ActualFixedSalaryAmount;
                                            AdjustedSalaryWithAdditionalAllowance = ActualFixedSalaryAmount;
                                        }
                                    }
                                }


                                if (FixedAmountAdded == false)
                                {
                                    SalaryWithAdditionalAllowance = NetPayable;
                                    ActualSalaryWithAdditionalAllowance = ActualNetPayable;
                                    AdjustedSalaryWithAdditionalAllowance = ActualNetPayable;
                                }

                                foreach (var item in Model.SaleContractArrearsCalculationList)
                                {
                                    if (item.RuleType == "Deduction" && item.ContributionType == 1 && item.ComplianceType == 2)
                                    {
                                        decimal amount = 0; decimal Actualamount = 0;
                                        if (item.FixedAmount > 0)
                                        {
                                            amount = Math.Round(item.FixedAmount);
                                        }
                                        item.Amount = amount;
                                        Actualamount = amount;

                                        if (FixedSalaryAmount > 0)
                                        {
                                            SalaryWithAdditionalAllowance = SalaryWithAdditionalAllowance - amount;
                                            ActualSalaryWithAdditionalAllowance = ActualSalaryWithAdditionalAllowance - item.ActualAmount;
                                            AdjustedSalaryWithAdditionalAllowance = AdjustedSalaryWithAdditionalAllowance - item.AdjustedAmount;
                                        }
                                        else
                                        {
                                            SalaryWithAdditionalAllowance = SalaryWithAdditionalAllowance - amount;
                                            ActualSalaryWithAdditionalAllowance = ActualSalaryWithAdditionalAllowance - item.ActualAmount;
                                            AdjustedSalaryWithAdditionalAllowance = AdjustedSalaryWithAdditionalAllowance - item.AdjustedAmount;
                                        }

                                        <tr>
                                            <td>@item.HeadName</td>
                                            <td>@amount</td>
                                            <td>
                                                @item.ActualAmount
                                            </td>
                                            <td>
                                                @item.AdjustedAmount
                                            </td>
                                        </tr>
                                    }
                                }
                                <tr>
                                    <td>Total Salary</td>
                                    <td>@SalaryWithAdditionalAllowance</td>
                                    <td>@ActualSalaryWithAdditionalAllowance<input type="hidden" id="ActualSalaryWithAdditionalAllowance" class="form-control" value="@ActualSalaryWithAdditionalAllowance"></td>
                                    <td><input type="text" id="AdjustedSalaryWithAdditionalAllowance" class="form-control" value="@AdjustedSalaryWithAdditionalAllowance" disabled></td>
                                </tr>
                                foreach (var item in Model.SaleContractArrearsCalculationList)
                                {
                                    if (item.RuleType == "Deduction" && item.ContributionType == 2)
                                    {
                                        decimal amount = 0; decimal Actualamount = 0;
                                        if (item.FixedAmount > 0)
                                        {
                                            if (item.HeadType == "ESIC")
                                            {
                                                amount = Math.Ceiling(item.FixedAmount);
                                                Actualamount = Math.Ceiling((item.FixedAmount / TotalDays) * AdjustedTotalDays);
                                            }
                                            else
                                            {
                                                amount = Math.Round(item.FixedAmount);
                                                Actualamount = Math.Round((item.FixedAmount / TotalDays) * AdjustedTotalDays);
                                            }
                                        }
                                        else
                                        {
                                            var CalculateOnValue = item.CalculateOnString.Replace(", ", ",").Split(',');
                                            decimal CalculateOnAmount = 0;
                                            foreach (var CalOn in CalculateOnValue)
                                            {
                                                var ReferenceID = CalOn.Split('~');
                                                if (Convert.ToByte(ReferenceID[0]) == 0)
                                                {
                                                    CalculateOnAmount = CalculateOnAmount + BasicAmount;
                                                }
                                                else
                                                {
                                                    foreach (var itemSub in Model.SaleContractArrearsCalculationList)
                                                    {
                                                        if (itemSub.HeadID == Convert.ToByte(ReferenceID[0]) && ((itemSub.RuleType == "Allowance" && Convert.ToByte(ReferenceID[1]) == 2) || (itemSub.RuleType == "Deduction" && Convert.ToByte(ReferenceID[1]) == 3)))
                                                        {
                                                            CalculateOnAmount = CalculateOnAmount + itemSub.Amount;
                                                        }
                                                    }
                                                }
                                            }
                                            if (item.HeadType == "ESIC")
                                            {
                                                amount = Math.Ceiling(CalculateOnAmount * item.Percentage / 100);
                                                Actualamount = Math.Ceiling((amount / TotalDays) * AdjustedTotalDays);
                                            }
                                            else
                                            {
                                                amount = Math.Round(CalculateOnAmount * item.Percentage / 100);
                                                Actualamount = Math.Round((amount / TotalDays) * AdjustedTotalDays);
                                            }
                                        }
                                        EmployerContribution = EmployerContribution + amount;
                                        ActualEmployerContribution = ActualEmployerContribution + Actualamount;
                                        <tr>
                                            <td>@item.HeadName</td>
                                            <td>@amount</td>
                                            <td>
                                                @item.ActualAmount
                                            </td>
                                            <td>
                                                @item.AdjustedAmount
                                            </td>
                                        </tr>
                                    }
                                }
                                <tr>
                                    <td>Employer Contribution</td>
                                    <td>@EmployerContribution</td>
                                    <td>@Model.SaleContractArrearsCalculationList[0].EmployerContributionTotal</td>
                                    <td>@ActualEmployerContribution</td>
                                </tr>
                                decimal TotalSalary = TotalEarnings + EmployerContribution;
                                decimal ActualTotalSalary = ActualTotalEarnings + ActualEmployerContribution;
                                <tr>
                                    <td>Total Salary</td>
                                    <td>@TotalSalary</td>
                                    <td>@Model.SaleContractArrearsCalculationList[0].TotalSalary</td>
                                    <td>@Model.SaleContractArrearsCalculationList[0].AdjustedTotalSalary</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        SaleContractArrearsCalculation.Initialize();

    });
</script>
