@model AERP.ViewModel.GeneralTypeOfAccountViewModel
<input type="hidden" id="DisplayFor" value="Create" />
<div id="custom-content">
    <div class="block-header">
        <h2>&nbsp;<i class="zmdi zmdi-view-toc"></i>&nbsp; &nbsp;Create Account Type</h2>
    </div>
    <div class="card">
        <div class="card-body card-padding">
            <div id="displayErrorMessage" role="alert" hidden class="alert">
                <button class="close" type="button"><span aria-hidden="true">×</span></button>
                <p id="messageContent"></p>
            </div>
            <form id="FormCreateGeneralTypeOfAccount" role="form" class="row">

                @Html.HiddenFor(m => m.GeneralTypeOfAccountMapWithAccountID)
                @Html.HiddenFor(m => m.GeneralTypeOfAccountId)
               
                <div class="col-sm-6">
                    <div class="form-group fg-line">
                        @Html.LabelFor(model => model.Name, new { })
                        @Html.TextBoxFor(model => model.Name, new { maxlength = "50", @class = "form-control input-sm " })

                    </div>
                    @Html.ValidationMessageFor(model => model.Name)
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group fg-line">
                         
                            @Html.LabelFor(model => model.AccountName, new { })
                            @Html.DropDownListFor(model => model.AccountName, (SelectList)ViewBag.GeneralTypeOfAccountList, "---Select Account Name ---", new { @class = "form-control input-sm" })

                        </div>
                        @Html.ValidationMessageFor(model => model.AccountName)
                    </div>



                    <div class="form-group col-sm-12">
                        <input class="btn btn-primary" style="margin-left:1%" value="@Resources.ButtonAction_Submit" id="CreateGeneralTypeOfAccountRecord" type="button" />
                    </div>

</form>
        </div>
    </div>
</div>

<script src="@Url.Content("~/Scripts/jquery.validate.js") " type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        GeneralTypeOfAccount.Initialize();
    });
</script>

