@model AERP.ViewModel.PurchaseRequisitionMasterViewModel
<script src="@Url.Content("~/Scripts/AERP_Scripts/Purchase/PurchaseRequisitionMaster.js")" type="text/javascript"></script>
<style type="text/css">
    .mfp-content {
        width: 90%;
    }
</style>
@Html.HiddenFor(m => m.PurchaseRequisitionBy)
<div id="purchaseList">
    <div id="DivAddRowTable1">
        <div class="card-body table-responsive" style="max-height:300px;overflow-y:auto">
            <table id="tblDataPRQ" class="table">
                <thead>
                    <tr>
                        <th style="display: none"></th>
                        <th class="center">
                            <div class="checkbox m-b-15" style="display:none">
                                <label style="">
                                    <input type="checkbox" id="Check" class="checkall-user" name="checkbox12" disabled>
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                        </th>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Current Stock</th>
                        <th>UOM</th>
                        <th>Rate</th>
                        <th>Delivery Date </th>
                        <th style="display:none">Priority</th>
                        <th style="display:none">Tax Amount</th>
                        <th>Amt</th>
                        <th>Location</th>  @*Replace Location with Sub Location*@
                        <th>Store</th>  @*Replace Store/Unit with Location*@
                        <th style="display:none">Purchase RequirementDetilID </th>
                        <th style="display:none">requirement number </th>
                        <th>From Loc </th>
                        <th>Tax</th>
                        <th>Tax Amt</th>
                        <th>Gross Amt</th>
                        <th>Customer Name</th>

                    </tr>
                </thead>
                <tbody id="tbodyPR" >

                    @for (int i = 0; i < Model.RequirmentDatalistItemWise.Count; i++)
                    {

                        <tr id="@Convert.ToInt32(i + 1)">
                            @if (@Model.RequirmentDatalistItemWise[i].IsDefaultVendor == false)

                            {
                                <td style="vertical-align:middle;">
                                    <input id="check_1" type=checkbox value="@Model.RequirmentDatalistItemWise[i].ItemNumber~@Model.RequirmentDatalistItemWise[i].StorageLocationID~@Model.RequirmentDatalistItemWise[i].PurchaseRequirementDetailsID" class=check-user name=checkbox123 onclick="CheckedSingle()">
                                </td>
                            }
                            else
                            {
                                <td style="vertical-align:middle;">
                                    <input id="check_1" type=checkbox value="@Model.RequirmentDatalistItemWise[i].ItemNumber~@Model.RequirmentDatalistItemWise[i].StorageLocationID~@Model.RequirmentDatalistItemWise[i].PurchaseRequirementDetailsID" class=check-user name=checkbox123 onclick="CheckedSingle()">
                                </td>

                            }
                            <td style="display: none">@Model.RequirmentDatalistItemWise[i].ItemName<input type="text" style="display:none" value="@Model.RequirmentDatalistItemWise[i].ItemName"></td>
                            <td style="vertical-align:middle;">@Model.RequirmentDatalistItemWise[i].ItemName<input type="text" style="display:none" value="@Model.RequirmentDatalistItemWise[i].ItemNumber"></td>
                            <td>
                                <input type="text" maxlength="11" id="ApprovedQuantity" value="@Math.Round(Model.RequirmentDatalistItemWise[i].ApprovedQuantity, 3)" style="width: 80px;padding-left:5px;" class="form-control fg-line" />
                            </td>
                            <td style="vertical-align:middle;">@Model.RequirmentDatalistItemWise[i].CurrentStockQtyWithBaseUOM</td>
                            <td style="vertical-align:middle;">@Model.RequirmentDatalistItemWise[i].UnitCode</td>
                            <td style="vertical-align:middle;">@Math.Round(Model.RequirmentDatalistItemWise[i].Rate, 2)<input type="text" style="display:none" id="Rate" value="@Model.RequirmentDatalistItemWise[i].Rate"></td>
                            @if (Model.PurchaseRequisitionBy == 1)
                            {
                                <td>@Model.RequirmentDatalistItemWise[i].ExpectedDeliveryDate<input type="text" style="display:none" value="@Model.RequirmentDatalistItemWise[i].ExpectedDeliveryDate"></td>
                            }
                            else if (Model.PurchaseRequisitionBy == 2)
                            {

                                <td>
                                    <input type="text" id="Edate_@i" value="@Model.RequirmentDatalistItemWise[i].ExpectedDeliveryDate" style="padding-left:5px;" class="displayDeliveryDate form-control">
                                </td>

                            }
                            else if (Model.PurchaseRequisitionBy == 3)
                            {

                                <td>
                                    <input type="text" id="Edate_@i" value="@Model.RequirmentDatalistItemWise[i].ExpectedDeliveryDate" style="padding-left:5px;" class="displayDeliveryDate form-control">
                                </td>

                            }
                            else if (Model.PurchaseRequisitionBy == 0 && (@Model.RequirmentDatalistItemWise[i].ExpectedDeliveryDate == "" || @Model.RequirmentDatalistItemWise[i].ExpectedDeliveryDate == null)
                            )
                            {
                                <td>
                                    <input type="text" id="Edate_@i" style="padding-left: 5px;" class="displayDeliveryDate form-control">
                                </td>
                            }
                            else
                            {
                                <td>@Model.RequirmentDatalistItemWise[i].ExpectedDeliveryDate<input type="text" style="display:none" value="@Model.RequirmentDatalistItemWise[i].ExpectedDeliveryDate"></td>
                            }
                            @if (Model.RequirmentDatalistItemWise[i].PriorityFlag == 1)
                            {
                                <td style="vertical-align:middle;display:none">High<input type="text" style="display:none" value="@Model.RequirmentDatalistItemWise[i].PriorityFlag"></td>
                            }
                            else if (Model.RequirmentDatalistItemWise[i].PriorityFlag == 2)
                            {
                                <td style="vertical-align: middle; display: none">Medium<input type="text" style="display:none" value="@Model.RequirmentDatalistItemWise[i].PriorityFlag"></td>
                            }
                            else
                            {
                                <td style="vertical-align: middle; display: none">Low<input type="text" style="display:none" value="@Model.RequirmentDatalistItemWise[i].PriorityFlag"></td>
                            }
                            <td style="display:none">
                                <input id="TaxAmount" class="form-control" disabled="disabled" style="width: 80px; padding-left: 5px;" type="text" value="@Math.Round(Model.RequirmentDatalistItemWise[i].TaxAmount, 2)">
                            </td>
                            <td style="display: none">
                                <input id="taxRate" type="text" style="display:none" id="TaxRate" value="@Model.RequirmentDatalistItemWise[i].TaxRate">@Model.RequirmentDatalistItemWise[i].TaxRate
                            </td>
                            <td>
                                <input id="Amount" class="form-control" disabled="disabled" style="width:80px;padding-left:5px;" type="text" value="@Math.Round(@Model.RequirmentDatalistItemWise[i].Ammount, 2)">
                            </td>
                            <td style="vertical-align:middle;">
                                <input type="text" style="display:none" value="@Model.RequirmentDatalistItemWise[i].StorageLocationID">@Model.RequirmentDatalistItemWise[i].LocationAddress
                            </td>
                            <td style="display: none">
                                <input type="text" style="display:none" value="@Model.RequirmentDatalistItemWise[i].LocationAddress">@Model.RequirmentDatalistItemWise[i].LocationAddress
                            </td>
                            <td style="vertical-align:middle;">@Model.RequirmentDatalistItemWise[i].UnitName</td>
                            <td id="PurchaseRequirementDetailsID" style="display: none">
                                <input type="text" style="display:none" value="@Model.RequirmentDatalistItemWise[i].PurchaseRequirementDetailsID">@Model.RequirmentDatalistItemWise[i].PurchaseRequirementDetailsID
                            </td>
                            <td id="PurchaseRequirementNumber" style="display: none">
                                <input type="text" style="display:none" value="@Model.RequirmentDatalistItemWise[i].PurchaseRequirementNumber">@Model.RequirmentDatalistItemWise[i].PurchaseRequirementNumber
                            </td>
                            <td id="departmentID" style="display: none">
                                <input type="text" style="display:none" value="@Model.RequirmentDatalistItemWise[i].DepartmentID">@Model.RequirmentDatalistItemWise[i].DepartmentID
                            </td>
                            @if (Model.PurchaseRequisitionType == 3)
                            {
                                <td id="IssueFromLocationID" style="vertical-align:middle;">
                                    @Html.DropDownListFor(model => model.IssueFromLocationID, (SelectList)ViewBag.GeneralLocationList, new { @class = "txtbox" })
                                </td>

                            }
                            else
                            {
                                <td style="vertical-align:middle;">--</td>
                            }

                            <td style="vertical-align:middle;" id="TaxGroupName">@Model.RequirmentDatalistItemWise[i].TaxGroupName</td>
                            <td style="vertical-align:middle;" id="TaxAmountForDisplay">@Math.Round(Model.RequirmentDatalistItemWise[i].TaxAmount, 2)</td>

                            <td>
                                <input id="GrossAmount" class="form-control" style="width:80px;padding-left:5px;" disabled="disabled" type="text" value="@Math.Round(Model.RequirmentDatalistItemWise[i].GrossAmount, 2)">
                            </td>
                            <td style="vertical-align:middle;">@Model.RequirmentDatalistItemWise[i].CustomerBranchName</td>
                            <td id="Priorityval" style="display: none">
                                <input type="text" style="display:none" value="@Model.RequirmentDatalistItemWise[i].Priority">@Model.RequirmentDatalistItemWise[i].Priority
                            </td>

                            <td style='text-align: center;'>
                                <i class='zmdi zmdi-delete zmdi-hc-fw' style='cursor:pointer;display:none' title=Delete></i>
                                <input type="text" style="display:none" value="@Model.RequirmentDatalistItemWise[i].GeneralItemCodeID">
                                <input type="text" style="display:none" value="@Model.RequirmentDatalistItemWise[i].BarCode">

                                <input type="text" style="display:none" value="@Model.RequirmentDatalistItemWise[i].BaseUOMQuantity">
                                <input type="text" style="display:none" value="@Model.RequirmentDatalistItemWise[i].BaseUOMCode">
                                <input type="text" style="display:none" value="@Model.RequirmentDatalistItemWise[i].UnitCode">
                            </td>

                        </tr>
                    }

                </tbody>

            </table>
        </div>
    </div>
    <div class="card-body" style="" id="AddRequisitionDiv">
        <div class="col-sm-2">
            Total Tax
            <div class="form-group fg-line">
                <input class="form-control" type="text" style="" disabled id="TotalTaxAmountt" />
            </div>
        </div>

        <div class="col-sm-2">
            Total Amount
            <div class="form-group fg-line">
                <input class="form-control" type="text" style="" disabled id="TotalBillAmountt" />
            </div>
        </div>
        <div class="col-sm-2">
            Gross Amount
            <div class="form-group fg-line">
                <input class="form-control" type="text" style="" disabled id="TotalGrossAmmountt" />
            </div>
        </div>
        <div class="col-sm-2 pull-right" style="padding-top:5%;">
            <button id="addRequirementPR" type="button" value="Add Requirement" class="btn btn-primary pull-right">Add Requirement</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // PurchaseRequisitionMaster.Initialize();
        PurchaseRequisitionMaster.TotalItem();
        PurchaseRequisitionMaster.TotalBillAmountt();
        PurchaseRequisitionMaster.TotalTaxAmountt();
        PurchaseRequisitionMaster.TotalGrossAmmountt();

    });
    //On Quantity Change
    $("#tblDataPRQ tbody").on("keyup", "tr td input[id^=ApprovedQuantity]", function () {
        var selectedItemID = $("select[id=checkboxlist1]").val();

        var quantity = $(this).closest('tr').find('td input[id^=ApprovedQuantity]').val();
        var rate = $(this).closest('tr').find('td input[id^=Rate]').val();
        var TaxRate = $(this).closest('tr').find('td input[id^=taxRate]').val();
        if (parseFloat(quantity) == 0 || parseFloat(quantity) <= 0 || parseFloat(quantity) == null) {
            notify("Please enter Quantity", "danger");
            return false;
        }
        $(this).closest('tr').find('td input[id=Amount]').val(parseFloat(quantity * rate).toFixed(2));
        PurchaseRequisitionMaster.TotalBillAmountt();

        $(this).closest('tr').find('td input[id=TaxAmount]').val((((parseFloat(quantity * rate).toFixed(2)) * TaxRate) / 100).toFixed(2));
        $(this).closest('tr').find('td[id=TaxAmountForDisplay]').text((((parseFloat(quantity * rate).toFixed(2)) * TaxRate) / 100).toFixed(2));


        Amount = (parseFloat(quantity * rate).toFixed(2));
        tax = (parseFloat(((quantity * rate).toFixed(2)) * TaxRate) / 100);

        $(this).closest('tr').find('td input[id=GrossAmount]').val(parseFloat((parseFloat(tax)) + (parseFloat(Amount))).toFixed(2));
        PurchaseRequisitionMaster.TotalTaxAmountt();
        PurchaseRequisitionMaster.TotalGrossAmmountt();
    });
    $("#tblDataPRQ tbody").on("click", "tr td i[class=icon-trash]", function () {
        $(this).closest('tr').remove();
        PurchaseRequisitionMaster.TotalItem();
    });
    $("#tblDataa tbody").on("click", "tr td i[class=icon-trash]", function () {
        $(this).closest('tr').remove();
        PurchaseRequisitionMaster.TotalItem();
    });
    $("#tblData tbody").on("click", "tr td i[class=icon-trash]", function () {
        $(this).closest('tr').remove();
        PurchaseRequisitionMaster.TotalItem();
    });


    $('#addRequirementPR').on("click", function () {
        debugger;
        var DataArray = []; var DataArray1 = []; var DataArray2 = [];
        $('#tbodyPR input').each(function () {
            if ($(this).val() != "on") {
                DataArray.push($(this).val());
            }
        });
        $('#tbodyPR select').each(function () {
            if ($(this).val() != "on") {
                DataArray2.push($(this).val());
            }
        });
        $('#constantTbody input').each(function () {
            DataArray1.push($(this).val());
        });

        var selectedItemID1 = $("select[id=checkboxlist1]").val();
        var ABC = $("#PurchaseRequisitionType").val();

        for (var i = DataArray.length - 1; i--;) {
            if (DataArray[i] === "on") DataArray.splice(i, 1);
        }
        var TotalRecord = DataArray.length;
        // alert(TotalRecord);
        var i = 0; var abc1 = ''; var j = 0; var k = 0; var m = 0;
        for (var i = 0; i < TotalRecord; i = i + 22) {
            var CheckedArray = [];

            $.each($("input[name='checkbox123']"), function () {
                if($(this).is(':checked'))
                CheckedArray.push($(this).val())
            });

            if (DataArray[i + 3] == "" || DataArray[i + 3] == null || DataArray[i + 3] == 0) {
                notify("Please Enter Quantity", "danger");
                return false;
            }

            if (CheckedArray.length == 0 || CheckedArray.length < 1) {
                notify("Please select Item Before Add Requirement", "danger");
                return false;
            }
            for (var j = CheckedArray.length - 1; j--;) {
                if (CheckedArray[j] === "on") CheckedArray.splice(j, 1);
            }

            if (DataArray1.length >= 1 && CheckedArray[k] == DataArray1[i]) {
                notify("Do not Add the Item Previously Added", "danger");
                return false;
            }
            else {

                if (CheckedArray[k] == DataArray[i]) {
                    $('#constantTbody').append(
                        '<tr>' +
                        '<td  style=display:none><input type="hidden" id="storagelocation+ItemNumber" style=width:60%;height:16px;text-align:right value=' + DataArray[i + 0].replace(/ /g, "~") + '></td>' +
                        '<td id="itemname" style="vertical-align:middle;"> ' + DataArray[i + 1] + '</td><td id="ItemNumber" style=display:none>' + DataArray[i + 2] + '</td>' +
                        '<td><input type="text" id="Quantity" disabled=disabled class="form-control" value=' + DataArray[i + 3] + '> </td>' +
                        '<td id="Rate" style="vertical-align:middle;">' + parseFloat(DataArray[i + 4]).toFixed(2) + '</td><td id="ExcpectedDate" style="vertical-align:middle;">' + DataArray[i + 5] + '</td>' +
                        '<td id="Priority" style="vertical-align:middle;display:none">' + DataArray[i + 16] + '</td><td id="TaxAmount" style="vertical-align:middle;display:none">' + parseFloat(DataArray[i + 7]).toFixed(2) + '</td>' +
                        '<td id="Location" style="vertical-align:middle;">' + DataArray[i + 11].replace(/~/g, ' ') + '</td>' +
                        '<td><i class="zmdi zmdi-delete zmdi-hc-fw" style="cursor:pointer" title = "Delete">' +
                            '<td  style="display:none"><input type="hidden" id="storagelocandItemID" value=' + DataArray[i + 0] + '>' +
                                    '<input type="hidden" id="ItemName" value=' + DataArray[i + 1] + '>' +
                                    '<input type="hidden" id="ItemNumber" value=' + DataArray[i + 2] + '>' +
                                    '<input type="hidden" id="Qty" value=' + DataArray[i + 3] + '>' +
                                    '<input type="hidden" id="Rate" value=' + DataArray[i + 4] + '>' +
                                    '<input type="hidden" id="ExpectedDate" value=' + DataArray[i + 5].replace(/ /g, "~") + '>' +
                                    '<input type="hidden" id="Priority" value=' + DataArray[i + 6] + '>' +
                                    '<input type="hidden" id="taxAmount" value=' + DataArray[i + 7] + '>' +
                                    '<input type="hidden" id="TaxRate" value=' + DataArray[i + 8] + '>' +
                                    '<input type="hidden" id="Amount" value=' + DataArray[i + 9] + '>' +
                                    '<input type="hidden" id="StorageLocnID" value=' + DataArray[i + 10] + '>' +
                                    '<input type="hidden" id="LocAddress" value=' + DataArray[i + 11].replace(/ /g, "~") + '>' +
                                    '<input type="hidden" id="RequirementdetailId" value=' + DataArray[i + 12] + '>' +
                                    '<input type="hidden" id="RequirementNumber" value=' + DataArray[i + 13] + '>' +
                                    '<input type="hidden" id="DepartmentID" value=' + DataArray[i + 14] + '>' +
                                    '<input id="IssueFromLocationID" type="hidden" value=' + DataArray2[m + 0] + '>' +
                                    '<input type="hidden" id="GeneralItemCodeID" value=' + DataArray[i + 17] + '>' +
                                    '<input type="hidden" id="BarCode" value=' + DataArray[i + 18] + '>' +
                                    '<input type="hidden" id="BaseUOMQuantity" value=' + DataArray[i + 19] + '>' +
                                    '<input type="hidden" id="BaseUOMCode" value=' + DataArray[i + 20] + '>' +
                                     '<input type="hidden" id="OrderUoMCode" value=' + DataArray[i + 21] + '>' +
                            '</td>' +
                        '</td>' +
                        '</tr>')
                    $("#AddRequisitionDiv").hide(true);
                    
                    k++;

                }
            }

            m++;

        }
        $.magnificPopup.close()
        $("#AddRequisitionDiv").hide(true);

    });

    function TotalItem() {
        var length = $("#tblDataPRQ tbody tr").length;
        $("#TotalItem").val(length);
    }
    $('input[id^=ApprovedQuantity]').on("keydown", function (e) {
        AERPValidation.AllowNumbersWithDecimalOnly(e);
        AERPValidation.NotAllowSpaces(e);
    });
    $('input[id^=ApprovedQuantity]').on("keyup", function (e) {
        parseFloat($(this).val()).toFixed(2);
    });
</script>