@model AERP.ViewModel.EmployeePFReportFORM6AViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Scripts/AERP_Scripts/Account/EmployeePFReportFORM6A.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/Theme/vendors/bower_components/moment/min/moment.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/Theme/vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js")" type="text/javascript"></script>
<script src="~/Content/Theme/vendors/bower_components/typeahead.js/dist/typeahead.bundle.js"></script>
<div class="container" style="padding-bottom:10px;">
    @using (Html.BeginForm("Index", "EmployeePFReportFORM6A", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="block-header">
            <h2 style="text-transform: none;"><i class="zmdi zmdi-view-toc"></i>&nbsp;PF Report Form 6(a)</h2>
        </div>

        <div class="card" style="margin-bottom: 0px;">
            <div class="card-body card-padding">


                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group fg-line">
                            <label>@Html.LabelFor(model => model.AccountSessionID, new { })</label>
                            @Html.DropDownListFor(m => m.AccountSessionID, Model.AccountSessionMasterReportItems, "------Select Account Session-------", new { @class = "form-control input-sm", data_val = "true", data_toggle = "tooltip", data_placement = "top", data_original_title = "Account Session*" })
                        </div>
                        @Html.ValidationMessageFor(model => model.AccountSessionID)
                    </div>

                    <div class="col-sm-3">
                        @Html.HiddenFor(m => m.IsPosted)
                        <div class="form-group fg-line">
                            <label>@Html.LabelFor(model => model.FromDate, new { })</label>
                            @Html.TextBoxFor(model => model.FromDate, new { maxlength = "12", @class = "form-control input-sm typeahead" })
                        </div>
                        @Html.ValidationMessageFor(model => model.FromDate)
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group fg-line">
                            <label>@Html.LabelFor(model => model.UptoDate, new { })</label>
                            @Html.TextBoxFor(model => model.UptoDate, new { maxlength = "12", @class = "form-control input-sm typeahead" })
                        </div>
                        @Html.ValidationMessageFor(model => model.UptoDate)
                    </div>
                    <div class="col-sm-3" style="margin-top:33px;">
                        <div class="fg-line">
                            <button type="submit" name="submit" id="btnEmployeePFReportFORM6ASubmit" class="btn-primary btn">Show</button>
                        </div>
                    </div>
                    </div>
              


            </div>
        </div>
    }
</div>
<div class="container" style="margin-top:-10px">
    <div id="aaa">
        <div class="card">
            <div class="card-header"></div>
            <div class="card-body card-padding">
                @Html.Partial("/Views/Contract/Report/EmployeePFReportFORM6A/EmployeePFReportFORM6A.aspx")
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#FromDate').datetimepicker({
            format: 'DD MMMM YYYY',
            ignoreReadonly: true,
        });
        $('#UptoDate').datetimepicker({
            format: 'DD MMMM YYYY',
            ignoreReadonly: true,
        });

        $("#FromDate").on("dp.change", function (e) {
            var minDate = new Date(e.date.valueOf());
            minDate.setDate(minDate.getDate());
            $('#UptoDate').data("DateTimePicker").minDate(minDate);

        });

        $("#UptoDate").on("dp.change", function (e) {
            var minDate = new Date(e.date.valueOf());
            minDate.setDate(minDate.getDate());
            $('#FromDate').data("DateTimePicker").maxDate(minDate);
        });

        $('#AccountSessionID').on("change", function () {

            var minDate = new Date(new Date($('#AccountSessionID :selected').text().split('-')[0]));
            minDate.setDate(minDate.getDate());
            var maxDate = new Date(new Date($('#AccountSessionID :selected').text().split('-')[1]));
            maxDate.setDate(maxDate.getDate());
            $('#FromDate').data("DateTimePicker").minDate(minDate);
            $('#UptoDate').data("DateTimePicker").maxDate(maxDate);
            $("#FromDate").val($('#AccountSessionID :selected').text().split('-')[0]);
            $("#UptoDate").val($('#AccountSessionID :selected').text().split('-')[1]);

        });

 
        //  EmployeePFReportFORM6A.Initialize();
    });
</script>






