@*

    @model AMS.ViewModel.LeaveSessionViewModel
    @{

        Layout = null;
    }
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li><a href="#">@Resources.Mainheading_Leave</a><span class="divider">»</span></li>
            <li class="active">@Resources.FormName_SessionMaster</li>

        </ul>
         <ul class="breadcrumb" style="height: 30px;">


            <li>
                <span style="color: red;padding-left: 1px; font-weight: bold">*</span> <span style="font-size: 12px; font-weight: bold;">@Resources.TableHeaders_CentreName &nbsp; &nbsp;&nbsp;</span>
                &nbsp;&nbsp;&nbsp;
                @Html.DropDownListFor(m => m.CentreCode, Model.ListGetAdminRoleApplicableCentreItems, Resources.ddlHeaders_CentreName, new { id = "CentreList", @class = "form-control chosen-select", style = "font-weight:bold;width:250px;" })
                @Html.HiddenFor(m => m.CentreCode)
                @Html.HiddenFor(m => m.CentreName)

            </li>

            <li>
             <button type="button" id="ShowList" class="btn btn-primary" style="margin-bottom: 10%;">@Resources.GlobalProperties_ShowList</button>
            </li>
        </ul>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-block">
                    <div style="display:none"> @Html.ActionLink("Create New", "CreateShift", new { centerCode = Model.CentreCode }, new { @class = "ajax", title = "Create" })</div>

                    <div class="widget-head">
                        <h5 id="hFive"><i class="black-icons users"></i> &nbsp; @Resources.TableHeaders_ManageLeaveSession</h5>

                        <div class="pull-right" style="margin: -24px 60px 0px 10px;">
                            <div class="input-append" id="" style="float: right;">
                                <div style="display: none;">
                                    <input type="hidden" name="_method" value="POST">
                                </div>
                                <div>
                                    <select name="data[User][searchby]" class="" id="showrecord" tabindex="16" style="float: left;">
                                        <option value="10">@Resources.GlobalProperties_ShowRecords</option>
                                        <option value="10">@Resources.GlobalProperties_10</option>
                                        <option value="50">@Resources.GlobalProperties_50</option>
                                        <option value="100">@Resources.GlobalProperties_100</option>
                                    </select>
                                    &nbsp;&nbsp;
                                    <input type="text" name="data[User][search]" class="search_query input-medium" placeholder="@Resources.GlobalProperties_Search..." size="16" autocomplete="off" id="UserSearch">
                                    <button class="btn" type="button" id="searchBtn"><i class="icon-search"></i></button>
                                </div>

                                <div id="CreateLeaveSession" class="widget-control pull-right">
                                    <a href="#" data-toggle="dropdown" class="btn dropdown-toggle"><i class="icon-plus"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a class="ajax cboxElement" href="@Url.Action("Create", "LeaveSession", new { centerCode = Model.CentreCode ,centerName=Model.CentreName})"> <h6 style="color:#000;"><i class="icon-plus" style="padding-left:7px;"></i>@Resources.DisplayName_AddNew</h6></a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="widget-content">
                        <div class="widget-box">
                            <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper" role="grid">
                                <div class="table_content">
                                    <table id="myDataTable" class="table table-striped table-bordered ">
                                        <thead>
                                            <tr>
                                                <th style="text-align:center">@Resources.TableHeaders_LeaveSessionName</th>
                                                 <th style="text-align:center">@Resources.TableHeaders_LeaveSessionFromDate</th>
                                                <th style="text-align:center">@Resources.TableHeaders_LeaveSessionUptoDate</th>
                                                 <th style="text-align:center">@Resources.TableHeaders_IsCurrentLeaveSession</th>
                                                 <th style="text-align:center">@Resources.TableHeaders_IsSessionLocked</th>
                                                <th style="text-align: center; width: 30px; line-height: 40px">@Resources.TableHeaders_Action</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="widget-bottom">
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br /><br /><br />
    <script type="text/javascript">
        $(document).ready(function () {
            LeaveSession.Initialize();
            var isReloadedFromCookies;
            var oTable = $('#myDataTable').dataTable({
                "bServerSide": true,
                "sAjaxSource": "LeaveSession/AjaxHandler",
                "bJQueryUI": true,
                "sScrollY": false,
                "bProcessing": true,
                "fnServerParams": function (aoData) {
                    aoData.push({ "name": "CentreCode", "value": $('input[name=CentreCode]').val() });
                },
                "sPaginationType": "full_numbers",
                "oLanguage": {
                    "sInfoEmpty": "No entries to show",
                },
                "columnDefs": [

                                 {
                                     "targets": 0,
                                     "bSearchable": true,
                                 },
                                  {
                                      "targets": 1,
                                      "bSearchable": true,
                                  },
                                   {
                                       "targets": 2,
                                       "bSearchable": true,
                                   },
                                    {
                                        "targets": 3,

                                        "data": null,
                                        "render": function (data, type, full, meta) {
                                            var chkStatus = '';
                                            if (data[3] == "True") {

                                                chkStatus = '@Resources.Displaychkstatus_Yes';
                                                var result = "<p  style='text-align: center; height:5px;'>" + ' <span style="text-align: center;" class="label label-success">' + chkStatus + '</span>' + "</p>";
                                            }
                                            else {
                                                chkStatus = '@Resources.Displaychkstatus_No';
                                                var result = "<p  style='text-align: center; height:5px;'>" + ' <span style="text-align: center;" class="label label-warning">' + chkStatus + '</span>' + "</p>";
                                            }
                                            //  var result = "<p  style='text-align: center; height:5px;'>" + ' <span class="label label-important">' + chkStatus + '</span>' + "</p>";

                                            return result;

                                        }
                                    },
                                     {
                                         "targets": 4,

                                         "data": null,
                                         "render": function (data, type, full, meta) {
                                             var chkStatus = '';
                                             if (data[4] == "True") {

                                                 chkStatus = '@Resources.Displaychkstatus_Yes';
                                                 var result = "<p  style='text-align: center; height:5px;'>" + ' <span style="text-align: center;" class="label label-success">' + chkStatus + '</span>' + "</p>";
                                             }
                                             else {
                                                 chkStatus = '@Resources.Displaychkstatus_No';
                                                 var result = "<p  style='text-align: center; height:5px;'>" + ' <span style="text-align: center;" class="label label-warning">' + chkStatus + '</span>' + "</p>";
                                             }
                                             //  var result = "<p  style='text-align: center; height:5px;'>" + ' <span class="label label-important">' + chkStatus + '</span>' + "</p>";

                                             return result;

                                         }
                                     },
                                {
                                    "targets": 5,
                                    "bSortable": false,
                                    "data": null,
                                    "render": function (data, type, full, meta) {
                                        var result1 = '@Html.ActionLink("Edit1", "Edit", new { LeaveSessionID = '1',CentreCode = Model.CentreCode,CentreName = Model.CentreName,Mode="0" }, new { @class = "ajax  cboxElement" })';
                                        result1 = result1.replace('1', data[5]);
                                        result1 = result1.replace("Edit1", '<i class="icon-edit" title="@Resources.ToolTip_Edit"></i>');

                                        if (data[4] == "True") {
                                            var result2 = '@Html.ActionLink("View1", "ViewSessionDetails", new { LeaveSessionID = '1',CentreCode = Model.CentreCode,CentreName = Model.CentreName,Mode="0"}, new { @class = "ajax  cboxElement" })';
                                            result2 = result2.replace('1', data[5]);
                                            result2 = result2.replace("View1", '<i class="black-icons list" title="@Resources.ToolTip_ViewSessionDetails"></i>');
                                        }
                                        else {
                                            var result2 = '@Html.ActionLink("Create1", "CreateLeaveSessionDetails", new { LeaveSessionID = '1',CentreCode = Model.CentreCode,CentreName = Model.CentreName,Mode="1" }, new { @class = "ajax  cboxElement" })';
                                            result2 = result2.replace('1', data[5]);
                                            result2 = result2.replace("Create1", '<i class="icon-plus" title="@Resources.ToolTip_AddUpdateSessionDetails"></i>');
                                        }

                                        if (data[4] == "True") {
                                            var result = "<p  style='text-align: center; height:5px;'>" + result2 + "</p>";
                                        }
                                        else {
                                            //   var result = "<p  style='text-align: center; height:5px;'>" + result1 + "&nbsp;|&nbsp; " + result2 + "</p>";
                                            var result = "<p  style='text-align: center; height:5px;'>" + result1 +"</p>";
                                        }
                                        return result;
                                    }
                                }
                ]
            });
        });
    </script>

*@

@model AERP.ViewModel.LeaveSessionViewModel
@{

Layout = null;
}

<style>
    /*.columnDisplay {
        display: none;
    }

    .header-inner {
        margin-bottom: 0;
        padding: 0;
    }

    .card .card-header:not(.ch-alt) {
        padding: 45px 25px;
    }*/

</style>

@*<div class="container">*@
<div class="block-header">
    <h2 style="text-transform: none;"><i class="zmdi zmdi-view-toc"></i>&nbsp;Leave Session</h2>
</div>

<div class="card">
    <div class="card-header">
        <div id="CreateLeaveSession" style="display:none;">
            <ul class="actions">
                <li class="dropdown">
                    <a href="" data-toggle="dropdown" title="Add New">
                        <i class="zmdi zmdi-more-vert"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a class="mfpAjaxModal" href="@Url.Action("Create", "LeaveSession", new { centerCode = Model.CentreCode, centerName = Model.CentreName })">
                                <i class="zmdi zmdi-plus-square"></i> &nbsp; @Resources.DisplayName_AddNew
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="card-body card-padding">
        <div class="row">

            <div class="col-sm-4">
                <div class="form-group fg-line select">
                    @Html.DropDownListFor(m => m.CentreCode, Model.ListGetAdminRoleApplicableCentreItems, Resources.ddlHeaders_CentreName, new { id = "CentreList", @class = "form-control", style = "" })
                    @Html.HiddenFor(m => m.CentreCode)
                    @Html.HiddenFor(m => m.CentreName)
                </div>
            </div>

            <div class="col-sm-3" style="margin-top:10px;">
                <button type="button" id="ShowList" class="btn btn-primary" style="margin-bottom: 10%;">@Resources.GlobalProperties_ShowList</button>
            </div>
        </div>
    </div>
    


    <div class="bootgrid-header container-fluid" id="data-table-command-header">
        <div class="row">
            <div style="display:none"> @Html.ActionLink("Create New", "CreateShift", new { centerCode = Model.CentreCode }, new { @class = "ajax", title = "Create" })</div>
            <div class="col-sm-12 actionBar">
                <div class="search form-group">
                    <div class="input-group">
                        <span class="zmdi icon input-group-addon glyphicon-search"></span>
                        <input type="text" id="UserSearch" placeholder="Search" class="search-field form-control">
                    </div>
                </div>
                <div class="actions btn-group">
                    <div class="dropdown btn-group">
                        <button data-toggle="dropdown" type="button" class="btn btn-default dropdown-toggle">
                            <span class="dropdown-text" id="tblDisplayRowLength">@Resources.GlobalProperties_10</span> <span class="caret"></span>
                        </button>
                        <ul role="menu" style="cursor: pointer" id="showrecords" class="dropdown-menu pull-right">
                            <li class="active" aria-selected="true">
                                <a class="dropdown-item dropdown-item-button" data-action="@Resources.GlobalProperties_10">@Resources.GlobalProperties_10</a>
                            </li>
                            <li aria-selected="false">
                                <a class="dropdown-item dropdown-item-button" data-action="@Resources.GlobalProperties_25">@Resources.GlobalProperties_25</a>
                            </li>
                            <li aria-selected="false"><a class="dropdown-item dropdown-item-button" data-action="@Resources.GlobalProperties_50">@Resources.GlobalProperties_50</a></li>
                        </ul>
                    </div>
                    <div class="dropdown btn-group">
                        <button data-toggle="dropdown" type="button" class="btn btn-default dropdown-toggle" aria-expanded="false">
                            <span class="dropdown-text">
                                <span class="zmdi icon zmdi-view-module"></span>
                            </span><span class="caret"></span>
                        </button>
                        <ul role="menu" id="toggleTableColumn" class="dropdown-menu pull-right">

                            <li>
                                <div class="checkbox">
                                    <label class="dropdown-item" aria-disabled="false">
                                        <input type="checkbox" checked="checked" class="dropdown-item-checkbox" value="0" name="LeaveSessionName">
                                        Leave Session Name<i class="input-helper"></i>
                                    </label>
                                </div>
                            </li>


                            <li>
                                <div class="checkbox">
                                    <label class="dropdown-item" aria-disabled="false">
                                        <input type="checkbox" checked="checked" class="dropdown-item-checkbox" value="1" name="LeaveSessionFromDate">
                                        From Date<i class="input-helper"></i>
                                    </label>
                                </div>
                            </li>

                            <li>
                                <div class="checkbox">
                                    <label class="dropdown-item" aria-disabled="false">
                                        <input type="checkbox" checked="checked" class="dropdown-item-checkbox" value="2" name="LeaveSessionUptoDate">
                                         Upto Date<i class="input-helper"></i>
                                    </label>
                                </div>
                            </li>


                            <li>
                                <div class="checkbox">
                                    <label class="dropdown-item" aria-disabled="false">
                                        <input type="checkbox" checked="checked" class="dropdown-item-checkbox" value="3" name="IsCurrentLeaveSession">
                                        Is Current Leave Session<i class="input-helper"></i>
                                    </label>
                                </div>
                            </li>

                            <li>
                                <div class="checkbox">
                                    <label class="dropdown-item" aria-disabled="false">
                                        <input type="checkbox" checked="checked" class="dropdown-item-checkbox" value="4" name="IsSessionLocked">
                                        Is Session Locked<i class="input-helper"></i>
                                    </label>
                                </div>
                            </li>

                            <li>
                                <div class="checkbox">
                                    <label class="dropdown-item" aria-disabled="false">
                                        <input type="checkbox" checked="checked" class="dropdown-item-checkbox" value="5" name="Action">
                                        @Resources.TableHeaders_Action<i class="input-helper"></i>
                                    </label>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table id="myDataTable" class="table table-striped table-vmiddle table-responsive ">
        <thead>
            <tr>
                <th>Leave Session Name</th>
                <th>From Date</th>
                <th>Upto Date</th>
                <th>Is Current Leave Session</th>
                <th>Is Session Locked</th>
                <th>@Resources.TableHeaders_Action</th>

            </tr>
        </thead>
    </table>
</div>
@*</div>*@


<script type="text/javascript">
    $(document).ready(function () {
        var oTable;
        LeaveSession.Initialize();
        var isReloadedFromCookies;
        oTable = $('#myDataTable').DataTable({
            "bServerSide": true,
            "sAjaxSource": "LeaveSession/AjaxHandler",
            "bJQueryUI": true,
            "sScrollY": false,
            "bProcessing": true,
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "CentreCode", "value": $('input[name=CentreCode]').val() });
            },
            "sPaginationType": "full_numbers",
            "oLanguage": {
                "sInfoEmpty": "No entries to show",
            },
            "columnDefs": [

                             {
                                 "targets": 0,
                                 "bSearchable": true,
                             },
                              {
                                  "targets": 1,
                                  "bSearchable": true,
                              },
                               {
                                   "targets": 2,
                                   "bSearchable": true,
                               },
                                {
                                    "targets": 3,

                                    "data": null,
                                    "render": function (data, type, full, meta) {
                                        var chkStatus = '';
                                        if (data[3] == "True") {

                                            chkStatus = 'Yes';
                                            var result = "<p  style=''>" + ' <span style="" class="btn btn-xs btn-success">' + chkStatus + '</span>' + "</p>";
                                        }
                                        else {
                                            chkStatus = 'No';
                                            var result = "<p  style=''>" + ' <span style="" class="btn btn-xs btn-warning">' + chkStatus + '</span>' + "</p>";
                                        }
                                        //  var result = "<p  style='text-align: center; height:5px;'>" + ' <span class="label label-important">' + chkStatus + '</span>' + "</p>";

                                        return result;

                                    }
                                },
                                 {
                                     "targets": 4,

                                     "data": null,
                                     "render": function (data, type, full, meta) {
                                         var chkStatus = '';
                                         if (data[4] == "True") {

                                             chkStatus = 'Yes';
                                             var result = "<p  style=''>" + ' <span style="" class="btn btn-xs btn-success">' + chkStatus + '</span>' + "</p>";
                                         }
                                         else {
                                             chkStatus = 'No';
                                             var result = "<p  style=''>" + ' <span style="" class="btn btn-xs btn-warning">' + chkStatus + '</span>' + "</p>";
                                         }
                                         //  var result = "<p  style='text-align: center; height:5px;'>" + ' <span class="label label-important">' + chkStatus + '</span>' + "</p>";

                                         return result;

                                     }
                                 },
                            {
                                "targets": 5,
                                "bSortable": false,
                                "data": null,
                                "render": function (data, type, full, meta) {
                                    //var result1 = '@Html.ActionLink("Edit1", "Edit", new { LeaveSessionID = '1', CentreCode = Model.CentreCode, CentreName = Model.CentreName, Mode = "0" }, new { @class = "mfpAjaxModal" })';
                                    //result1 = result1.replace('1', data[5]);
                                    ////result1 = result1.replace("Edit1", '<i class="icon-edit" title="@Resources.ToolTip_Edit"></i>');
                                    //result1 = result1.replace("Edit1", '<button title="@Resources.ToolTip_View" class="btn btn-default"><i class="zmdi zmdi-zoom-in"></i></button>');

                                    //if (data[4] == "True") {
                                    var result2 = '@Html.ActionLink("View1", "Edit", new { LeaveSessionID = '1', CentreCode = Model.CentreCode, CentreName = Model.CentreName, Mode = "0" }, new { @class = "mfpAjaxModal" })';
                                        result2 = result2.replace('1', data[5]);
                                        //result2 = result2.replace("View1", '<i class="black-icons list" title="View Session Details"></i>');
                                        result2 = result2.replace("View1", '<button title="View Session Details" class="btn btn-default"><i class="zmdi zmdi-view-toc"></i></button>');
                                    //}
                                    //else {
                                    //    var result2 = '@Html.ActionLink("Create1", "CreateLeaveSessionDetails", new { LeaveSessionID = '1', CentreCode = Model.CentreCode, CentreName = Model.CentreName, Mode = "1" }, new { @class = "mfpAjaxModal" })';
                                    //    result2 = result2.replace('1', data[5]);
                                    //    //result2 = result2.replace("Create1", '<i class="icon-plus" title="Manage Session Details"></i>');
                                    //    result2 = result2.replace("Create1", '<button title="Manage Session Details" class="btn btn-default"><i class="zmdi zmdi-plus"></i></button>');
                                    //}

                                    //if (data[4] == "True") {
                                        var result = "<p  style=''>" + result2 + "</p>";
                                    //}
                                    //else {
                                    //    //   var result = "<p  style='text-align: center; height:5px;'>" + result1 + "&nbsp;|&nbsp; " + result2 + "</p>";
                                    //    var result = "<p  style=''>" + result2 + "</p>";
                                    //}
                                    return result;
                                }
                            }
            ]
        });
        DataTableSettings(oTable, "myDataTable", "toggleTableColumn");
    });
</script>







