@*@model AMS.ViewModel.EmployeeConsultancyMasterViewModel
@{
    Layout = null;
}


<div class="widget-block">
    <div class="widget-head">
        <h5 id="hFive">
            <script src="@Url.Content("~/Scripts/jquery.validate.min.js") " type="text/javascript"></script>
            <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
            @Resources.FormCreate_EmployeeConsultancy
        </h5>
      
    </div>
 
    <form id="FormCreateEmployeeConsultancyMaster" method="post" class="form-horizontal well">


        <div class="row">
            <div class="span10">
                <div class="row control-group">
                    <div class="spanFullName">
                        @Html.LabelFor(model => model.ConsultancyName, new { style = "font-Weight:Bold;" })
                    </div>
                    <div class="span7">
                        @Html.TextBoxFor(model => model.ConsultancyName, new { style = "width:106%;" ,maxlength = "150"})
                        <br />
                        @Html.ValidationMessageFor(model => model.ConsultancyName)
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span10">
                <div class="row control-group">
                    <div class="spanFullName">
                        @Html.LabelFor(model => model.TitleOfAssignment, new { style = "font-Weight:Bold;" })
                    </div>
                    <div class="span3">
                        @Html.TextBoxFor(model => model.TitleOfAssignment, new { @class = "txtbox", maxlength = "100" })
                        <br />
                        @Html.ValidationMessageFor(model => model.TitleOfAssignment)
                    </div>
                    <div class="spanFullName">
                        @Html.LabelFor(model => model.ConsultancyDate, new { style = "font-Weight:Bold;" })
                    </div>
                    <div class="span2">
                        @Html.TextBoxFor(model => model.ConsultancyDate, new { @class = "txtbox" ,@readonly = "readonly"})
                        <br />
                        @Html.ValidationMessageFor(model => model.ConsultancyDate)
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span10">
                <div class="row control-group">
                    <div class="spanFullName">
                        @Html.LabelFor(model => model.ConsultancyCost, new { style = "font-Weight:Bold;" })
                    </div>
                    <div class="span3">
                        @Html.TextBoxFor(model => model.ConsultancyCost, new { @class = "txtbox", style = "text-align:right", maxlength = "60", Value = "" })
                        <br />
                        @Html.ValidationMessageFor(model => model.ConsultancyCost)
                    </div>
                    <div class="spanFullName">
                        @Html.LabelFor(model => model.EmployeeShare, new { style = "font-Weight:Bold;" })
                    </div>
                    <div class="span2">
                        @Html.TextBoxFor(model => model.EmployeeShare, new { @class = "txtbox", style = "text-align:right", maxlength = "60", Value = "" })
                        <br />
                        @Html.ValidationMessageFor(model => model.EmployeeShare)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span10">
                <div class="row control-group">
                    <div class="spanFullName">
                        @Html.LabelFor(model => model.AssignmentFromDate, new { style = "font-Weight:Bold;" })
                    </div>
                    <div class="span3">

                        @Html.TextBoxFor(model => model.AssignmentFromDate, new { @class = "txtbox", @readonly = "readonly" })
                        <br />
                        @Html.ValidationMessageFor(model => model.AssignmentFromDate)
                    </div>
                    <div class="spanFullName">
                        @Html.LabelFor(model => model.AssignmentToDate, new { style = "font-Weight:Bold;" })
                    </div>
                    <div class="span2">
                        @Html.TextBoxFor(model => model.AssignmentToDate, new { @class = "txtbox", @readonly = "readonly" })
                        <br />
                        @Html.ValidationMessageFor(model => model.AssignmentToDate)
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="span10">
                <div class="row control-group">
                    <div class="spanFullName">
                        @Html.LabelFor(model => model.ConsultingFromDate, new { style = "font-Weight:Bold;" })
                    </div>
                    <div class="span3">

                        @Html.TextBoxFor(model => model.ConsultingFromDate, new { @class = "txtbox", @readonly = "readonly" })
                        <br />
                        @Html.ValidationMessageFor(model => model.ConsultingFromDate)
                    </div>
                    <div class="spanFullName">
                        @Html.LabelFor(model => model.ConsultingToDate, new { style = "font-Weight:Bold;" })
                    </div>
                    <div class="span2">
                        @Html.TextBoxFor(model => model.ConsultingToDate, new { @class = "txtbox", @readonly = "readonly" })
                        <br />
                        @Html.ValidationMessageFor(model => model.ConsultingToDate)
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="span10">
                <div class="row control-group">
                    <div class="spanFullName">
                        @Html.LabelFor(model => model.EmployeeRemark, new { style = "font-Weight:Bold;" })
                    </div>
                    <div class="span7">
                        @Html.TextAreaFor(model => model.EmployeeRemark, new { style = "width:106%;", maxlength = "200" })
                      
                    </div>
                </div>
            </div>
        </div>





        <div class="form-actions" style="padding-left: 0px; padding-bottom: 0px; text-align: right">
            <button type="button" id="btnCreateEmployeeConsultancyMaster" class="btn btn-primary">@Resources.ButtonAction_Submit</button>
            <button type="button" id="reset" class="btn btn-secondary">@Resources.ButtonAction_Reset</button>
        </div>
    </form>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        EmployeeConsultancyMaster.Initialize();
    });
</script>*@

@*-----------------------new code-----------------------*@

@model AMS.ViewModel.EmployeeConsultancyMasterViewModel
@{

    Layout = null;
}


<script src="@Url.Content("~/Scripts/jquery.validate.min.js") " type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div id="custom-content">
    <div class="block-header">
        <h2>&nbsp;<i class="zmdi zmdi-view-toc"></i>&nbsp;@Resources.FormCreate_EmployeeConsultancy</h2>
    </div>
    <div class="card">
        <div class="card-body card-padding" style="padding-bottom:400px;">
            <div id="displayErrorMessage" role="alert" hidden class="alert">
                <button class="close" type="button"><span aria-hidden="true">×</span></button>
                <p id="messageContent"></p>
            </div>
            <div id="update-message" class="alert" style="display: none; color: #000"></div>

            <form id="FormCreateEmployeeConsultancyMaster" method="post">
                
                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <span style="color:red">*</span>@Html.LabelFor(model => model.ConsultancyName, new { style = "" })
                        <div class="form-group fg-line">
                            @Html.TextBoxFor(model => model.ConsultancyName, new { @class = "form-control",style = "", maxlength = "150" })
                        </div>
                        @Html.ValidationMessageFor(model => model.ConsultancyName)
                    </div>

                    <div class="col-sm-4">
                        <span style="color:red">*</span>@Html.LabelFor(model => model.TitleOfAssignment, new { style = "" })
                        <div class="form-group fg-line">
                            @Html.TextBoxFor(model => model.TitleOfAssignment, new { @class = "form-control", style = "", maxlength = "100" })
                        </div>
                        @Html.ValidationMessageFor(model => model.TitleOfAssignment)
                    </div>

                    <div class="col-sm-4">
                        <span style="color:red">*</span>@Html.LabelFor(model => model.ConsultancyDate, new { style = "" })
                        <div class="form-group fg-line dtp-container">
                            @Html.TextBoxFor(model => model.ConsultancyDate, new { @class = "form-control", style = "background-color:#fff;", maxlength = "100", @readonly = "readonly" })
                        </div>
                        @Html.ValidationMessageFor(model => model.ConsultancyDate)
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <span style="color:red">*</span>@Html.LabelFor(model => model.ConsultancyCost, new { style = "" })
                        <div class="form-group  fg-line">
                            @Html.TextBoxFor(model => model.ConsultancyCost, new { @class = "form-control", style = "text-align:right", maxlength = "60", Value = "" })
                        </div>
                        @Html.ValidationMessageFor(model => model.ConsultancyCost)
                    </div>

                    <div class="col-sm-4">
                        <span style="color:red">*</span>@Html.LabelFor(model => model.EmployeeShare, new { style = "" })
                        <div class="form-group  fg-line">
                            @Html.TextBoxFor(model => model.EmployeeShare, new { @class = "form-control", style = "text-align:right", maxlength = "60", Value = "" })
                        </div>
                        @Html.ValidationMessageFor(model => model.EmployeeShare)
                    </div>

                    <div class="col-sm-4">
                        <span style="color:red">*</span>@Html.LabelFor(model => model.AssignmentFromDate, new { style = "" })
                        <div class="form-group fg-line dtp-container">
                            @Html.TextBoxFor(model => model.AssignmentFromDate, new { @class = "form-control", @readonly = "readonly", style = "background-color:#fff;" })
                        </div>
                        @Html.ValidationMessageFor(model => model.AssignmentFromDate)
                    </div>

                    

                </div>
                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <span style="color:red">*</span>@Html.LabelFor(model => model.AssignmentToDate, new { style = "" })
                        <div class="form-group fg-line dtp-container">
                            @Html.TextBoxFor(model => model.AssignmentToDate, new { @class = "form-control", @readonly = "readonly", style = "background-color:#fff;" })
                        </div>
                        @Html.ValidationMessageFor(model => model.AssignmentToDate)
                    </div>

                    <div class="col-sm-4">
                        <span style="color:red">*</span>@Html.LabelFor(model => model.ConsultingFromDate, new { style = "" })
                        <div class="form-group fg-line dtp-container">
                            @Html.TextBoxFor(model => model.ConsultingFromDate, new { @class = "form-control", @readonly = "readonly", style = "background-color:#fff;" })
                        </div>
                        @Html.ValidationMessageFor(model => model.ConsultingFromDate)
                    </div>

                    <div class="col-sm-4">
                        <span style="color:red">*</span>@Html.LabelFor(model => model.ConsultingToDate, new { style = "" })
                        <div class="form-group fg-line dtp-container">
                            @Html.TextBoxFor(model => model.ConsultingToDate, new { @class = "form-control", @readonly = "readonly", style = "background-color:#fff;" })
                        </div>
                        @Html.ValidationMessageFor(model => model.ConsultingToDate)
                    </div>

                    
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <span style="color:red">*</span>@Html.LabelFor(model => model.EmployeeRemark, new { style = "" })
                        <div class="form-group  fg-line">
                            @Html.TextAreaFor(model => model.EmployeeRemark, new { @class = "form-control", style = "", maxlength = "200" })
                        </div>
                    </div>
                </div>



                <div class="col-sm-12">
                    <div class="form-group">
                        <button type="button" id="btnCreateEmployeeConsultancyMaster" class="btn btn-primary">@Resources.ButtonAction_Submit</button>
                        <button type="button" id="reset" class="btn btn-default">@Resources.ButtonAction_Reset</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        EmployeeConsultancyMaster.Initialize();
    });
</script>










