@model AMS.ViewModel.SalePromotionActivityMasterAndDetailsViewModel
@Html.HiddenFor(model => model.IsActivted)
@Html.HiddenFor(model => model.GeneralUnitsID)
@Html.HiddenFor(model => model.SalePromotionActivityMasterID)
<div id="custom-content">
    <div class="block-header">
        <h2>&nbsp;<i class="zmdi zmdi-view-toc"></i>&nbsp; &nbsp;Sale Promotion Deactivate Plan</h2>
    </div>
    <div class="card">
        <div class="card-body card-padding">
            <div id="displayErrorMessage" role="alert" hidden class="alert">
                <button class="close" type="button"><span aria-hidden="true">×</span></button>
                <p id="messageContent"></p>
            </div>
            <form id="FormCreateDeactivateActivity" role="form" class="row">
                <div class="form-group col-sm-6">
                    <div class="form-group fg-line">
                        <span style="color:red">*</span> @Html.LabelFor(model => model.Name, new { })
                        @Html.TextBoxFor(model => model.Name, new { maxlength = "100", @class = "form-control input-sm ", disabled = "disabled" })

                    </div>
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
                <div class="form-group col-sm-6">
                    <div class="form-group fg-line">
                        <span style="color:red">*</span> @Html.LabelFor(model => model.PlanTypeCode, new { })
                        @Html.TextBoxFor(model => model.PlanTypeCode, new { maxlength = "100", @class = "form-control input-sm ", disabled = "disabled" })


                    </div>
                    @Html.ValidationMessageFor(model => model.PlanTypeCode)
                </div>
                <div class="form-group col-sm-4">
                    <div class="form-group fg-line">
                        <span style="color:red">*</span> @Html.LabelFor(model => model.FromDate, new { })
                        @Html.TextBoxFor(model => model.FromDate, new { maxlength = "50", @class = "form-control input-sm ", disabled = "disabled" })

                    </div>
                    @Html.ValidationMessageFor(model => model.FromDate)
                </div>
                <div class="form-group col-sm-4">
                    <div class="form-group fg-line">
                        <span style="color:red">*</span> @Html.LabelFor(model => model.UptoDate, new { })
                        @Html.TextBoxFor(model => model.UptoDate, new { maxlength = "50", @class = "form-control input-sm " })

                    </div>
                    @Html.ValidationMessageFor(model => model.UptoDate)
                </div>
                  <div class="form-group col-sm-4">
                    <div class="form-group fg-line">
                        <span style="color:red">*</span> @Html.LabelFor(model => model.PromotionFor, new { })
                                 @Html.DropDownList("PromotionFor", ViewData["PromotionFor"] as List<SelectListItem>,"--Select Promotion For--", new { @class = "form-control input-sm", disabled = "disabled" })
                    </div>
                    @Html.ValidationMessageFor(model => model.PromotionFor)
                </div>
                @if (Model.IsActivted == true)
                { 
                    <div class="form-group col-sm-12">
                        <input class="btn btn-primary" style="margin-left:1%" value="@Resources.ButtonAction_Submit" id="CreateDeactivateActivityRecord" type="button" />
                    </div>

                }
                </form>
            </div>
        </div>
    </div>

    <script src="@Url.Content("~/Scripts/jquery.validate-1.15.0.js") " type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
    <script src="~/Content/materialtheme/vendors/bower_components/typeahead.js/dist/typeahead.bundle.js"></script>

    <script src="@Url.Content("~/Content/materialtheme/vendors/bower_components/moment/min/moment.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/materialtheme/vendors/bower_components/nouislider/distribute/jquery.nouislider.all.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/materialtheme/vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js")" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#FromDate").datetimepicker({
                format: 'DD MMMM YYYY',

            });

            var selectedFromDate = $("#FromDate").val();
            var selectedFromDateInDateFormat = new Date(selectedFromDate);
            var minDate = selectedFromDateInDateFormat;
            if (selectedFromDateInDateFormat < moment()) {
                minDate = moment().format('DD MMMM YYYY');
            }
            
            if ($("#IsActivted").val() == "False")
            {
                var UptoDate = $("#UptoDate").val();
                minDate = new Date(UptoDate)
            }

            $("#UptoDate").datetimepicker({
                format: 'DD MMMM YYYY',
                minDate: minDate,
            });

            //$("#UptoDate").on("keydown", function () {
            //    var keycode = (e.keyCode ? e.keyCode : e.which);
            //    if (keycode != 9) {
            //        return false;
            //    }
            //`
            SalePromotionActivityMasterAndDetails.Initialize();


        });
    </script>
