@*@model AMS.ViewModel.EmployeeAssociatesProfessionalBodiesViewModel
@{
   
    Layout = null;
}
@Html.HiddenFor(model => model.EmployeeID)
@if (ViewBag.Data == 1)
{
    <h3 class="my-caption">@Resources.DisplayName_AssociationwithProfessionalBodies </h3>
    
    <div id="my-Qualification" style="position: relative; overflow: visible; transform: translateZ(0px); background-color: rgb(229, 227, 223);">
        <div class="row-fluid">
            <div class="span12">

                <div class="nonboxy-widget">
                    <div class="widget-head">
                        <h5 class="pull-left"><i class="black-icons list_images"></i>@Resources.DisplayName_AssociationwithProfessionalBodies </h5>

                    </div>
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
                        <table id="DataTables_Table_0" class="data-tbl-striped table table-striped table-bordered dataTable">
                            <thead>
                                <tr role="row">
                                    <th aria-label=" Task : activate to sort column ascending" style="width: 70%; background-color: #fff; text-align: center" colspan="1" rowspan="1" aria-controls="DataTables_Table_0" tabindex="0" role="columnheader">@Resources.TableHeaders_ActivityName</th>
                                    <th aria-label=" Task : activate to sort column ascending" style="width: 30%; background-color: #fff; text-align: center" colspan="1" rowspan="1" aria-controls="DataTables_Table_0" tabindex="0" role="columnheader">@Resources.TableHeaders_Duration</th>
                                </tr>
                            </thead>
                            @foreach (var item in ViewBag.ListEmployeeAssociatesProfessionalBodiesDetails)
                            {
                                <tbody aria-relevant="all" aria-live="polite" role="alert">
                                    <tr class="odd">
                                        <td style="text-align:left">@item.ActivityName</td>
                                     
                                        <td style="text-align:center">@item.FromPeriod - @item.UptoPeriod</td>
                                    </tr>
                                </tbody>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}*@

@*----------------------------------------------new code-------------------------------------------------*@


@model AMS.ViewModel.EmployeeAssociatesProfessionalBodiesViewModel
@{
   
    Layout = null;
}
@Html.HiddenFor(model => model.EmployeeID)
@if (ViewBag.Data == 1)
{
    <div class="col-sm-12">
        <div class="card rating-list">
            <div class="listview">
                <div class="lv-header">
                    <div class="m-t-0">
                        @Resources.DisplayName_AssociationwithProfessionalBodies
                    </div>
                    <div class="clearfix"></div>
                </div>

                @*<div class="lv-body">*@
                <div class="table-responsive" id="DataTables_Table_0_wrapper">
                    <table id="DataTables_Table_0" class="table">
                        <thead>
                            <tr class="success c-white">
                                <th>@Resources.TableHeaders_ActivityName</th>
                                <th>@Resources.TableHeaders_Duration</th>
                            </tr>
                        </thead>
                        @foreach (var item in ViewBag.ListEmployeeAssociatesProfessionalBodiesDetails)
                        {
                            <tbody>
                                <tr class="active">
                                    <td>@item.ActivityName</td>
                                    <td>@item.FromPeriod - @item.UptoPeriod</td>
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
                @*</div>*@
            </div>
        </div>
    </div>

}