
@*@if(ViewBag.Data== 1)
{
    
 <h3 class="my-caption">@Resources.DisplayName_Specailisation_Research_Area</h3>

<div id="my-Specialsation" style="position: relative; overflow: visible; transform: translateZ(0px); background-color: rgb(229, 227, 223);">
    <div class="row-fluid">
        <div class="span12">
            <div class="nonboxy-widget">
                <div class="widget-head">
                    <h5 class="pull-left"><i class="black-icons list_images"></i>@Resources.DisplayName_SpecailisationDetails</h5>

                </div>
                <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper" role="grid">
                    <table id="DataTables_Table_1" class="data-tbl-striped table table-striped table-bordered dataTable">
                        <thead>
                            <tr role="row">
                                <th aria-label=" Task : activate to sort column ascending" style="width: 30%; background-color: #fff; text-align: center" colspan="1" rowspan="1" aria-controls="DataTables_Table_0" tabindex="0" role="columnheader">@Resources.TableHeaders_FieldofSpecialization</th>
                                <th aria-label=" Dead Line : activate to sort column ascending" style="width: 70%; background-color: #fff; text-align: center" colspan="1" rowspan="1" aria-controls="DataTables_Table_0" tabindex="0" role="columnheader">@Resources.TableHeaders_ResearchAreaAreasofInterest</th>
                            </tr>
                        </thead>
                        @foreach (var item in ViewBag.ListEmployeeSpecializationResearchAreaDetails)
                        {
                            <tbody aria-relevant="all" aria-live="polite" role="alert">
                                <tr class="odd">
                                    <td style="text-align:left">@item.SpecializationField</td>
                                    <td style="text-align:left">@item.ResearchArea </td>                                   
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
}*@

@*-------------------new code--------------------------------*@




@if(ViewBag.Data== 1)
{
    <div class="col-sm-12">
        <div class="card rating-list">
            <div class="listview">
                <div class="lv-header">
                    <div class="m-t-0">
                        @Resources.DisplayName_Specailisation_Research_Area - @Resources.DisplayName_SpecailisationDetails
                    </div>
                    <div class="clearfix"></div>
                </div>

                @*<div class="lv-body">*@
                <div class="table-responsive" id="DataTables_Table_1_wrapper">
                    <table id="DataTables_Table_1" class="table">
                        <thead>
                            <tr class="success c-white">
                                <th>@Resources.TableHeaders_FieldofSpecialization</th>
                                <th>@Resources.TableHeaders_ResearchAreaAreasofInterest</th>
                            </tr>
                        </thead>
                        @foreach (var item in ViewBag.ListEmployeeSpecializationResearchAreaDetails)
                        {
                            <tbody>
                                <tr class="active">
                                    <td>@item.SpecializationField</td>
                                    <td>@item.ResearchArea </td>
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
                @*</div>*@
            </div>
        </div>
    </div>

}