@*
    @model AMS.ViewModel.LeaveApplicationViewModel
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    @Styles.Render("~/Content/Vendors")
    <script src="@Url.Content("~/Scripts/AMS_Scripts/Leave/LeaveApplicationSelf.js")" type="text/javascript"></script>


    <div class="container-fluid">
        <ul class="breadcrumb">
            <li>@Resources.Mainheading_Leave<span class="divider">»</span></li>
            <li class="active">@Resources.FormName_LeaveApplicationSelf</li>
        </ul>
        <div id="SuccessMessage" style="display: none; color: #000;" class="alert"></div>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-block">

                    <div class="widget-head">
                        <h5>@Resources.FormName_LeaveApplicationSelf <span style="float: right; margin-right: 5px;">@Model.LeaveSession</span></h5>
                    </div>
                    <div class="widget-content">
                        <div class="widget-box">
                            <form id="FormCreateLeaveApplicationSelf" class="form-horizontal well white-box" style="padding-bottom: 0px;" method="post" enctype="multipart/form-data" action="~/LeaveApplicationSelf/SaveFile">
                                <fieldset>
                                    <div class="span9">

                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true)
                                        @Html.HiddenFor(model => model.EmployeeID)
                                        @Html.HiddenFor(model => model.LeaveSessionID)
                                        @Html.HiddenFor(model => model.CentreCode)
                                        @Html.HiddenFor(model => model.LeaveRuleMasterID)
                                        @Html.HiddenFor(model => model.IsCompensatory)
                                        @Html.HiddenFor(model => model.FileName)
                                        <div class="control-group">
                                            <div class="span5">
                                                <label class="span4" style="font-weight: bold; text-align: right;">@Resources.DisplayName_LeaveType</label>
                                                <div class="span8">
                                                    @Html.DropDownListFor(m => m.LeaveMasterID, (SelectList)ViewBag.LeaveMaster, @Resources.ddlHeader_LeaveType, new { style = "width:210px;font-Weight:Bold" })
                                                    <br />
                                                    @Html.ValidationMessageFor(model => model.LeaveMasterID)
                                                </div>
                                            </div>
                                            <div class="span4">
                                            </div>
                                        </div>

                                        <div id="Div_DatesAndRemark" style="display: none">
                                            <div id="divdate" class="control-group">
                                                <div class="span5">
                                                    <label class="span4" style="font-weight: bold; text-align: right;" for="prependedInput">
                                                        @Html.LabelFor(model => model.FromDate, new { style = "font-Weight:Bold;" })
                                                    </label>
                                                    <div class="span8">
                                                        @Html.TextBoxFor(model => model.FromDate, new { @class = "txtbox", Value = "", ReadOnly = "True", style = "font-weight:bold" })
                                                     <br />
                                                        @Html.ValidationMessageFor(model => model.FromDate)
                                                    </div>
                                                </div>
                                                <div class="span4">
                                                    <label class="span6" style="font-weight: bold; text-align: right;" for="prependedInput">
                                                        @Html.LabelFor(model => model.IsFirstHalf, new { style = "font-Weight:Bold;" })
                                                    </label>
                                                    <div class="span3">
                                                        @Html.CheckBoxFor(model => model.IsFirstHalf, new { @class = "txtbox", Value = "", disabled = "disabled", style = "font-weight:bold" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="divdate1" class="control-group">
                                                <div class="span5">
                                                    <label class="span4" style="font-weight: bold; text-align: right;" for="prependedInput">
                                                        @Html.LabelFor(model => model.UptoDate, new { style = "font-Weight:Bold;" })
                                                    </label>
                                                    <div class="span8">
                                                        @Html.TextBoxFor(model => model.UptoDate, new { @class = "txtbox", Value = "", disabled = "disabled", ReadOnly = "True", style = "font-weight:bold" })
                                                        <br />
                                                        @Html.ValidationMessageFor(model => model.UptoDate)
                                                    </div>
                                                </div>
                                                <div class="span4">
                                                    <label class="span6" style="font-weight: bold; text-align: right;" for="prependedInput">
                                                        @Html.LabelFor(model => model.IsSecondHalf, new { style = "font-Weight:Bold;" })
                                                    </label>
                                                    <div class="span3">
                                                        @Html.CheckBoxFor(model => model.IsSecondHalf, new { @class = "txtbox", Value = "", disabled = "disabled", style = "font-weight:bold" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div id="divreasonRemark" class="control-group">
                                                <div class="span10">
                                                    @Html.LabelFor(model => model.LeaveReason, new { @class = "span2", resize = "both;", style = "font-Weight:Bold; text-align: right;" })

                                                    <div class="span7">
                                                        @Html.TextAreaFor(model => model.LeaveReason, new { @class = "span12", style = "font-weight:bold" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div id="divAttachedDocument" class="control-group" style="display: none">
                                                <div class="span10">
                                                    @Html.LabelFor(model => model.LeaveAttachedDocumentID, new { @class = "span2", resize = "both;", style = "font-Weight:Bold; text-align: right;" })

                                                    <div class="span7">
                                                        @Html.TextBoxFor(model => model.MyFile, new { type = "file" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="control-group" id="btnSubmit">
                                            <div class="span5">
                                                <label class="span4" style="font-weight: bold; text-align: right;">&nbsp;</label>
                                                <div class="span8">
                                                    <input id="CreateLeaveApplicationSelfRecord" type="button" value="@Resources.ButtonAction_Submit" class="btn btn-primary" style="width: 75px; display:none" onclick="this.form.submit()" />
                                                </div>
                                            </div>
                                            <div class="span4">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span3">
                                        <div class="content-wizard">
                                            <ul class="clearfix anchor">

                                                <li>
                                                    <a style="color: #f89406" class="selected" isdone="1" rel="1">
                                                    <input id="NumberOfLeaves" style="border: none; float: left" class="btnclass" value="0" type="button" />
                                                    <span class="stepDesc" style="text-transform: none; font-weight: 100">@Resources.DisplayMenu_EntitledLeaves<small>&nbsp;&nbsp;</small>
                                                    </span>
                                                    </a>
                                                </li>
                                                <li style="display: none"><a style="color: #f89406" class="selected" isdone="0" rel="2">
                                                    <input id="MaxLeaveAtTime" style="border: none; float: left" class="btnclass" value="0" type="button" />
                                                    <span class="stepDesc" style="text-transform: none; font-weight: 100">@Resources.DisplayMenu_MaxLeavesataTime<small>&nbsp;&nbsp;</small></span></a></li>
                                                <li style="margin-right: 20px;">
                                                    <a style="color: #f89406" class="selected" isdone="0" rel="4">
                                                        <input id="TotalBalanceLeaves" style="border: none; float: left" class="btnclass" value="0" type="button" />
                                                        <span class="stepDesc" style="text-transform: none; font-weight: 100">@Resources.DisplayMenu_BalanceLeaves<small>&nbsp;&nbsp;</small></span>
                                                    </a>
                                                </li>
                                                <li><a style="color: #f89406" class="selected" isdone="0" rel="3">
                                                    <input id="totalLeaves" style="border: none; float: left" class="btnclass" value="0" type="button" />
                                                    <span class="stepDesc" style="text-transform: none; font-weight: 100">@Resources.DisplayMenu_AppliedLeave<small>&nbsp;&nbsp;</small></span></a></li>
                                                <li>
                                                    <a style="color: #f89406" class="selected" isdone="0" rel="3">
                                                        <input id="BalanceLeave" style="border: none; float: left" class="btnclass" value="0" type="button" />
                                                        <span class="stepDesc" style="text-transform: none; font-weight: 100">Remaining Leaves<small>&nbsp;&nbsp;</small></span>
                                                    </a>
                                                </li>

                                                <li style="display: none"><a style="color: #f89406" class="selected" isdone="0" rel="4">
                                                    <input id="ExtraLeave" style="border: none; float: left" class="btnclass" value="0" type="button" />
                                                    <span class="stepDesc" style="text-transform: none; font-weight: 100">Extra Leave<small>&nbsp;&nbsp;</small></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="span11" id="divCompensatoryOffDay" style="display: none">
                                        <h6>@Resources.FormName_CompensatoryOffDayApplication</h6>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container-fluid" id="ListViewModel">
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            LeaveApplicationSelf.Initialize();
            LeaveApplicationSelf.LoadList();

        });
    </script>

    <style>
        .btnclass {
            background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(255, 103, 15, 1) 0%, rgba(229, 82, 13, 1) 100%) repeat scroll 0 0;
            /*background-image: -webkit-linear-gradient(top, #de764d, #de764d);
            background-image: -moz-linear-gradient(top, #de764d, #de764d);
            background-image: -ms-linear-gradient(top, #de764d, #de764d);
            background-image: -o-linear-gradient(top, #de764d, #de764d);
            background-image: linear-gradient(to bottom, #de764d, #de764d);*/
            -webkit-border-radius: 28;
            -moz-border-radius: 28;
            border-radius: 28px;
            font-family: Arial;
            color: #ffffff;
            font-size: 16px;
            font-weight: bold;
            padding: 8px 8px 8px 8px;
            text-decoration: none;
        }
    </style>
*@

@model AERP.ViewModel.LeaveApplicationViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .mfp-content {
        width: 60%;
    }

    /*.btn-primary {
    width:40px;
    height:35px;
    }*/
</style>


<script src="@Url.Content("~/Scripts/jquery.validate.min.js") " type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>





<div class ="container">
    <div class="block-header">
        <h2 style="text-transform: none;"><i class="zmdi zmdi-view-toc"></i>&nbsp;@Resources.FormName_LeaveApplicationSelf</h2>
    </div>
<div class="card">
    <div class="card-header">
        <h2></h2>
    </div>

    <div class="card-body card-padding">
        <div class="row">
                <form id="FormCreateLeaveApplicationSelf" method="post" enctype="multipart/form-data" action="~/LeaveApplicationSelf/SaveFile">
                @*<form id="FormCreateLeaveApplicationSelf" method="post" enctype="multipart/form-data">*@
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.EmployeeID)
                        @Html.HiddenFor(model => model.LeaveSessionID)
                        @Html.HiddenFor(model => model.CentreCode)
                        @Html.HiddenFor(model => model.LeaveRuleMasterID)
                        @Html.HiddenFor(model => model.IsCompensatory)
                        @Html.HiddenFor(model => model.FileName)
                        <div class="col-sm-9">

                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    @Resources.DisplayName_LeaveType
                                    <div class="form-group fg-line select">
                                        @Html.DropDownListFor(m => m.LeaveMasterID, (SelectList)ViewBag.LeaveMaster, @Resources.ddlHeader_LeaveType, new { @class = "form-control", style = "" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.LeaveMasterID)
                                </div>
                            </div>

                            <div id="Div_DatesAndRemark" class="col-sm-12" style="display: none">
                                @*style="display: none"*@

                                <div id="divdate" class="control-group col-sm-12">
                                    <div class="col-sm-5">
                                        @Html.LabelFor(model => model.FromDate, new { style = "" })
                                        <div class="form-group fg-line dtp-container">
                                            @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control", ReadOnly = "True", style = "background-color:#fff;", data_val = "true", data_toggle = "tooltip", data_placement = "top", data_original_title = "From Date*" })
                                            @*@Html.TextBoxFor(model => model.FromDate, new { Value = "" + DateTime.Now.ToString("DD MMMM YYYY") + "", @class = "form-control", ReadOnly = "True", style = "background-color:#fff;", data_val = "true", data_toggle = "tooltip", data_placement = "top", data_original_title = "From Date*" })*@
                                            @*@Html.TextBoxFor(model => model.FromDate, new { Value = "" + DateTime.Now.ToString("d MMM yyyy") + "", @class = "form-control", data_val = "true", data_toggle = "tooltip", data_placement = "top", data_original_title = "From Date*" })*@
                                        </div>
                                        @Html.ValidationMessageFor(model => model.FromDate)
                                    </div>

                                    <div class="col-sm-5">
                                        <div class="checkbox m-b-15" style="padding-top:8%;">
                                            <label>
                                                <input type="checkbox" id="IsFirstHalf" disabled="disabled">
                                                <i class="input-helper"></i>
                                                @Html.LabelFor(model => model.IsFirstHalf)
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div id="divdate1" class="control-group col-sm-12">
                                    <div class="col-sm-5">
                                        @Html.LabelFor(model => model.UptoDate, new { style = "" })
                                        <div class="form-group fg-line dtp-container">
                                            @Html.TextBoxFor(model => model.UptoDate, new { @class = "form-control", disabled = "disabled", style = "background-color:#fff;", data_val = "true", data_toggle = "tooltip", data_placement = "top", data_original_title = "Upto Date*" })
                                            @*@Html.TextBoxFor(model => model.UptoDate, new { @class = "form-control", disabled = "disabled", @placeholder = Resources.DisplayName_JobEndDate, style = "background-color: #ffffff;", data_toggle = "tooltip", data_placement = "top", data_original_title = "Upto Date" })*@
                                        </div>
                                        @Html.ValidationMessageFor(model => model.UptoDate)
                                    </div>

                                    <div class="col-sm-5">
                                        <div class="checkbox m-b-15" style="padding-top:8%;">
                                            <label>
                                                <input type="checkbox" id="IsSecondHalf" disabled="disabled">
                                                <i class="input-helper"></i>
                                                @Html.LabelFor(model => model.IsSecondHalf)
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div id="divreasonRemark" class="control-group">
                                    <div class="col-sm-12">
                                        <div class="col-sm-10">
                                            @Html.LabelFor(model => model.LeaveReason, new { resize = "both;", style = "" })
                                            <div class="form-group fg-line dtp-container">
                                                @Html.TextAreaFor(model => model.LeaveReason, new { @class = "form-control", style = "background-color:#fff;" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="divAttachedDocument" class="control-group" style="display: none">
                                    @*style="display: none"*@
                                    @*<div class="col-sm-10">
                            @Html.LabelFor(model => model.LeaveAttachedDocumentID, new { resize = "both;", style = "" })
                            <div class="form-group fg-line dtp-container">
                                @Html.TextBoxFor(model => model.MyFile, new { @class = "form-control", type = "file", disabled = "disabled", ReadOnly = "True" })
                            </div>
                        </div> *@

                                    <div class="fileinput fileinput-new" data-provides="fileinput" style="padding-top: 11px;">
                                        <span class="btn btn-primary btn-file m-r-10">
                                            <span class="fileinput-new">@Html.LabelFor(model => model.LeaveAttachedDocumentID, new { resize = "both;", style = "", disabled = "disabled", ReadOnly = "True" })</span>
                                            <span class="fileinput-exists" style="padding-top: 11px;">Choose File</span>
                                            @Html.FileFor(model => model.MyFile)
                                        </span>
                                        <span class="fileinput-filename"></span>
                                        <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="top:18px;">&times;</a>
                                    </div>
                                </div>
                                <div id="btnSubmit" class="control-group">
                                    <div class="col-sm-12">
                                        <div class="col-sm-10">
                                            <button id="CreateLeaveApplicationSelfRecord" type="button" value="@Resources.ButtonAction_Submit" class="btn btn-primary" style="display:none" onclick="this.form.submit()">@Resources.ButtonAction_Submit</button>
                                            @*<button id="CreateLeaveApplicationSelfRecord" type="button" value="@Resources.ButtonAction_Submit" class="btn btn-primary" style="display:none">@Resources.ButtonAction_Submit</button>*@
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12" id="divCompensatoryOffDay" style="display: none">
                                <h6>@Resources.FormName_CompensatoryOffDayApplication</h6>
                            </div>

                        </div>

                        <div class="col-sm-3">
                            <p class="f-500 m-b-20 c-black"><h5> @Model.LeaveSession</h5></p>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <a style="" class="selected" isdone="1" rel="1">
                                        <input id="NumberOfLeaves" class="btn btn-default btn-xs waves-effect" value="0" type="button" />
                                        &nbsp;&nbsp;@Resources.DisplayMenu_EntitledLeaves
                                    </a>
                                </li>
                                <li class="list-group-item" style="display: none">
                                    <a style="" class="selected" isdone="1" rel="1">
                                        <input id="MaxLeaveAtTime" class="btn btn-default btn-xs waves-effect" value="0" type="button" />
                                        &nbsp;&nbsp;@Resources.DisplayMenu_MaxLeavesataTime
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a style="" class="selected" isdone="1" rel="1">
                                        <input id="TotalBalanceLeaves" class="btn btn-default btn-xs waves-effect" value="0" type="button" />
                                        &nbsp;&nbsp;@Resources.DisplayMenu_BalanceLeaves
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a style="" class="selected" isdone="1" rel="1">
                                        <input id="totalLeaves" class="btn btn-default btn-xs waves-effect" value="0" type="button" />
                                        &nbsp;&nbsp;@Resources.DisplayMenu_AppliedLeave
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a style="" class="selected" isdone="1" rel="1">
                                        <input id="BalanceLeave" class="btn btn-default btn-xs waves-effect" value="0" type="button" />
                                        &nbsp;&nbsp;Remaining Leaves
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a style="" class="selected" isdone="1" rel="1">
                                        <input id="ExtraLeave" class="btn btn-default btn-xs waves-effect" value="0" type="button" />
                                        &nbsp;&nbsp;Extra Leave
                                    </a>
                                </li>
                            </ul>
                        </div>

                        

                    </form>

        </div>
    </div>

    <div id="ListViewModel" class="">
    </div>  
</div>
    
</div>

<script src="@Url.Content("~/Content/Theme/Components/moment.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/Theme/Components/bootstrap-datetimepicker.min.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/AERP_Scripts/Leave/LeaveApplicationSelf.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/Theme/vendors/bower_components/bootstrap-select/dist/js/bootstrap-select.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Content/Theme/vendors/fileinput/fileinput.min.js")" type="text/javascript"></script>



<script type="text/javascript">
    $(document).ready(function () {
        LeaveApplicationSelf.Initialize();
        LeaveApplicationSelf.LoadList();

    });
</script>

