@model AERP.ViewModel.PurchaseOrderMasterAndDetailsViewModel
<script src="@Url.Content("~/Scripts/AERP_Scripts/Purchase/PurchaseOrderMasterAndDetails.js")" type="text/javascript"></script>
<div id="custom-content">
    @Html.HiddenFor(model => model.PurchaseRequisitionMasterID)
    @Html.HiddenFor(model => model.VendorID)
    @Html.HiddenFor(model => model.PurchaseOrderType)
    <div class="block-header">
        <h2>&nbsp;<i class="zmdi zmdi-view-toc"></i>&nbsp; Manual Purchase Invoice</h2>
    </div>
    <div class="card">
        <div class="card-body card-padding">
            <div id="displayErrorMessage" role="alert" hidden class="alert">
                <button class="close" type="button"><span aria-hidden="true">×</span></button>
                <p id="messageContent"></p>
            </div>
            <form id="FormCreatePurchaseOrderMasterAndDetails" role="form">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group select fg-line">
                            @*Replace Centre by store and Store by Location*@
                            @Html.LabelFor(model => model.SelectedCentreCode, new { })
                            @Html.DropDownListFor(m => m.SelectedCentreCode, Model.ListGetAdminRoleApplicableCentreItems, "--------Select Centre-------", new { id = "SelectedCentreCode", @class = "form-control input-sm", data_val = "true", data_toggle = "tooltip", data_placement = "top", data_original_title = " Centre Name" })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group select fg-line">
                            @Html.LabelFor(model => model.GeneralUnitsID, new { })
                            @Html.DropDownListFor(model => model.GeneralUnitsID, Model.ListGetGeneralUnitsItems, "--------Select Store-------", new { @class = "form-control input-sm", data_val = "true", data_toggle = "tooltip", data_placement = "top", data_original_title = "" })
                        </div>
                    </div>
                    <div class="col-sm-3" id="divStdRequisitionLocation">
                        @Html.LabelFor(model => model.StorageLocationID, new { Style = "" })
                        <div class="form-group fg-line select">
                            @Html.DropDownListFor(model => model.StorageLocationID, Enumerable.Empty<SelectListItem>(), "--------Select Location-------", new { @class = "form-control", @Name = "SR" })
                        </div>
                    </div>
                    <div class="col-sm-3" id="VenderList">
                        Vendor
                        <div class="form-group fg-line typeahead">
                            @Html.TextBoxFor(model => model.VendorName, new { @class = "form-control", style = "" })
                        </div>
                    </div>

                </div>
                <hr>
                <div class="row" id="PurchaseOrderMasterAndDetailsManual">
                    @Html.HiddenFor(model => model.ItemNumber)
                    @Html.HiddenFor(model => model.GeneralItemCodeID)
                    @Html.HiddenFor(model => model.BarCode)
                    @Html.HiddenFor(model => model.BaseUOMQuantity)
                    @Html.HiddenFor(model => model.BaseUOMCode)
                    @Html.HiddenFor(model => model.TaxRateList)
                    @Html.HiddenFor(model => model.TaxList)
                    @Html.HiddenFor(model => model.TaxRate)
                    <!--Upto this ok-->
                    <div class="row">
                        <div class="col-sm-3">
                            @Html.LabelFor(model => model.ItemName, new { Style = "" })
                            <div class="form-group fg-line">
                                @Html.TextBoxFor(model => model.ItemName, new { @class = "form-control", style = "" })
                            </div>
                        </div>

                        <div class="col-sm-3">
                            @Html.LabelFor(model => model.Quantity, new { Style = "" })
                            <div class="form-group fg-line">
                                @Html.TextBoxFor(model => model.Quantity, new { @class = "form-control", style = "" })
                            </div>
                        </div>

                        <div class="col-sm-3">
                            @Html.LabelFor(model => model.Convertion, new { Style = "" })
                            <div class="form-group fg-line">
                                @Html.TextBoxFor(model => model.Convertion, new { @class = "form-control", style = "" })
                            </div>
                        </div>


                        <div class="col-sm-3" id="Units">
                        @Html.LabelFor(model => model.UnitCode, new { Style = "" })
                        <div class="form-group fg-line">
                            @Html.DropDownListFor(model => model.UnitCode, Enumerable.Empty<SelectListItem>(), new { @class = "form-control input-sm", data_val = "true", data_toggle = "tooltip", data_placement = "top", data_original_title = "" })
                        </div>
                    </div>
                    </div>
                    <div class="row">

                        <div class="col-sm-3">
                            @Html.LabelFor(model => model.Rate, new { Style = "" })
                            <div class="form-group fg-line">
                                @Html.TextBoxFor(model => model.Rate, new { @class = "form-control abc", style = "", disabled = "disabled" })
                            </div>
                        </div>
                        <div class="col-sm-3" style="padding-top:10px;">
                            <button type="button" id="addItem" class="btn bgm-bluegray" style="" value="addItem">Add</button>
                        </div>

                    </div>
                </div>
                <h4>Item Details</h4>
                <table id="tblData" class="table">
                    <thead>
                        <tr>
                            <th>Item Name</th>
                            <th>Unit</th>
                            <th>Quantity</th>
                            <th>Rate</th>
                            <th>Amount</th>
                            <th>Tax Amount</th>
                            <th>Gross Amount</th>
                        </tr>
                    </thead>

                    <tbody>
                        
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>@Html.LabelFor(model => model.Amount, new { })</td>
                            <td>@Model.Amount</td>
                        </tr>
                    </tfoot>
                </table>
                @*<div class="col-sm-6">
                        <div class="form-group fg-line">


                        </div>
                    </div>*@
                <div class="col-sm-3">
                    <div class="form-group fg-line">
                        @Html.LabelFor(model => model.Freight, new { })
                        @Html.TextBoxFor(model => model.Freight, new { maxlength = "80", @class = "form-control input-sm typeahead", disabled = "disabled" })
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group fg-line">
                        @Html.LabelFor(model => model.TotalTaxAmount, new { })
                        @Html.TextBoxFor(model => model.TotalTaxAmount, new { maxlength = "12", @class = "form-control input-sm typeahead", disabled = "disabled" })
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group fg-line">
                        @Html.LabelFor(model => model.Discount, new { })
                        @Html.TextBoxFor(model => model.Discount, new { maxlength = "80", @class = "form-control input-sm typeahead", disabled = "disabled" })
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group fg-line">
                        @Html.LabelFor(model => model.ShippingHandling, new { })
                        @Html.TextBoxFor(model => model.ShippingHandling, new { maxlength = "12", @class = "form-control input-sm typeahead", disabled = "disabled" })
                    </div>
                </div>

                <div class="form-group" style="margin-left:2%;">
                    <input class="btn bgm-bluegray btn-sm m-t-10 waves-effect" value="@Resources.ButtonAction_Submit" id="CreateDirectPurchaseOrderMasterAndDetailsRecord" type="button" />
                </div>
            </form>
        </div>
    </div>
</div>

<script src="@Url.Content("~/Scripts/jquery.validate.js") " type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        PurchaseOrderMasterAndDetails.Initialize();
    });
</script>
