@model AERP.ViewModel.CCRMFeedbackMasterViewModel
<section id="main" data-layout="layout-1" style="background:#bfc6ca;">
    <style>
        .table-striped > tbody > tr:nth-of-type(odd) {
            background-color: #f1dddd;
        }

        .table-striped > tbody > tr:nth-of-type(even) {
            background-color: #88e1814a;
        }
    </style>
    <div class="block-header">
        <h2 style="text-transform: none;background: #607d8b;margin-top: -100px;line-height: 2.5;color: white;"><i class="zmdi zmdi-view-toc"></i>&nbsp;Manage Feedback Master</h2>
    </div>

    <div class="card" style="margin-top:-25px;">
        <div class="card-header">
            <ul class="actions">
                @*<li class="dropdown" id="">*@
                @*<a href="" data-toggle="dropdown" title="Add New">
                        <i class="zmdi zmdi-more-vert"></i>
                    </a>*@
                @*</li>*@
                @*<ul class="dropdown-menu dropdown-menu-right">*@
                <li>
                    <a class="mfpAjaxModal" href="@Url.Action("Create", "CCRMFeedbackMaster", new { })">
                        <i class="btn btn-info " style="margin-left: -100px;color: white;font-size: initial;background: #b80c0c;">Add New</i>
                    </a>
                </li>
                @*</ul>*@

            </ul>
        </div>

        <div class="bootgrid-header container-fluid" id="data-table-command-header">
            <div class="row">
                <div class="col-sm-12 actionBar">
                    <div class="search form-group">
                        <div class="input-group">
                            <span class="zmdi icon input-group-addon glyphicon-search"></span>
                            <input type="text" id="UserSearch" placeholder="Search" class="search-field form-control">
                        </div>
                    </div>
                    <div class="actions btn-group">
                        <div class="dropdown btn-group">
                            <button data-toggle="dropdown" type="button" class="btn btn-default dropdown-toggle">
                                <span class="dropdown-text" id="tblDisplayRowLength">@Resources.GlobalProperties_10</span> <span class="caret"></span>
                            </button>
                            <ul role="menu" style="cursor: pointer" id="showrecords" class="dropdown-menu pull-right">
                                <li class="active" aria-selected="true">
                                    <a class="dropdown-item dropdown-item-button" data-action="@Resources.GlobalProperties_10">@Resources.GlobalProperties_10</a>
                                </li>
                                <li aria-selected="false">
                                    <a class="dropdown-item dropdown-item-button" data-action="@Resources.GlobalProperties_25">@Resources.GlobalProperties_25</a>
                                </li>
                                <li aria-selected="false"><a class="dropdown-item dropdown-item-button" data-action="@Resources.GlobalProperties_50">@Resources.GlobalProperties_50</a></li>
                            </ul>
                        </div>
                        <div class="dropdown btn-group">
                            <button data-toggle="dropdown" type="button" class="btn btn-default dropdown-toggle" aria-expanded="false">
                                <span class="dropdown-text">
                                    <span class="zmdi icon zmdi-view-module"></span>
                                </span><span class="caret"></span>
                            </button>
                            <ul role="menu" id="toggleTableColumn" class="dropdown-menu pull-right">



                                <li>
                                    <div class="checkbox">
                                        <label class="dropdown-item" aria-disabled="false">
                                            <input type="checkbox" checked="checked" class="dropdown-item-checkbox" value="0" name="FeedbackName">
                                            Feedback Name<i class="input-helper"></i>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label class="dropdown-item" aria-disabled="false">
                                            <input type="checkbox" checked="checked" class="dropdown-item-checkbox" value="0" name="FeedbackPoints">
                                            Feedback Points<i class="input-helper"></i>
                                        </label>
                                    </div>
                                </li>

                                <li>
                                    <div class="checkbox">
                                        <label class="dropdown-item" aria-disabled="false">
                                            <input type="checkbox" checked="checked" class="dropdown-item-checkbox" value="2" name="Actions">
                                            @Resources.DisplayName_Actions<i class="input-helper"></i>
                                        </label>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <table id="myDataTable" class="table table-striped table-vmiddle table-responsive ">
            <thead>
                <tr>

                    <th>Feedback Name</th>
                    <th>Feedback Points</th>
                    <th>@Resources.DisplayName_Actions</th>
                </tr>
            </thead>
        </table>
    </div>
    @*</div>*@

    <script type="text/javascript">
        $(document).ready(function () {
            var oTable;
            CCRMFeedbackMaster.Initialize();
            oTable = $('#myDataTable').DataTable({
                "bServerSide": true,
                "sAjaxSource": "CCRMFeedbackMaster/AjaxHandler",
                "bJQueryUI": true,
                "sScrollY": false,
                "bProcessing": true,
                "sPaginationType": "full_numbers",
                "oLanguage": {
                    "sInfoEmpty": "No entries to show",
                },
                "columnDefs": [


                                {
                                    "targets": 0,
                                    "bSearchable": true,
                                    "data": null,
                                    "render": function (data, type, full, meta) {
                                        var result = "<p  style=' height:5px;'>" + data[0] + "</p>";
                                        return result;
                                    }

                                },
                                 {
                                     "targets": 1,
                                     "bSearchable": true,
                                     "data": null,
                                     "render": function (data, type, full, meta) {
                                         var result = "<p  style=' height:5px;'>" + data[2] + "</p>";
                                         return result;
                                     }

                                 },
                                {
                                    "targets": 2,
                                    "bSortable": false,
                                    "data": null,
                                    "render": function (data, type, full, meta) {

                                        var result1 = '@Html.ActionLink("Edit1", "Edit", new { ID = '1' }, new { @class = "mfpAjaxModal" })';
                                        result1 = result1.replace('1', data[1]);
                                        //result1 = result1.replace("Edit1", '<i class="icon-edit" title="@Resources.ToolTip_Edit"></i>');
                                        result1 = result1.replace("Edit1", '<button title="@Resources.ToolTip_Edit" class="btn btn-default"><i class="zmdi zmdi-edit"></i></button>');

                                        var result2 = '@Html.ActionLink("Delete1", "Delete", new { ID = '1' }, new { @class = "ajax  cboxElement" })';
                                        result2 = result2.replace('1', data[2]);
                                        //result2 = result2.replace("Delete1", '<i class="icon-trash" title="@Resources.ToolTip_Delete"></i>');
                                        result2 = " <a href=\"javascript:void(0);\" data-toggle=\"tooltip\"class=\"btn btn-default waves-effect\" onclick=\"fancyBoxPopUpAjax('Delete Feedback Master','Do you want to delete Feedback Master?','error','btn-danger 2.','Yes!','/CCRMFeedbackMaster/Delete?ID=" + data[1] + "','content','page-loader','CCRMFeedbackMaster')\"><span class=\"zmdi zmdi-delete waves-effect\"></span></a>";

                                        var result = "<p  style=''>" + result1 + " " + result2 + "</p>";

                                        return result;
                                    }
                                }
                ]
            });

            DataTableSettings(oTable, "myDataTable", "toggleTableColumn");
        });
    </script>
</section>





