@model AERP.ViewModel.GeneralItemMasterViewModel
<input type="hidden" id="TaskCode" value="GeneralItemUoMData" />
@Html.HiddenFor(model => model.GeneralItemMasterID)
@Html.HiddenFor(model => model.TaskCode)
@Html.HiddenFor(model => model.GeneralItemCodeID)
<style>
    .actions > li > a::before, .actions > a::before {
        height: 0;
    }


    .btn-float {
        border-radius: 50%;
        height: 40px;
        line-height: 35px !important;
        width: 40px;
    }

    .mfp-content {
        width: 20%;
    }
</style>


<div id="custom-content">
    <div class="card">
        <div class="card-body card-padding">
            <div id="displayErrorMessage" role="alert" hidden class="alert">
                <button class="close" type="button"><span aria-hidden="true">×</span></button>
                <p id="messageContent"></p>
            </div>
            <form id="FormCreateInventoryUoMGroupAndDetail" role="form" class="row">
                <div class="row col-sm-12">
                    <div class="col-sm-2">
                        <div class="form-group fg-line">
                          
                            @Html.HiddenFor(model => model.GeneralItemCodeID)
                            @Html.LabelFor(model => model.UomCode, new { })
                            @Html.DropDownListFor(model => model.UomCode, (SelectList)ViewBag.InventoryUoMMasterForUomCodeList, "--Uom Code--", new { @class = "form-control input-sm" })
                        </div>
                    </div>

                    <div class="col-sm-2" style=" margin-left:-20px">
                        <div class="form-group fg-line">
                            @*@Html.LabelFor(model => model.AltQty, new { })*@
                            <label class="fg-label">Conversion</label>
                            @Html.TextBoxFor(model => model.BaseQty, new { maxlength = "12",@class = "form-control input-sm typeahead", Value = ""})

                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group fg-line">
                            @*@Html.LabelFor(model => model.AltQty, new { })*@
                            <label class="fg-label">&nbsp;Lower Level UoM</label>
                            @*@Html.TextBoxFor(model => model.BaseUoMcode, new { @class = "form-control input-sm typeahead", Value = "" })*@
                            @Html.DropDownListFor(model => model.BaseUoMcode, (SelectList)ViewBag.InventoryUoMMasterForUomCodeList, "--Lower Level Uom--", new { @class = "form-control input-sm" })
                        </div>
                    </div>

                    <div class="col-sm-1" style="width:auto;margin-left:-15px">
                        <label style="margin-top: 8%; margin-bottom: 3%;">
                            <label class="fg-label">Base UoM</label><br /><br />
                            <div class="checkbox col-sm-4" style="margin-top:-7%;">
                                <input type="checkbox" id="IsBaseUom" name="IsBaseUom">
                                <i class="input-helper"></i>
                            </div>
                        </label>
                    </div>
                    <div class="col-sm-1" style="width:auto;margin-left:-15px">
                        <label style="margin-top: 8%; margin-bottom: 3%;">
                            <label class="fg-label">Order Unit</label><br /><br />
                            <div class="checkbox col-sm-2" style="margin-top:-7%;">
                                <input type="checkbox" id="IsOrderUnit" name="IsOrderUnit">
                                <i class="input-helper"></i>
                            </div>
                        </label>
                    </div>

                    <div class="col-sm-1" style="width:auto;margin-left:-15px">
                        <label style="margin-top: 4%; margin-bottom: 3%;">
                            <label class="fg-label">Consumption Unit</label><br /><br />
                            <div class="checkbox col-sm-6" style="margin-top:-7%;">
                                <input type="checkbox" id="IsIssueUnit" name="IsIssueUnit">
                                <i class="input-helper"></i>
                            </div>
                        </label>
                    </div>
                    <div class="col-sm-1" style="width:auto;margin-left:-15px">
                        <label style="margin-top: 8%; margin-bottom: 3%;">
                            <label class="fg-label">Sales Unit</label><br /><br />
                            <div class="checkbox col-sm-6" style="margin-top:-7%;">
                                <input type="checkbox" id="IsSaleUnit" name="IsSaleUnit">
                                <i class="input-helper"></i>
                            </div>
                        </label>
                    </div>
                   </div>
                    <div class="row col-sm-12">
                        <div class="col-sm-3">
                            <div class="form-group fg-line">
                                @Html.LabelFor(model => model.BarCode, new { })
                                @Html.TextBoxFor(model => model.BarCode, new { @class = "form-control input-sm typeahead", maxlength = "20", minlength = "8" })
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group fg-line">
                                @Html.LabelFor(model => model.Length, new { })
                                @Html.TextBoxFor(model => model.Length, new { maxlength = "8", @class = "form-control input-sm " })
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group fg-line">
                                @Html.LabelFor(model => model.WidthOfItem, new { })
                                @Html.TextBoxFor(model => model.WidthOfItem, new { maxlength = "8", @class = "form-control input-sm " })
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group fg-line">
                                @Html.LabelFor(model => model.HeightOfItem, new { })
                                @Html.TextBoxFor(model => model.HeightOfItem, new { maxlength = "8", @class = "form-control input-sm " })
                            </div>
                        </div>
                        <div class="col-sm-2" style="display:none">
                            <div class="form-group fg-line">
                                @Html.LabelFor(model => model.Volume, new { })
                                @Html.TextBoxFor(model => model.Volume, new { maxlength = "8", @class = "form-control input-sm " })
                            </div>
                        </div>
                        <div class="col-sm-3" id="btnAdd1" style="margin-top:15px;">
                            <!-- <button type="button" class="btn btn-primary" id="btnAdd">Add Row</button> -->
                            <button type="button" title="Add row" class="btn bgm-cyan btn-float waves-effect waves-circle waves-float" id="btnAdd"><i class="zmdi zmdi-plus"></i></button>
                        </div>
                    </div>
                <br /><br />
               
                <div class="col-sm-12 row">
                    <div id="ListViewModel" class="table-responsive">
                        <div id="DivAddRowTable">
                            <table id="tblData" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th style ="font-size:small;display:none">GeneralItemcodeID</th>
                                        <th style="font-size:small">Alt Uom Code</th>
                                        <th style="font-size:small">Conversion </th>
                                        <th style="font-size:small">Lower UoM</th>
                                        <th style="font-size:small">Base Code</th>
                                        <th style="font-size:small">Order Unit</th>
                                        <th style="font-size:small">Consumption Unit</th>
                                        <th style="font-size:small">Sales Unit</th>
                                        <th style="font-size:small">Bar code</th>
                                        <th style="font-size:small">Length</th>
                                        <th style="font-size:small">Width</th>
                                        <th style="font-size:small">Height</th>
                                        <th style="font-size:small">Volume</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.GeneralItemMasterListForUoMDetails)
                                    {
                                        <tr>
                                            <td style="display:none"><input type="text" style="display:none" value="@item.GeneralItemCodeID"></td>
                                            <td>@item.UomCode<input type="text" style="display:none" value="@item.UomCode"></td>
                                            <td>
                                                <div class="form-group fg-line">
                                                    <input type="text" class="form-control" id="Convertion" value="@item.BaseQty" style="width:100px;" maxlength="12" />
                                                </div>
                                            </td>
                                            @*<td>@item.BaseQty<input type="text" style="display:none" value="@item.BaseQty"></td>*@
                                            <td>@item.LowerLevelUomCode<input type="text" style="display:none" value="@item.LowerLevelUomCode"></td>
                                            @if (@item.IsBaseUom == true)
                                            {
                                                <td><input type="checkbox" checked="checked" disabled="disabled"></td>
                                            }
                                            else
                                            {
                                                <td><input type="checkbox" disabled="disabled"></td>
                                            }
                                            @if (@item.IsOrderingUnit == true)
                                            {
                                                <td><input type="checkbox" checked="checked" id="OrderingUnitcheckbox" ></td>
                                            }
                                            else
                                            {
                                                <td><input type="checkbox" id="OrderingUnitcheckbox"></td>
                                            }
                                            @if (@item.IsIssueUnit == true)
                                            {
                                                <td><input type="checkbox" checked="checked" ></td>
                                            }
                                            else
                                            {
                                                <td><input type="checkbox" ></td>
                                            }
                                            @if (@item.IsSaleUnit == true)
                                            {
                                                <td><input type="checkbox" checked="checked" ></td>
                                            }
                                            else
                                            {
                                                <td><input type="checkbox" ></td>
                                            }
                                           
                                            <td>
                                                <div class="form-group fg-line">
                                                    <input type="text" class="form-control" id="BarCode" value="@item.BarCode" style="width:135px;" maxlength="20" minlength="8"/>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group fg-line">
                                                    <input type="text" class="form-control" id="Length1" value="@item.Length" />
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group fg-line">
                                                    <input type="text" class="form-control" id="WidthOfItem1" value="@item.WidthOfItem" />
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group fg-line">
                                                    <input type="text" class="form-control" id="HeightOfItem1" value="@item.HeightOfItem" />
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group fg-line">
                                                    <input type="text" class="form-control" id="Volume1" value="@item.Volume" disabled="disabled"/>
                                                </div>
                                            </td>
                                             @*<td>@item.BarCode<input type="text" style="display:none" value="@item.BarCode"></td>*@
                                            @*<td>@item.Length<input type="text" style="display:none" value="@item.Length"></td>
                                            <td>@item.WidthOfItem<input type="text" style="display:none" value="@item.WidthOfItem"></td>
                                            <td>@item.HeightOfItem<input type="text" style="display:none" value="@item.HeightOfItem"></td>*@
                                            @*<td>@item.Volume<input type="text" style="display:none" id="Volume" value="@item.Volume"></td>*@
                                        </tr>
                                    }
                                </tbody>
                            </table><br /><br /><br /><br />
                        </div>
                    </div>
                </div>



            </form>

        </div>

    </div>
</div>

<script src="@Url.Content("~/Scripts/jquery.validate.js") " type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/fnReloadAjax.js")" type="text/javascript"></script>



<script type="text/javascript">
    GeneralItemMaster.Initialize();

  
    //function ListViewReload() {
    //    var Table = $('#myDataTable').dataTable();
    //    Table.fnReloadAjax('InventoryUoMGroupAndDetails/AjaxHandler');
    //};
</script>


