@model AERP.ViewModel.LeaveRuleApplicableDetailsViewModel

<form id="FormEditLeaveRuleApplicableDetails" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.ID)
    <div id="update-message" class="error invisible"></div>
    <div class="widget-block">
        <div class="widget-head">
            <h5> UpdateLeaveRuleApplicableDetails</h5>
        </div>
        <div class="widget-content">
            <div class="widget-box" style="padding: 15px">

                <div class="control-group control-label">


                    <div class="controls input-xlarge text-tip">
                        <b>hi</b>
                    </div>
                </div>
              
                <div class="form-actions" style="border: 1px solid #e5e5e5; text-align: right">
                    <input type="button" id="EditLeaveRuleApplicableDetails" value="@Resources.ButtonAction_Yes" class="btn btn-primary" />
                    <input name="" id="closeBtn" type="button" class="btn btn-secondary" value="@Resources.ButtonAction_No" />
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(document).ready(function () {
        LeaveRuleApplicableDetails.Initialize();
    });
</script>

