@model AMS.ViewModel.AccountTransactionMasterViewModel
@{

    Layout = null;
    decimal totalDebit = 0;
    decimal totalCredit = 0;
}

<script src="~/Scripts/AMS_Scripts/Dashboard/AVARPendingRequest.js"></script>
<style>
    .size {
        font-size: 12px;
        margin-left: 20%;
        font-Weight: Bold;
        margin-top: 13%;
    }

</style>

<div id="msgDiv" style="display: none; color: #000;" class="alert"></div>
<div class="widget-block" style="width: 900px;">
    <div class="widget-head">
        <h5>Account Voucher Request Approval </h5>
    </div>

    <div class="widget-box">
        <form id="FormVoucherRequestApproval" class="form-horizontal well" method="post">
            @Html.HiddenFor(m => m.TransactionMainID)
            @Html.HiddenFor(m => m.AccBalsheetMstID)
            @Html.HiddenFor(m => m.AccSessionID)
            @Html.HiddenFor(m => m.TransactionType)
            @Html.HiddenFor(m => m.NarrationDescription)
            @Html.HiddenFor(m => m.TransactionDate)

            @Html.HiddenFor(m => m.PersonID)
            @Html.HiddenFor(m => m.StageSequenceNumber)
            @Html.HiddenFor(m => m.TaskNotificationMasterID)
            @Html.HiddenFor(m => m.TaskNotificationDetailsID)
            @Html.HiddenFor(m => m.GeneralTaskReportingDetailsID)
            @Html.HiddenFor(m => m.IsLastRecord)



            <div class="nonboxy-widget">
                <div id="upload-choices" style="margin-left: 5%;">
                    <table class="table">
                        <tr>
                            <td class="size" width="30%;"><b>BalanceSheet </b></td>
                            <td>
                                <b>@Html.DisplayFor(model => model.AccBalsheetName, new { style = "font-Weight:Bold;" })</b>
                            </td>
                        </tr>
                        <tr>
                            <td class="size"><b>Voucher Date </b></td>
                            <td>
                                <b>@Html.DisplayFor(model => model.TransactionDate, new { style = "font-Weight:Bold;" })</b>
                            </td>
                        </tr>
                        <tr>
                            <td class="size"><b>Narration </b></td>
                            <td>
                                <b>@Html.DisplayFor(model => model.NarrationDescription, new { style = "font-Weight:Bold;" })</b>
                            </td>
                        </tr>
                        <tr>
                            <td class="size"><b>Voucher Number </b></td>
                            <td>
                                <b>@Html.DisplayFor(model => model.TransactionType, new { style = "font-Weight:Bold;", @Value = Model.TransactionType + "-" + Model.VoucherNumber })</b>
                            </td>
                        </tr>
                    </table>
                </div>

                <div id="tblFeeStructure" style="position: relative; overflow: visible; transform: translateZ(0px); background-color: rgb(229, 227, 223);">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="widget-head">
                                <h5 class="pull-left"><i class="black-icons list_images"></i>Voucher Details </h5>
                            </div>

                            <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper" role="grid">
                                <div class="table_content">
                                    <table id="tblVoucherDetails" class="data-tbl-striped table table-striped table-bordered dataTable" style="width: 845px; ;">
                                        <thead>
                                            <tr>
                                                <th style="background-color: #fff; text-align: center; width: 40%" aria-controls="DataTables_Table_0" rowspan="2">Particulars </th>
                                                <th style="background-color: #fff; text-align: center" aria-controls="DataTables_Table_0" colspan="2">Amount </th>
                                            </tr>
                                            <tr>
                                                <th style="background-color: #fff; text-align: center" aria-controls="DataTables_Table_0">Debit </th>
                                                <th style="background-color: #fff; text-align: center" aria-controls="DataTables_Table_0">Credit </th>
                                            </tr>
                                        </thead>
                                        <tbody aria-relevant="all" aria-live="polite" role="alert">
                                            @foreach (var item in Model.AccountVoucherDetailsList)
                                            {
                                                <tr class="odd">
                                                    <td style="text-align: left">@item.BankName</td>
                                                    @if (@item.DebitCreditFlag == "D")
                                                    {
                                                        <td style="text-align: center">@item.TransactionAmount.ToString("0.00") </td>
                                                        Convert.ToDecimal(totalDebit += @item.TransactionAmount);
                                                    }
                                                    else
                                                    {
                                                        <td style="text-align: center"></td>
                                                    }
                                                    @if (@item.DebitCreditFlag == "C")
                                                    {
                                                        <td style="text-align: center"> @Convert.ToDecimal(item.TransactionAmount * (-1)).ToString("0.00") </td>
                                                        Convert.ToDecimal(totalCredit += item.TransactionAmount * (-1));
                                                    }
                                                    else
                                                    {
                                                        <td style="text-align: center"></td>
                                                    }
                                                    <td style="display: none">
                                                        <input value="@item.AccTransDetailsID" id="accTransDetailsID" type="text" style="display:none" />
                                                        <input value="@item.AccountID" id="accountID" type="text" style="display:none" />
                                                        <input value="@item.DebitCreditFlag" id="crDrStatus" type="text" style="display:none" />
                                                        @if (@item.DebitCreditFlag == "C")
                                                        {
                                                            <input value="@Convert.ToDecimal(item.TransactionAmount * (-1)).ToString("0.00")" id="transactionAmount" type="text" style="display:none" />
                                                        }
                                                        else
                                                        {
                                                            <input value="@item.TransactionAmount" id="transactionAmount" type="text" style="display:none" />
                                                        }
                                                        <input value="@item.ChequeNo" id="chequeNo" type="text" style="display:none" />
                                                        <input value="@item.ChequeDatetime" id="chequeDatetime" type="text" style="display:none" />
                                                        <input value="@item.AccountSpecificNarration" id="accountSpecificNarration" type="text" style="display:none" />
                                                        <input value="@item.BankName" id="bankName" type="text" style="display:none" />
                                                        <input value="@item.BranchName" id="branchName" type="text" style="display:none" />
                                                        <input value="@item.PersonID" id="personID" type="text" style="display:none" />
                                                        <input value="@item.PersonType" id="personType" type="text" style="display:none" />
                                                    </td>
                                                </tr>
                                            }
                                            <tr>
                                                <td class="size" style="text-align: left">Total :</td>
                                                <td><b><span style="margin-left: 40%;">@totalDebit.ToString("0.00")</span></b></td>
                                                <td><b><span style="margin-left: 40%;">@totalCredit.ToString("0.00")</span></b></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div style="padding-left: 0px; padding-bottom: 5px;">
                                        <input id="ApproveAccountVoucher" type="button" value="Approve" class="btn btn-primary" style="width: 80px; margin-left: 80%;" />
                                        <input name="" id="RejectAccountVoucher" type="button" class="btn btn-secondary" style="width: 80px; padding-left: 5px;" value="Reject" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>

<script type="text/javascript">
    $(document).ready(function () {
         AVARPendingRequest.Initialize();
    });
</script>
