@model AERP.ViewModel.AdminSnPostsViewModel
<link href="@Url.Content("~/Content/Theme/vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.css")" rel="stylesheet" type="text/css" />
<div id="custom-content">
    <div class="block-header">
        <h2>&nbsp;<i class="zmdi zmdi-view-toc"></i>&nbsp;Update Posts</h2>
    </div>
    <div class="card">
        <div class="card-body card-padding" style="padding-bottom:0%;">
            <div id="displayErrorMessage" role="alert" hidden class="alert">
                <button class="close" type="button"><span aria-hidden="true">×</span></button>
                <p id="messageContent"></p>
            </div>
            <form id="FormEditAdminSnPosts" class="row" method="post">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.ID)

                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <span style="color: red; float: left; padding-left: 1px; font-weight: bold">*</span>
                            @Html.LabelFor(model => model.SactionedPostDescription, new { style = "" })
                            <div class="form-group  fg-line">
                                @Html.TextAreaFor(model => model.SactionedPostDescription, new { ReadOnly = "True", @class = "form-control",@style="background-color:#fff;" })
                            </div>
                        </div>

                        @if (@Model.AdminSnPostsDTO.IsActive)
                        {
                            <div class="col-sm-6">
                                <div class="checkbox m-b-15" style="padding-top:8%;">
                                    <label>
                                        <input type="checkbox" id="IsActive" checked value="true">
                                        <i class="input-helper"></i>
                                        @Html.LabelFor(model => model.IsActive)
                                    </label>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-sm-6">
                                <div class="checkbox m-b-15" style="padding-top:8%;">
                                    <label>
                                        <input type="checkbox" id="IsActive">
                                        <i class="input-helper"></i>
                                        @Html.LabelFor(model => model.IsActive)
                                    </label>
                                </div>
                            </div>
                        }

                        
                    </div>

                    
                </div>

                <div class="col-sm-12">
                    <div class="form-group">
                        <input id="EditAdminSnPostsRecord" type="button" value="@Resources.ButtonAction_Submit" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js") " type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/jquery.multiple.select.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Content/Theme/vendors/bower_components/bootstrap-select/dist/js/bootstrap-select.js")" type="text/javascript"></script>


<script type="text/javascript">
    $(document).ready(function () {
        AdminSnPosts.Initialize();

        $("#IsActive").change(function () {
            if (this.checked) {
                $(this).val('true');
            } else {
                $(this).val('false');
            }
        });

    });
</script>
@*<script type="text/javascript">
    $("#closeBtn").click(function () {
        $ColorBox.close();
    });
</script>*@
