@model AERP.ViewModel.EmployeeQualificationViewModel
@{
    Layout = null;
}


<script src="@Url.Content("~/Scripts/AERP_Scripts/Employee/EmployeeQualification.js")" type="text/javascript"></script>
<script src="~/Scripts/fnGetColumnData.js"></script>

<form id="FormEditEmployeeQualificationDetails" method="post" class="">
    @Html.HiddenFor(model => model.EmployeeID)
    @*<div class="container">*@


    @*<div class="card">*@
    <div class="card-header">
        <div id="">
            <ul class="actions">
                <li class="dropdown">
                    <a href="" data-toggle="dropdown" title="Add New">
                        <i class="zmdi zmdi-more-vert"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a class="mfpAjaxModal" href="@Url.Action("EmployeeQualificationCreate", "EmployeeQualification", new { EmployeeID = @Model.EmployeeID })">
                                <i class="zmdi zmdi-plus-square"></i> &nbsp; @Resources.DisplayName_AddNew
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>




    <div class="bootgrid-header container-fluid" id="data-table-command-header">
        <div class="row">
            <div class="col-sm-12 actionBar">
                <div class="search form-group" style="display:none;">
                    <div class="input-group">
                        <span class="zmdi icon input-group-addon glyphicon-search"></span>
                        <input type="text" id="UserSearch" placeholder="Search" class="search-field form-control">
                    </div>
                </div>
                <div class="actions btn-group" style="display:none;">
                    <div class="dropdown btn-group">
                        <button data-toggle="dropdown" type="button" class="btn btn-default dropdown-toggle">
                            <span class="dropdown-text" id="tblDisplayRowLength">@Resources.GlobalProperties_10</span> <span class="caret"></span>
                        </button>
                        <ul role="menu" style="cursor: pointer" id="showrecords" class="dropdown-menu pull-right">
                            <li class="active" aria-selected="true">
                                <a class="dropdown-item dropdown-item-button" data-action="@Resources.GlobalProperties_10">@Resources.GlobalProperties_10</a>
                            </li>
                            <li aria-selected="false">
                                <a class="dropdown-item dropdown-item-button" data-action="@Resources.GlobalProperties_25">@Resources.GlobalProperties_25</a>
                            </li>
                            <li aria-selected="false"><a class="dropdown-item dropdown-item-button" data-action="@Resources.GlobalProperties_50">@Resources.GlobalProperties_50</a></li>
                        </ul>
                    </div>
                    <div class="dropdown btn-group">
                        <button data-toggle="dropdown" type="button" class="btn btn-default dropdown-toggle" aria-expanded="false">
                            <span class="dropdown-text">
                                <span class="zmdi icon zmdi-view-module"></span>
                            </span><span class="caret"></span>
                        </button>
                        <ul role="menu" id="toggleTableColumnQualification" class="dropdown-menu pull-right">

                            <li>
                                <div class="checkbox">
                                    <label class="dropdown-item" aria-disabled="false">
                                        <input type="checkbox" checked="checked" class="dropdown-item-checkbox" value="0" name="EducationType">
                                        Education Type<i class="input-helper"></i>
                                    </label>
                                </div>
                            </li>

                            <li>
                                <div class="checkbox">
                                    <label class="dropdown-item" aria-disabled="false">
                                        <input type="checkbox" checked="checked" class="dropdown-item-checkbox" value="1" name="Education">
                                        Education<i class="input-helper"></i>
                                    </label>
                                </div>
                            </li>

                            <li>
                                <div class="checkbox">
                                    <label class="dropdown-item" aria-disabled="false">
                                        <input type="checkbox" checked="checked" class="dropdown-item-checkbox" value="2" name="Specialization">
                                        Specialization<i class="input-helper"></i>
                                    </label>
                                </div>
                            </li>

                            <li>
                                <div class="checkbox">
                                    <label class="dropdown-item" aria-disabled="false">
                                        <input type="checkbox" checked="checked" class="dropdown-item-checkbox" value="3" name="NameOfInstitution">
                                        Name Of Institution<i class="input-helper"></i>
                                    </label>
                                </div>
                            </li>

                            <li>
                                <div class="checkbox">
                                    <label class="dropdown-item" aria-disabled="false">
                                        <input type="checkbox" checked="checked" class="dropdown-item-checkbox" value="4" name="Univarsity">
                                        Univarsity<i class="input-helper"></i>
                                    </label>
                                </div>
                            </li>

                            <li>
                                <div class="checkbox">
                                    <label class="dropdown-item" aria-disabled="false">
                                        <input type="checkbox" checked="checked" class="dropdown-item-checkbox" value="5" name="Action">
                                        @Resources.TableHeaders_Action<i class="input-helper"></i>
                                    </label>
                                </div>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table id="myDataTableEmployeeQualificationDetails" class="table table-striped table-vmiddle table-responsive ">
        <thead>
            <tr>
                <th>Education Type</th>
                <th>Education</th>
                <th>Specialization</th>
                <th>Name Of Institution</th>
                <th>Univarsity</th>
                <th>@Resources.TableHeaders_Action</th>
                <th style="display:none">EmployeeID</th>

            </tr>
        </thead>
    </table>

    @*</div>*@
    @*</div>*@
</form>

<script type="text/javascript">
    var oTable;
    $(document).ready(function () {

        
        oTable = $('#myDataTableEmployeeQualificationDetails').DataTable({
            "bServerSide": true,
            "sAjaxSource": "/EmployeeQualification/AjaxHandlerEmployeeQualification",
            "bProcessing": true,
            //"pagingType": "full_numbers",
            "scrollY": "300x",
            "dom": "frtiS",
            "deferRender": true,
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "EmployeeID", "value": $('input[name=EmployeeID]').val() });
                //aoData.push({ "name": "SelectedAccountType", "value": $('#AccountType').val() });
            },
            "columnDefs": [
                              
                                {
                                    "targets": 0,
                                    "bSearchable": true,
                                },
                             {
                                 "targets": 1,
                                 "bSearchable": true,
                             },
                             {
                                 "targets": 2,
                                 "bSearchable": true,
                             },
                             {
                                 "targets": 3,
                                 "bSearchable": true,
                             },
                              
                              {
                                  "targets": 4,
                                  "bSearchable": true,
                              },
                            {
                                "targets": 5,
                                "bSortable": false,
                                "data": null,
                                "render": function (data, type, full, meta) {

                                        var result1 = '@Html.ActionLink("Edit1", "EmployeeQualificationEdit", new { ID = '1' }, new { @class = "mfpAjaxModal" })';
                                        result1 = result1.replace('1', data[5]);
                                        //result1 = result1.replace("Edit1", '<i class="icon-edit" title="@Resources.ToolTip_Edit"></i>');
                                        result1 = result1.replace("Edit1", '<button title="@Resources.ToolTip_Edit" class="btn btn-default"><i class="zmdi zmdi-edit"></i></button>');


                                    var result = "<p  style=''>" + result1 + "</p>";
                                    return result;

                                }

                            },
                             {
                                 "targets": 6,
                                 "visible": false,
                             },
            ],
            "order": [[0, 'asc']],

        });
        EmployeeQualification.Initialize();
        DataTableSettings(oTable, "myDataTableEmployeeQualificationDetails", "toggleTableColumnQualification");
    });


</script>