@*
    @model AMS.ViewModel.LeaveRuleExemptedEmployeeViewModel
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li>@Resources.Mainheading_Leave<span class="divider">»</span></li>
            <li class="active">@Resources.FormName_LeaveRuleExemptedEmployee </li>
        </ul>
        <ul class="breadcrumb" style="height: 30px;">


            <li>
                <span style="color: red; padding-left: 1px; font-weight: bold">*</span> <span style="font-size: 12px; font-weight: bold;">@Resources.TableHeaders_CentreName &nbsp; &nbsp;&nbsp;</span>
                &nbsp;&nbsp;&nbsp;
                @Html.DropDownListFor(m => m.CentreCode, Model.ListGetAdminRoleApplicableCentreItems, Resources.ddlHeaders_CentreName, new { id = "CentreList", @class = "form-control chosen-select", style = "font-weight:bold;width:250px;" })
                @Html.HiddenFor(m => m.CentreCode)
                @Html.HiddenFor(m => m.CentreName)

            </li>

            <li>
                <button type="button" id="ShowList" class="btn btn-primary" style="margin-bottom: 10%;">@Resources.GlobalProperties_ShowList</button>
            </li>
        </ul>
        <div class="row-fluid">
            <div class="span12">

                <div class="widget-block">
                    <div style="display: none">@Html.ActionLink("Create New", "Create", new { CentreCode = Model.CentreCode }, new { @class = "ajax", title = "Create" })</div>

                    <div class="widget-head">
                        <h5 id="hFive"><i class="black-icons users"></i>&nbsp; @Resources.TableHeaders_ManageLeaveRuleExemptedEmployee</h5>
                        <div class="pull-right" style="margin: -24px 60px 0px 10px;">
                            <div class="input-append" id="" style="float: right;">
                                <div style="display: none;">
                                    <input type="hidden" name="_method" value="POST">
                                </div>
                                <div>
                                    <select name="data[User][searchby]" class="" id="showrecord" tabindex="16" style="float: left;">
                                        <option value="10">@Resources.GlobalProperties_ShowRecords</option>
                                        <option value="10">@Resources.GlobalProperties_10</option>
                                        <option value="50">@Resources.GlobalProperties_50</option>
                                        <option value="100">@Resources.GlobalProperties_100</option>
                                    </select>
                                    &nbsp;&nbsp;
                                    <input type="text" name="data[User][search]" class="search_query input-medium" placeholder="@Resources.GlobalProperties_Search..." size="16" autocomplete="off" id="UserSearch">
                                    <button class="btn" type="button" id="searchBtn"><i class="icon-search"></i></button>
                                </div>

                                <div class="widget-control pull-right" style="display: none" id="DisplayName_AddNew">
                                    <a href="#" data-toggle="dropdown" class="btn dropdown-toggle"><i class="icon-plus"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a class="ajax cboxElement" href="@Url.Action("Create", "LeaveRuleExemptedEmployee", new { CentreCode = Model.CentreCode,  CentreName = Model.CentreName})">
                                            <h6 style="color: #000;"><i class="icon-plus" style="padding-left: 7px;"></i>@Resources.DisplayName_AddNew</h6>
                                        </a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="widget-content">
                        <div class="widget-box">
                            <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper" role="grid">
                                <div class="table_content">
                                    <table id="myDataTable" class="table table-striped table-bordered ">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center"> @Resources.TableHeaders_LeaveRuleDescription</th>
                                                <th style="text-align: center;"> @Resources.TableHeaders_FromDate</th>
                                                <th style="text-align: center;"> @Resources.TableHeaders_LeaveSessionUptoDate</th>
                                                <th style="text-align: center; width: 30px; line-height: 40px">@Resources.DisplayName_Actions</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="widget-bottom">
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            LeaveRuleExemptedEmployee.Initialize();
            var isReloadedFromCookies;
            var oTable = $('#myDataTable').dataTable({
                "bServerSide": true,
                "sAjaxSource": "LeaveRuleExemptedEmployee/AjaxHandler",
                "bJQueryUI": true,
                "sScrollY": false,
                "bProcessing": true,
                "fnServerParams": function (aoData) {
                    aoData.push({ "name": "CentreCode", "value": $('input[name=CentreCode]').val() });
                },

                "sPaginationType": "full_numbers",
                "oLanguage": {
                    "sInfoEmpty": "No entries to show",
                },
                "columnDefs": [


                                 {
                                     "visible": true,
                                     "targets": 0,
                                     "bSearchable": true,
                                     "data": null,
                                     "render": function (data, type, full, meta) {
                                         var result = "<p  style='text-align: left;'>" + "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; " + data[2] + "</p>";
                                         return result;
                                     }
                                 },
                                {
                                    "targets": 1,
                                    "bSearchable": true,
                                    "bSortable": false,
                                    "data": null,
                                    "render": function (data, type, full, meta) {
                                        var result = "<p  style='text-align: center;'>" + data[3] + "</p>";
                                        return result;
                                    }
                                },
                                {
                                    "targets": 2,
                                    "bSearchable": true,
                                    "bSortable": false,
                                    "data": null,
                                    "render": function (data, type, full, meta) {
                                        var result = "<p  style='text-align: center; '>" + data[4] + "</p>";
                                        return result;
                                    }
                                },

                                {
                                    "targets": 3,
                                    "bSortable": false,
                                    "data": null,
                                    "render": function (data, type, full, meta) {

                                        var result1 = '@Html.ActionLink("Edit1", "Edit", new { IDs = '1' }, new { @class = "ajax  cboxElement" })';
                                        result1 = result1.replace('1', data[5] + '~' + data[2].replace(/ /g, "$"));
                                        result1 = result1.replace("Edit1", '<i class="icon-edit" title="@Resources.ToolTip_Edit"></i>');
                                        var result1 = "<p  style='text-align: center;'>" + result1 + "</p>";
                                        return result1;

                                    }
                                }
                ],
                "drawCallback": function (settings) {
                    debugger;
                    var api = this.api();
                    var rows = api.rows({ page: 'current' }).nodes();
                    var last = null;
                    var table = $('#myDataTable').dataTable();
                    api.column(0, { page: 'current' }).data().each(function (group, i) {
                        var array = String(group).split(',');
                       // alert(array[1]);
                        var checkGroup = array[1].split('(')[0];
                        if (last !== checkGroup) {

                            $(rows).eq(i).before(
                                '<tr class="group"><td colspan="4" style="font-weight:bold;background-color:rgba(128,128,128,0.2);color:#000;font-size:12px;font-family: verdana;">' + array[1] + '</tr>'

                            );
                            last = checkGroup;
                        }
                    });
                }



            });

        });


    </script>

*@

@model AERP.ViewModel.LeaveRuleExemptedEmployeeViewModel

@*<div class="container">*@
<div class="block-header">
    <h2 style="text-transform: none;"><i class="zmdi zmdi-view-toc"></i>&nbsp;@Resources.FormName_LeaveRuleExemptedEmployee</h2>
</div>

<div class="card">
    <div class="card-header">
        <div id="DisplayName_AddNew" style="display: none">
            <ul class="actions">
                <li class="dropdown">
                    <a href="" data-toggle="dropdown" title="Add New">
                        <i class="zmdi zmdi-more-vert"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a class="mfpAjaxModal" href="@Url.Action("Create", "LeaveRuleExemptedEmployee", new { CentreCode = Model.CentreCode, CentreName = Model.CentreName })">
                                <i class="zmdi zmdi-plus-square"></i> &nbsp; @Resources.DisplayName_AddNew
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="card-body card-padding">
        <div class="row">

            @*<div id="displayErrorMessage" role="alert" hidden class="alert" style="width:50%; margin-left:auto; margin-right:auto;">
                <button class="close" type="button"><span aria-hidden="true">×</span></button>
                <p id="messageContent"></p>
            </div>*@

           

            <div class="col-sm-4">
                @Resources.TableHeaders_CentreName
                <div class="form-group fg-line select">
                    @Html.DropDownListFor(m => m.CentreCode, Model.ListGetAdminRoleApplicableCentreItems, Resources.ddlHeaders_CentreName, new { id = "CentreList", @class = "form-control", style = "" })
                    @Html.HiddenFor(m => m.CentreCode)
                    @Html.HiddenFor(m => m.CentreName)
                </div>
            </div>

            <div class="col-sm-3" style="margin-top:27px;">
                <button type="button" class="btn btn-primary" id="ShowList">@Resources.GlobalProperties_ShowList</button>
            </div>
        </div>
    </div>
    


    <div class="bootgrid-header container-fluid" id="data-table-command-header">
        <div class="row">
            <div class="col-sm-12 actionBar">
                 <div class="search form-group">
                    <div class="input-group">
                        <span class="zmdi icon input-group-addon glyphicon-search"></span>
                        <input type="text" id="UserSearch" placeholder="Search" class="search-field form-control">
                    </div>
                </div>
                <div class="actions btn-group">
                    <div class="dropdown btn-group">
                        <button data-toggle="dropdown" type="button" class="btn btn-default dropdown-toggle">
                            <span class="dropdown-text" id="tblDisplayRowLength">@Resources.GlobalProperties_10</span> <span class="caret"></span>
                        </button>
                        <ul role="menu" style="cursor: pointer" id="showrecords" class="dropdown-menu pull-right">
                            <li class="active" aria-selected="true">
                                <a class="dropdown-item dropdown-item-button" data-action="@Resources.GlobalProperties_10">@Resources.GlobalProperties_10</a>
                            </li>
                            <li aria-selected="false">
                                <a class="dropdown-item dropdown-item-button" data-action="@Resources.GlobalProperties_25">@Resources.GlobalProperties_25</a>
                            </li>
                            <li aria-selected="false"><a class="dropdown-item dropdown-item-button" data-action="@Resources.GlobalProperties_50">@Resources.GlobalProperties_50</a></li>
                        </ul>
                    </div>
                    <div class="dropdown btn-group">
                        <button data-toggle="dropdown" type="button" class="btn btn-default dropdown-toggle" aria-expanded="false">
                            <span class="dropdown-text">
                                <span class="zmdi icon zmdi-view-module"></span>
                            </span><span class="caret"></span>
                        </button>
                        <ul role="menu" id="toggleTableColumn" class="dropdown-menu pull-right">

                            <li>
                                <div class="checkbox">
                                    <label class="dropdown-item" aria-disabled="false">
                                        <input type="checkbox" checked="checked" class="dropdown-item-checkbox" value="1" name="Account">
                                        @Resources.TableHeaders_LeaveRuleDescription<i class="input-helper"></i>
                                    </label>
                                </div>
                            </li>


                            <li>
                                <div class="checkbox">
                                    <label class="dropdown-item" aria-disabled="false">
                                        <input type="checkbox" checked="checked" class="dropdown-item-checkbox" value="2" name="AccountCode">
                                        @Resources.TableHeaders_FromDate<i class="input-helper"></i>
                                    </label>
                                </div>
                            </li>

                            <li>
                                <div class="checkbox">
                                    <label class="dropdown-item" aria-disabled="false">
                                        <input type="checkbox" checked="checked" class="dropdown-item-checkbox" value="3" name="CentreAndBalanceSheet">
                                       @Resources.TableHeaders_LeaveSessionUptoDate<i class="input-helper"></i>
                                    </label>
                                </div>
                            </li>


                            <li>
                                <div class="checkbox">
                                    <label class="dropdown-item" aria-disabled="false">
                                        <input type="checkbox" checked="checked" class="dropdown-item-checkbox" value="4" name="Action">
                                        @Resources.DisplayName_Actions<i class="input-helper"></i>
                                    </label>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table id="myDataTable" class="table table-striped table-vmiddle table-responsive ">
        <thead>
            <tr>
                <th>DepartmentName</th>
                <th>@Resources.TableHeaders_LeaveRuleDescription</th>
                <th>@Resources.TableHeaders_FromDate</th>
                <th>@Resources.TableHeaders_LeaveSessionUptoDate</th>
                <th>@Resources.DisplayName_Actions</th>
            </tr>
        </thead>
    </table>
</div>
@*</div>*@



<script src="@Url.Content("~/Scripts/fnReloadAjax.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/fnGetColumnData.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js") " type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script type="text/javascript">
   
    $(document).ready(function () {
        debugger;
        var oTable;
        LeaveRuleExemptedEmployee.Initialize();
        var isReloadedFromCookies;
        oTable = $('#myDataTable').DataTable({
            "bServerSide": true,
            "sAjaxSource": "LeaveRuleExemptedEmployee/AjaxHandler",
            "bJQueryUI": true,
            "sScrollY": false,
            "bProcessing": true,
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "CentreCode", "value": $('input[name=CentreCode]').val() });
            },

            "sPaginationType": "full_numbers",
            "oLanguage": {
                "sInfoEmpty": "No entries to show",
            },
            "columnDefs": [
                              {
                                  "visible": false, "targets": 0,
                              },

                             {
                                 "visible": true,
                                 "targets": 1,
                                 "bSearchable": true,
                                 "data": null,
                                 "render": function (data, type, full, meta) {
                                     var result = "<p  style=''>" + "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; " + data[2] + "</p>";
                                     return result;
                                 }
                             },
                            {
                                "targets": 2,
                                "bSearchable": true,
                                "bSortable": false,
                                "data": null,
                                "render": function (data, type, full, meta) {
                                    var result = "<p  style=''>" + data[3] + "</p>";
                                    return result;
                                }
                            },
                            {
                                "targets": 3,
                                "bSearchable": true,
                                "bSortable": false,
                                "data": null,
                                "render": function (data, type, full, meta) {
                                    var result = "<p  style=''>" + data[4] + "</p>";
                                    return result;
                                }
                            },

                            {
                                "targets": 4,
                                "bSortable": false,
                                "data": null,
                                "render": function (data, type, full, meta) {

                                    var result1 = '@Html.ActionLink("Edit1", "Edit", new { IDs = '1' }, new { @class = "mfpAjaxModal" })';
                                    result1 = result1.replace('1', data[5] + '~' + data[2].replace(/ /g, "$"));
                                    

                                    //result1 = result1.replace("Edit1", '<i class="icon-edit" title="@Resources.ToolTip_Edit"></i>');
                                    //result1 = result1.replace("Edit1", '<button title="@Resources.ToolTip_Edit" class="btn btn-default"><i class="zmdi zmdi-edit"></i></button>');

                                    result1 = " <a href=\"javascript:void(0);\" data-toggle=\"tooltip\" class=\"btn btn-default waves-effect\" onclick=\"fancyBoxPopUpAjax('Update Leave Rule Exempted Employee','Are you sure to in-active Rule for this employee ?','error','btn-danger 2.','Yes!','/LeaveRuleExemptedEmployee/Edit?ID=" + data[5] + '~' + data[2].replace(/ /g, "$") + "','content','page-loader','LeaveRuleExemptedEmployee')\"><span class=\"zmdi zmdi-edit waves-effect\"></span></a>";
                                    //result1 = " <a href=\"javascript:void(0);\" data-toggle=\"tooltip\" class=\"btn btn-default waves-effect\" onclick=\"fancyBoxPopUpAjax('Update Leave Rule Exempted Employee','Are you sure to in-active Rule for this employee ?','error','btn-danger 2.','Yes!','/LeaveRuleExemptedEmployee/Edit?IDs=" + data[5] + "','content','page-loader','LeaveRuleExemptedEmployee')\"><span class=\"zmdi zmdi-edit waves-effect\"></span></a>";
                                    var result1 = "<p  style=''>" + result1 + "</p>";
                                    return result1;

                                }
                            }
            ],
           // "drawCallback": function (settings) {
            //    debugger;
            //    var api = this.api();
            //    var rows = api.rows({ page: 'current' }).nodes();
            //    var last = null;
            //    var table = $('#myDataTable').dataTable();
            //    api.column(1, { page: 'current' }).data().each(function (group, i) {
            //        var array = String(group).split(',');
            //       alert(array[1]);
            //        var checkGroup = array[1].split('(')[0];
            //        alert(checkGroup)
            //        if (last !== checkGroup) {

            //            $(rows).eq(i).before(
            //                '<tr class="group"><td colspan="4" style="font-weight:bold;background-color:rgba(128,128,128,0.2);color:#000;font-size:12px;font-family: verdana;">' + array[1] + '</tr>'

            //            );
            //            last = checkGroup;
            //        }
            //    });
            //}
             "drawCallback": function (settings) {
            debugger;
            var api = this.api();
            var rows = api.rows({ page: 'current' }).nodes();
            var last = null;
            var table = $('#myDataTable').dataTable();
            var groupArray = '';
            api.column(1, { page: 'current' }).data().each(function (group, i) {

                var array = String(group).split(',');
                if (last !== array[1]) {

                    $(rows).eq(i).before(
                   '<tr class="group"><td colspan="4" style="font-weight:bold;font-size:12px;font-family: verdana;background-color:rgba(128,128,128,0.2);color:#000;" >' + array[1] + '</td></tr>'
                    );
                    last = array[1];
                }
            });
        }
        });

        DataTableSettings(oTable, "myDataTable", "toggleTableColumn");

    });


</script>