@model AMS.ViewModel.RetailReportsViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutV2.cshtml";
}
<script src="@Url.Content("~/Scripts/AMS_Scripts/Inventory_1/Reports/InventorySalesAndPurchaseReport.js")" type="text/javascript"></script>

<div class="container">
    @using (Html.BeginForm("Index", "InventorySalesAndPurchaseReport", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="block-header">

            <h2 style="text-transform: none;"><i class="zmdi zmdi-view-toc"></i>&nbsp;Inventory Sales And Purchase Report</h2>
        </div>
        <div class="card" style="margin-bottom: 0px;">
            <div class="card-body card-padding" style="padding-bottom:5%;">
                @Html.HiddenFor(m => m.IsPosted)
                @Html.HiddenFor(m => m.DiscountType)
                <div class="row">
                    <div class="col-sm-5">
                        <div class="fg-line select form-group">
                            <label>@Html.LabelFor(model => model.CentreCode, new { })</label>
                            @Html.DropDownListFor(m => m.CentreCode, Model.ListGetAdminRoleApplicableCentreItems, "------Select Centre-------", new { @class = "form-control", data_toggle = "tooltip", data_placement = "top", data_original_title = "Centre" })
                        </div>
                        @Html.ValidationMessageFor(model => model.CentreCode)
                    </div>
                    <div class="col-sm-4">
                        <div class="fg-line select form-group">
                            <label>@Html.LabelFor(model => model.GeneralUnitsID, new { })</label>
                            <div class="fg-line select form-group">
                                @Html.DropDownListFor(model => model.GeneralUnitsID, Model.ListGetGeneralUnitsItems, "------Select Unit-------", new {@class = "form-control input-sm AddGeneralUnitsID", data_val = "true", data_toggle = "tooltip", data_placement = "top", data_original_title = "Units Type*" })
                            </div>
                        </div>
                        </div>
                    <div class="col-sm-2" style="margin-top:33px;">
                        <div class="fg-line">
                            <button type="submit" name="submit" id="btnInventorySalesAndPurchaseReportSubmit" class="btn-primary btn">Show</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    }
</div>

<div class="container">

    <div id="aaa">
        <div class="card">
            @*<div class="card-header"></div>*@
            <div class="card-body card-padding">
                @Html.Partial("/Views/Inventory_1/Report/InventorySalesAndPurchaseReport/InventorySalesAndPurchaseReport.aspx")
            </div>
        </div>
    </div>
</div>

<script src="@Url.Content("~/Content/materialtheme/vendors/bower_components/moment/min/moment.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/materialtheme/vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js")" type="text/javascript"></script>


<script type="text/javascript">
    $(document).ready(function () {
        $('#DateFrom').datetimepicker({
            format: 'DD MMMM YYYY',
            ignoreReadonly: true,
        });

        InventorySalesAndPurchaseReport.Initialize();

    });
</script>
