@*@model IEnumerable<AMS.ViewModel.EmployeeAssociatesProfessionalBodiesViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Employee/EmployeeInformation/Profile.cshtml";
}
@Styles.Render("~/Content/Vendors")

<script src="@Url.Content("~/Scripts/AMS_Scripts/Employee/EmployeeAssociatesProfessionalBodies.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/admin/jquery-ui-1.css")" rel="stylesheet" type="text/css" />
<div id="ListViewModel">
</div>

<script type="text/javascript">
    $(document).ready(function () {
        EmployeeAssociatesProfessionalBodies.LoadList();
    });
</script>*@

@*-----------new---------------*@

@model IEnumerable<AMS.ViewModel.EmployeeAssociatesProfessionalBodiesViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Employee/EmployeeInformation/ProfileV2.cshtml";
}
<style type="text/css">
    .mfp-content {
        width: 75%;
    }
</style>

@*@Styles.Render("~/Content/Vendors")*@

<script src="@Url.Content("~/Scripts/AMS_Scripts/Employee/EmployeeAssociatesProfessionalBodies.js")" type="text/javascript"></script>
@*<link href="@Url.Content("~/Content/admin/jquery-ui-1.css")" rel="stylesheet" type="text/css" />*@
<div id="ListViewModel" class="container">
</div>

<script type="text/javascript">
    $(document).ready(function () {
        EmployeeAssociatesProfessionalBodies.LoadList();
    });
</script>