@model AERP.ViewModel.InventoryAttributeMasterViewModel

<div id="custom-content">
    <div class="block-header">
        <h2>&nbsp;<i class="zmdi zmdi-view-toc"></i>&nbsp;Edit Attribute</h2>
    </div>
    @Html.HiddenFor(model => model.InventoryAttributeMasterID)
    <div class="card">
        <div class="card-body card-padding">
            <div id="displayErrorMessage" role="alert" hidden class="alert">
                <button class="close" type="button"><span aria-hidden="true">×</span></button>
                <p id="messageContent"></p>
            </div>
            <form id="FormEditInventoryAttributeMaster" role="form">
                @*@Html.HiddenFor(model => model.InventoryAttributeMasterID)*@
                <div class="form-group fg-line">
                    @Html.LabelFor(model => model.AttributeName, new { })
                    @Html.TextBoxFor(model => model.AttributeName, new { maxlength = "30", @class = "form-control input-sm" })
                </div>

                <div class="form-group">
                    <input class="btn btn-primary btn-sm m-t-10 waves-effect" value="@Resources.ButtonAction_Submit" id="EditInventoryAttributeMasterRecord" type="button" />
                </div>
            </form>
        </div>
    </div>
</div>

<script src="@Url.Content("~/Scripts/jquery.validate.js") " type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        InventoryAttributeMaster.Initialize();
    });
</script>
