@model AMS.ViewModel.RetailReportsViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutV2.cshtml";
}
<script src="@Url.Content("~/Scripts/AMS_Scripts/Inventory_1/Reports/DiscountReport.js")" type="text/javascript"></script>

<div class="container">
    @using (Html.BeginForm("Index", "DiscountReport", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="block-header">

            <h2 style="text-transform: none;"><i class="zmdi zmdi-view-toc"></i>&nbsp;Discount Report</h2>
        </div>
        <div class="card" style="margin-bottom: 0px;">
            <div class="card-body card-padding" style="padding-bottom:5%;">
                @Html.HiddenFor(m => m.IsPosted)
                @Html.HiddenFor(m => m.DiscountType)
                @Html.HiddenFor(m => m.CentreName)
                <div class="row">
                    <div class="col-sm-4">
                        <div class="fg-line select form-group">
                            @Html.LabelFor(model => model.CentreCode, new { })
                            @Html.DropDownListFor(m => m.CentreCode, Model.ListGetAdminRoleApplicableCentreItems, "------Select Centre-------", new { @class = "form-control", data_toggle = "tooltip", data_placement = "top", data_original_title = "Centre *" })
                        </div>
                        @Html.ValidationMessageFor(model => model.CentreCode)
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group select fg-line">
                            @Html.LabelFor(model => model.DiscountInPercent, new { })
                            @Html.DropDownListFor(model => model.DiscountInPercent, (SelectList)ViewBag.DiscountList, new { @class = "form-control" })
                        </div>
                    </div>
                     <div class="col-sm-4">
                        <div class="form-group fg-line">
                            <label>@Html.LabelFor(model => model.DateFrom, new { })</label>
                            @Html.TextBoxFor(model => model.DateFrom, new { maxlength = "12", @class = "form-control input-sm typeahead" })
                        </div>
                        @Html.ValidationMessageFor(model => model.DateFrom)
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group fg-line">
                            <label>@Html.LabelFor(model => model.DateTo, new { })</label>
                            @Html.TextBoxFor(model => model.DateTo, new { maxlength = "12", @class = "form-control input-sm typeahead" })
                        </div>
                        @Html.ValidationMessageFor(model => model.DateTo)
                    </div>
                    <div class="col-sm-2" style="margin-top:33px;">
                        <div class="fg-line">
                            <button type="submit" name="submit" id="btnDiscountReportSubmit" class="btn-primary btn">Show</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    }
</div>

<div class="container">

    <div id="aaa">
        <div class="card">
            @*<div class="card-header"></div>*@
            <div class="card-body card-padding">
                @Html.Partial("/Views/Inventory_1/Report/DiscountReport/DiscountReport.aspx")
            </div>
        </div>
    </div>
</div>

<script src="@Url.Content("~/Content/materialtheme/vendors/bower_components/moment/min/moment.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/materialtheme/vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js")" type="text/javascript"></script>


<script type="text/javascript">
    $(document).ready(function () {
        $('#DateFrom').datetimepicker({
            format: 'DD MMMM YYYY',
            ignoreReadonly: true,
        });
        $('#DateTo').datetimepicker({
            format: 'DD MMMM YYYY',
            ignoreReadonly: true,
        });


        DiscountReport.Initialize();


    });
</script>
