@model AERP.ViewModel.SalesQuotationMasterAndDetailsViewModel
<script src="@Url.Content("~/Scripts/AERP_Scripts/Sales/SalesQuotationMasterAndDetails.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/Theme/vendors/bower_components/moment/min/moment.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/Theme/vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js")" type="text/javascript"></script>

<div id="custom-content">

    <div class="block-header">
        <h2>&nbsp;<i class="zmdi zmdi-view-toc"></i>&nbsp;View Sales Quotation</h2>
    </div>
    <div class="card">
        <div class="card-body card-padding">
            <div id="displayErrorMessage" role="alert" hidden class="alert">
                <button class="close" type="button"><span aria-hidden="true">×</span></button>
                <p id="messageContent"></p>
            </div>
            <form id="FormEditSalesQuotation" role="form">

                <div class="row">
                    <div class="form-group  ">
                        <Label class="col-sm-2 control-label m-t-15">Units</Label>
                        <div class="col-sm-5">
                            <div class="fg-line">
                                @Html.DropDownListFor(model => model.GeneralUnitsID, Model.ListGetGeneralUnitsItems, "------Select Unit-------", new { @class = "form-control input-sm AddGeneralUnitsID", disabled = "disabled", data_val = "true", data_toggle = "tooltip", data_placement = "top", data_original_title = "Units Type*" })
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group fg-line">
                            @Html.HiddenFor(model => model.CustomerMasterID)
                            @Html.HiddenFor(model => model.SalesEnquiryMasterID)
                            @Html.HiddenFor(model => model.SalesQuotationMasterID)


                            @Html.LabelFor(model => model.CustomerName, new { })
                            @Html.TextBoxFor(model => model.CustomerName, new { @class = "form-control input-sm typeahead", disabled = "disabled" })
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group fg-line">
                            @Html.HiddenFor(model => model.CustomerBranchMasterID)
                            @Html.LabelFor(model => model.CustomerBranchMasterName, new { })
                            @Html.TextBoxFor(model => model.CustomerBranchMasterName, new { @class = "form-control input-sm typeahead", disabled = "disabled" })
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group fg-line">
                            @Html.HiddenFor(model => model.ContactPersonID)
                            @Html.LabelFor(model => model.ContactPersonName, new { })
                            @Html.TextBoxFor(model => model.ContactPersonName, new { @class = "form-control input-sm typeahead", disabled = "disabled" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group fg-line">
                            @Html.LabelFor(model => model.CreditPeriod, new { })
                            @Html.TextBoxFor(model => model.CreditPeriod, new { disabled = "disabled" , @class = "form-control input-sm " })
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group fg-line">
                            @Html.LabelFor(model => model.UnitMasterId, new { })
                            @Html.DropDownListFor(model => model.UnitMasterId, (SelectList)ViewBag.GeneralUnitMasterList, "---Select Unit ---", new { disabled = "disabled", @class = "form-control input-sm" })
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group fg-line">
                            @Html.LabelFor(model => model.TitleTo, new { })
                            @Html.TextBoxFor(model => model.TitleTo, new { disabled = "disabled", @class = "form-control input-sm typeahead" })
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group fg-line">
                        <br />
                    </div>
                </div>
                <h4>List Of Items</h4>

                <div class="row" style="display:none">
                    <div class="col-sm-3">
                        <div class="form-group fg-line">
                            @Html.HiddenFor(model => model.ItemNumber)
                            @Html.HiddenFor(model => model.GeneralTaxGroupMasterID)
                            @Html.HiddenFor(model => model.TaxRate)
                            @Html.LabelFor(model => model.ItemDescription, new { })
                            @Html.TextBoxFor(model => model.ItemDescription, new { @class = "form-control input-sm typeahead" })
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group fg-line">
                            @*@Html.LabelFor(model => model.AltQty, new { })*@
                            @Html.LabelFor(model => model.Quantity, new { })
                            @Html.TextBoxFor(model => model.Quantity, new { maxlength = "8", @class = "form-control input-sm typeahead" })

                        </div>
                    </div>
                    <div class="col-sm-2" id="UnitsForQuotation">
                        <div class="form-group fg-line">
                            @Html.LabelFor(model => model.UOM, new { })
                            @Html.DropDownListFor(model => model.UOM, Enumerable.Empty<SelectListItem>(), "---Select---", new { @class = "form-control input-sm", data_val = "true", data_toggle = "tooltip", data_placement = "top", data_original_title = "" })

                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group fg-line">
                            @Html.LabelFor(model => model.Rate, new { })
                            @Html.TextBoxFor(model => model.Rate, new { maxlength = "8", @class = "form-control input-sm typeahead", disabled = "diasbled" })

                        </div>
                    </div>

                    <div class="col-sm-2" id="btnAdd1">
                        <!-- <button type="button" class="btn btn-primary" id="btnAdd">Add Row</button> -->
                        <button type="button" title="Add row" class="btn bgm-green btn-float waves-effect waves-circle waves-float" id="btnAdd" style="margin-top:10px"><i class="zmdi zmdi-plus"></i></button>
                    </div>

                </div>

                <table id="tblData" class="table">
                    <thead>
                        <tr>
                            <th>Item Description</th>
                            <th>Quantity</th>
                            <th>UOM</th>
                            <th>Rate</th>
                            <th>Tax</th>
                            <th>TaxAble Amt</th>
                            <th>Tax Amt</th>
                            <th>Net Amt</th>
                           

                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model.QuotationDetailsByEnquiryMasterID)
                        {
                            <tr>
                                <td style="display:none">@item.ItemNumber<input type="hidden" style="display:none" value="@item.ItemNumber"></td>
                                <td style="vertical-align:middle;">@item.ItemDescription<input id="ItemDescription" style="display:none" type="text" value="@item.ItemDescription"></td>
                                <td style="vertical-align:middle;">@Math.Round(@item.Quantity, 2)<input id="Quantity" type="text" style="width:60px;display:none"></td>
                                <td style="vertical-align:middle;">@item.UOM<input id="UOM" type="text" style="display:none" value="@item.UOM"></td>
                                <td style="vertical-align:middle;">@item.Rate<input id="Rate" type="text" style="display:none" value="@Math.Round(@item.Rate,2)"></td>
                                <td style="vertical-align:middle;">@item.TaxGroupName<input id="Rate" type="text" style="display:none" value="@item.TaxGroupName"></td>
                                <td style="vertical-align:middle;"><span>@item.TaxableAmount </span><input id="TaxAbleAmount" type="text" style="display:none" value="@item.TaxableAmount"></td>
                                <td style="vertical-align:middle;"><span> @item.TaxAmount </span> <input id="TaxAmount" type="text" style="display:none" value="@item.TaxAmount"></td>
                                <td style="vertical-align:middle;"><span>@Math.Round((@Math.Round(@item.TaxableAmount, 2) + @Math.Round(@item.TaxAmount, 2)), 2) </span> <input id="NetAmount" type="text" style="display:none" value="@Math.Round((@Math.Round(@item.TaxableAmount,2)+@Math.Round(@item.TaxAmount,2)),2)"></td>
                                <td style="display:none">@item.SalesQuotationDetailID<input type="hidden" style="display:none" value="@item.SalesQuotationDetailID"></td>
                                <td style="display:none">@item.GeneralTaxGroupMasterID<input type="hidden" style="display:none" value="@item.GeneralTaxGroupMasterID"></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group fg-line">
                            @Html.LabelFor(model => model.Freight, new { })
                            @Html.TextBoxFor(model => model.Freight, new { maxlength = "80", @class = "form-control input-sm typeahead" })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group fg-line">
                            @Html.LabelFor(model => model.ShippingHandling, new { })
                            @Html.TextBoxFor(model => model.ShippingHandling, new { maxlength = "80", @class = "form-control input-sm typeahead" })
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group fg-line">
                            @Html.LabelFor(model => model.Tradein, new { })
                            @Html.TextBoxFor(model => model.Tradein, new { maxlength = "80", @class = "form-control input-sm typeahead" })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group fg-line">
                            @Html.LabelFor(model => model.Discount, new { })
                            @Html.TextBoxFor(model => model.Discount, new { maxlength = "80", @class = "form-control input-sm typeahead" })
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group fg-line">
                            @Html.LabelFor(model => model.TotalTaxAmount, new { })
                            @Html.TextBoxFor(model => model.TotalTaxAmount, new { maxlength = "80", @class = "form-control input-sm typeahead", disabled = "disabled" })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group fg-line">
                            @Html.LabelFor(model => model.TotalAmount, new { })
                            @Html.TextBoxFor(model => model.TotalAmount, new { maxlength = "80", @class = "form-control input-sm typeahead", disabled = "disabled" })
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group fg-line">
                            @Html.LabelFor(model => model.TotalBillAmount, new { })
                            @Html.TextBoxFor(model => model.TotalBillAmount, new { maxlength = "80", @class = "form-control input-sm typeahead", disabled = "disabled" })
                        </div>
                    </div>


                    <div class="form-group pull-left" style="margin-left:-2%; display:none">
                        <input class="btn bgm-blue btn-sm m-t-10 waves-effect" value="@Resources.ButtonAction_Submit" id="EditQuotationDetails" type="button" />
                        <input class="btn bgm-bluegray btn-sm m-t-10 waves-effect" value="Create SaleOrder" id="EditSalesOrderDetails" type="button" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="@Url.Content("~/Scripts/jquery.validate.js") " type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>




<script type="text/javascript">
    $(document).ready(function () {
        SalesQuotationMasterAndDetails.Initialize();
        SalesQuotationMasterAndDetails.TotalBillAmount();
        SalesQuotationMasterAndDetails.TotalTaxAmount();
        SalesQuotationMasterAndDetails.TotalAmount();
            });
</script>



