@model AERP.ViewModel.CCRMCauseMasterViewModel
<script src="@Url.Content("~/Content/Theme/vendors/bower_components/moment/min/moment.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/Theme/vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js") " type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div class="mfp-content" style="background :#bfc6ca;width: 902px;margin: -10px 0px -10px -10px;">
    <style>
        .mfp-close-btn-in .mfp-close {
            color: #eee;
        }
    </style>
    <div id="custom-content">
        <div class="block-header">
            <h2 style="background :#607d8b;color:white;margin-top: -10px;line-height: 2.5;width: 902px;margin-left: -10px;">&nbsp;<i class="zmdi zmdi-view-toc"></i>&nbsp; &nbsp;Cause Master </h2>
        </div>
        <div class="card">
            <div class="card-body card-padding" style="background:white;margin-top:-25px;margin-left: -10px;width: 902px;">
                <div id="displayErrorMessage" role="alert" hidden class="alert">
                    <button class="close" type="button"><span aria-hidden="true">×</span></button>
                    <p id="messageContent"></p>
                </div>
                <form id="FormCreateCCRMCauseMaster" role="form" class="row">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <div class="form-group fg-line">
                                @Html.HiddenFor(m => m.ID)
                                @Html.LabelFor(model => model.CauseTypeTitle, new { })
                                @Html.TextBoxFor(model => model.CauseTypeTitle, new { @class = "form-control input-sm ", disabled = "disabled" })

                            </div>
                            @Html.ValidationMessageFor(model => model.CauseTypeTitle)
                        </div>
                        <div class="form-group col-sm-6">
                            <div class="form-group fg-line">
                                @Html.HiddenFor(m => m.ID)
                                @Html.LabelFor(model => model.CauseTypeCode, new { })
                                @Html.TextBoxFor(model => model.CauseTypeCode, new { @class = "form-control input-sm ", disabled = "disabled" })

                            </div>
                            @Html.ValidationMessageFor(model => model.CauseTypeCode)
                        </div>

                        <div class="form-group col-sm-6">
                            <div class="form-group fg-line">

                                <span style="color:red">*</span>@Html.LabelFor(model => model.CauseTitle, new { })
                                @Html.TextBoxFor(model => model.CauseTitle, new { @class = "form-control input-sm ", })

                            </div>
                            @Html.ValidationMessageFor(model => model.CauseTitle)
                        </div>
                        <div class="form-group col-sm-6">
                            <div class="form-group fg-line">

                                <span style="color:red">*</span>@Html.LabelFor(model => model.CauseCode, new { })
                                @Html.TextBoxFor(model => model.CauseCode, new { @class = "form-control input-sm ", })

                            </div>
                            @Html.ValidationMessageFor(model => model.CauseCode)
                        </div>
                        <div class="form-group col-sm-6">
                            <div class="form-group fg-line">

                                @Html.LabelFor(model => model.CauseDescription, new { })
                                @Html.TextBoxFor(model => model.CauseDescription, new { @class = "form-control input-sm ", })

                            </div>
                            @Html.ValidationMessageFor(model => model.CauseDescription)
                        </div>

                    </div>

                    <div class="form-group col-sm-6">
                        <input class="btn btn-info" style="margin-left:1%" value="@Resources.ButtonAction_Submit" id="CreateCCRMCauseMasterRecord" type="button" />
                    </div>


                </form>
            </div>
        </div>
    </div>

    <script src="@Url.Content("~/Scripts/jquery.validate.js") " type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            CCRMCauseMaster.Initialize();
        });
    </script>
</div>




