@model AERP.ViewModel.EmployeeShiftMasterViewModel
@{

    Layout = null;
}

@*<div class="container">*@
<div class="block-header">
    <h2 style="text-transform: none;"><i class="zmdi zmdi-view-toc"></i>&nbsp;Shift Master</h2>
</div>

<div class="card">
    <div class="card-header">
        <ul class="actions">
            <li class="dropdown">
                <a href="" data-toggle="dropdown" title="Add New">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a class="mfpAjaxModal" href="@Url.Action("CreateShift", "EmployeeShiftMaster")">
                            <i class="zmdi zmdi-plus-square"></i> &nbsp; @Resources.DisplayName_AddNew
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    



    <div class="bootgrid-header container-fluid" id="data-table-command-header">
        <div class="row">
            <div class="col-sm-12 actionBar">
                <div class="search form-group">
                    <div class="input-group">
                        <span class="zmdi icon input-group-addon glyphicon-search"></span>
                        <input type="text" id="UserSearch" placeholder="Search" class="search-field form-control">
                    </div>
                </div>
                <div class="actions btn-group">
                    <div class="dropdown btn-group">
                        <button data-toggle="dropdown" type="button" class="btn btn-default dropdown-toggle">
                            <span class="dropdown-text" id="tblDisplayRowLength">@Resources.GlobalProperties_10</span> <span class="caret"></span>
                        </button>
                        <ul role="menu" style="cursor: pointer" id="showrecords" class="dropdown-menu pull-right">
                            <li class="active" aria-selected="true">
                                <a class="dropdown-item dropdown-item-button" data-action="@Resources.GlobalProperties_10">@Resources.GlobalProperties_10</a>
                            </li>
                            <li aria-selected="false">
                                <a class="dropdown-item dropdown-item-button" data-action="@Resources.GlobalProperties_25">@Resources.GlobalProperties_25</a>
                            </li>
                            <li aria-selected="false"><a class="dropdown-item dropdown-item-button" data-action="@Resources.GlobalProperties_50">@Resources.GlobalProperties_50</a></li>
                        </ul>
                    </div>
                    <div class="dropdown btn-group">
                        <button data-toggle="dropdown" type="button" class="btn btn-default dropdown-toggle" aria-expanded="false">
                            <span class="dropdown-text">
                                <span class="zmdi icon zmdi-view-module"></span>
                            </span><span class="caret"></span>
                        </button>
                        <ul role="menu" id="toggleTableColumn" class="dropdown-menu pull-right">
                            <li>
                                <div class="checkbox">
                                    <label class="dropdown-item" aria-disabled="false">
                                        <input type="checkbox" checked="checked" class="dropdown-item-checkbox" value="0" name="Shift">
                                        Shift<i class="input-helper"></i>
                                    </label>
                                </div>
                            </li>


                            <li>
                                <div class="checkbox">
                                    <label class="dropdown-item" aria-disabled="false">
                                        <input type="checkbox" checked="checked" class="dropdown-item-checkbox" value="1" name="IsLocked">
                                        Is Locked<i class="input-helper"></i>
                                    </label>
                                </div>
                            </li>

                            <li>
                                <div class="checkbox">
                                    <label class="dropdown-item" aria-disabled="false">
                                        <input type="checkbox" checked="checked" class="dropdown-item-checkbox" value="2" name="Action">
                                        @Resources.TableHeaders_Action<i class="input-helper"></i>
                                    </label>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table id="myDataTable" class="table table-striped table-vmiddle table-responsive ">
        <thead>
            <tr>
                <th>Shift</th>
                <th>Is Locked</th>
                <th>@Resources.TableHeaders_Action</th>
            </tr>
        </thead>
    </table>
</div>
@*</div>*@

<script type="text/javascript">
    $(document).ready(function () {
        var oTable;
        EmployeeShiftMaster.Initialize();
        var isReloadedFromCookies;
        oTable = $('#myDataTable').DataTable({
            "bServerSide": true,
            "sAjaxSource": "EmployeeShiftMaster/AjaxHandler",
            "bJQueryUI": true,
            "sScrollY": false,
            "bProcessing": true,
            "sPaginationType": "full_numbers",
            "oLanguage": {
                "sInfoEmpty": "No entries to show",
            },
            "columnDefs": [

                             {
                                 "targets": 0,
                                 "bSearchable": true,
                             },
                             {
                                 "targets": 1,

                                 "data": null,
                                 "render": function (data, type, full, meta) {
                                     var chkStatus = '';
                                     if (data[1] == 1) {

                                         chkStatus = 'Yes';
                                         var result = "<p  style=''>" + ' <span style="text-align: center;" class="btn btn-xs btn-primary">' + chkStatus + '</span>' + "</p>";
                                     }
                                     else {
                                         chkStatus = 'No';
                                         var result = "<p  style=''>" + ' <span style="text-align: center;" class="btn btn-xs btn-warning">' + chkStatus + '</span>' + "</p>";
                                     }
                                     //  var result = "<p  style='text-align: center; height:5px;'>" + ' <span class="label label-important">' + chkStatus + '</span>' + "</p>";

                                     return result;

                                 }
                             },
                            {
                                "targets": 2,
                                "bSortable": false,
                                "data": null,
                                "render": function (data, type, full, meta) {
                                    var result1 = '@Html.ActionLink("Edit1", "EditShift", new { EmployeeShiftMasterID = '1' }, new { @class = "mfpAjaxModal" })';
                                    result1 = result1.replace('1', data[3]);
                                    //result1 = result1.replace("Edit1", '<i class="icon-edit" title="@Resources.ToolTip_Edit"></i>');
                                    result1 = result1.replace("Edit1", '<button title="@Resources.ToolTip_Edit" class="btn btn-default"><i class="zmdi zmdi-edit"></i></button>');

                                    if (data[1] == 'Y') {
                                        var result2 = '@Html.ActionLink("Create1", "GetShiftMasterDetails", new { EmployeeShiftMasterID = '1' }, new {@ID = "ShiftMasterID" , @class = "mfpAjaxModal" })';
                                        result2 = result2.replace('1', data[3]);
                                        result2 = result2.replace("ShiftMasterID", "ShiftMasterID_" + data[3]);
                                        @*result2 = result2.replace("Create1", '<i class="black-icons list" title="@Resources.ToolTip_ViewShiftDetails"></i>');*@
                                        result2 = result2.replace("Create1", '<button title="View Shift Details" class="btn btn-default"><i class="zmdi zmdi-plus"></i></button>');
                                    }
                                    else {
                                        var result2 = '@Html.ActionLink("Create1", "GetShiftMasterDetails", new { EmployeeShiftMasterID = '1' }, new { @ID = "ShiftMasterID" , @class = "mfpAjaxModal" })';
                                        result2 = result2.replace('1', data[3]);
                                        result2 = result2.replace("ShiftMasterID","ShiftMasterID_" + data[3]);
                                        //result2 = result2.replace("Create1", '<i class="icon-plus" title="Add ShiftDetails"></i>');
                                        result2 = result2.replace("Create1", '<button title="Add Shift Details" class="btn btn-default"><i class="zmdi zmdi-plus"></i></button>');
                                    }

                                    if (data[1] == 'Y') {
                                        var result = "<p  style=''>" + result2 + "</p>";
                                    }
                                    else {
                                        var result = "<p  style=''>" + result1 + "&nbsp;" + result2 + "</p>";
                                    }
                                    return result;

                                }
                            }
            ]
        });

        DataTableSettings(oTable, "myDataTable", "toggleTableColumn");

    });


</script>