@model AERP.ViewModel.AccountSessionMasterReportViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @* <script src="~/Scripts/AERP_Scripts/Account/AccountSessionMasterReport.js"></script>*@

    <form id="FormAccountSessionReport" method="post">
        <script src="@Url.Content("~/Scripts/jquery.validate.min.js") " type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div id="SuccessMessage" style="display:none;color:#000;" class="alert"></div>
    </form>
</div>

<div class="container">
    <div class="block-header">
        <h2 style="text-transform: none;"><i class="zmdi zmdi-view-toc"></i>&nbsp;Account Session Report</h2>
    </div>
    <div id="aaa">
        <div class="card">
            <div class="card-header"></div>
            <div class="card-body card-padding">
                @Html.Partial("/Views/Accounts/Report/AccountSessionMasterReport/AccountSessionReport.aspx")
            </div>
        </div>
    </div>
</div>


