@model AERP.ViewModel.GeneralLocationMasterViewModel

<div id="custom-content">
    <div class="block-header">
        <h2>&nbsp;<i class="zmdi zmdi-view-toc"></i>&nbsp;Update Location</h2>
    </div>
    <div class="card">
        <div class="card-body card-padding">
            <div id="displayErrorMessage" role="alert" hidden class="alert">
                <button class="close" type="button"><span aria-hidden="true">×</span></button>
                <p id="messageContent"></p>
            </div>
            @if (Model.IsUserDefined == true) { 
                
            <form id="FormEditGeneralLocationMaster">

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.ID)

                <div class="col-sm-12">
                    <div class="col-sm-6">
                        @Html.LabelFor(model => model.SelectedCountryID, new { style = "" })
                        <div class="form-group  fg-line select">
                            @Html.DropDownListFor(m => m.SelectedCountryID, (SelectList)ViewBag.GeneralCountryMaster, Resources.ddlHeaders_CountryName, new { @class = "form-control", style = "" })
                        </div>
                        @Html.ValidationMessageFor(model => model.SelectedCountryID)
                    </div>

                    <div class="col-sm-6">
                        @Html.LabelFor(model => model.SelectedRegionID, new { style = "" })
                        <div class="form-group  fg-line select">
                            @Html.DropDownListFor(m => m.SelectedRegionID, (SelectList)ViewBag.GeneralRegionMaster, Resources.ddlHeaders_RegionName, new { @class = "form-control", style = "" })
                        </div>
                        @Html.ValidationMessageFor(model => model.SelectedRegionID)
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="col-sm-6">
                        @Html.LabelFor(model => model.SelectedCityID, new { style = "" })
                        <div class="form-group  fg-line select">
                            @Html.DropDownListFor(m => m.SelectedCityID, (SelectList)ViewBag.GeneralCityMaster, Resources.ddlHeaders_CityName, new { @class = "form-control", style = "" })
                        </div>
                        @Html.ValidationMessageFor(model => model.SelectedCityID)
                    </div>

                    <div class="col-sm-6">
                        @Html.LabelFor(model => model.PostCode, new { style = "" })
                        <div class="form-group  fg-line">
                            @Html.TextBoxFor(model => model.PostCode, new { @class = "form-control", minlength = "2", maxlength = "10", style = "" })
                        </div>
                        @Html.ValidationMessageFor(model => model.PostCode)
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="col-sm-6">
                        @Html.LabelFor(model => model.LocationAddress, new { style = "" })
                        <div class="form-group  fg-line">
                            @Html.TextAreaFor(model => model.LocationAddress, new { @class = "form-control", style = "", maxlength = "250" })
                        </div>
                        @Html.ValidationMessageFor(model => model.LocationAddress)
                    </div>

                    <div class="col-sm-6">
                        @if (Model.GeneralLocationMasterDTO.DefaultFlag == true) { 
                        <div class="checkbox m-b-15" style="padding-top:8%;">
                            <label>
                                <input type="checkbox" id="DefaultFlag" checked>
                                <i class="input-helper"></i>
                                @Html.LabelFor(model => model.DefaultFlag)
                            </label>
                            @Html.ValidationMessageFor(model => model.DefaultFlag)
                        </div>
                        }
                        else {
                             
                        <div class="checkbox m-b-15" style="padding-top:8%;">
                            <label>
                                <input type="checkbox" id="DefaultFlag">
                                <i class="input-helper"></i>
                                @Html.LabelFor(model => model.DefaultFlag)
                            </label>
                            @Html.ValidationMessageFor(model => model.DefaultFlag)
                        </div>
                        
                        }
                    </div>
                </div>

                <div class="form-group" style="margin-left: 2%; ">
                    <input class="btn btn-primary btn-sm m-t-10 waves-effect" value="@Resources.ButtonAction_Submit" id="EditGeneralLocationMasterRecord" type="button" />
                </div>
            </form>
            }
            else { 

                <form id="FormEditGeneralLocationMaster">

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.ID)

                <div class="col-sm-12">
                    <div class="col-sm-6">
                        @Html.LabelFor(model => model.SelectedCountryID, new { style = "" })
                        <div class="form-group  fg-line select">
                            @Html.DropDownListFor(m => m.SelectedCountryID, (SelectList)ViewBag.GeneralCountryMaster, Resources.ddlHeaders_CountryName, new { @class = "form-control", style = "background-color:#fff;", disabled = "disabled" })
                        </div>
                        @Html.ValidationMessageFor(model => model.SelectedCountryID)
                    </div>

                    <div class="col-sm-6">
                        @Html.LabelFor(model => model.SelectedRegionID, new { style = "" })
                        <div class="form-group  fg-line select">
                            @Html.DropDownListFor(m => m.SelectedRegionID, (SelectList)ViewBag.GeneralRegionMaster, Resources.ddlHeaders_RegionName, new { @class = "form-control", style = "background-color:#fff;", disabled = "disabled" })
                        </div>
                        @Html.ValidationMessageFor(model => model.SelectedRegionID)
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="col-sm-6">
                        @Html.LabelFor(model => model.SelectedCityID, new { style = "" })
                        <div class="form-group  fg-line select">
                            @Html.DropDownListFor(m => m.SelectedCityID, (SelectList)ViewBag.GeneralCityMaster, Resources.ddlHeaders_CityName, new { @class = "form-control", style = "background-color:#fff;", disabled = "disabled" })
                        </div>
                        @Html.ValidationMessageFor(model => model.SelectedCityID)
                    </div>

                    <div class="col-sm-6">
                        @Html.LabelFor(model => model.PostCode, new { style = "" })
                        <div class="form-group  fg-line">
                            @Html.TextBoxFor(model => model.PostCode, new { @class = "form-control", minlength = "2", maxlength = "10", style = "background-color:#fff;", disabled = "disabled" })
                        </div>
                        @Html.ValidationMessageFor(model => model.PostCode)
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="col-sm-6">
                        @Html.LabelFor(model => model.LocationAddress, new { style = "" })
                        <div class="form-group  fg-line">
                            @Html.TextAreaFor(model => model.LocationAddress, new { @class = "form-control", style = "background-color:#fff;", disabled = "disabled", maxlength = "250" })
                        </div>
                        @Html.ValidationMessageFor(model => model.LocationAddress)
                    </div>

                    <div class="col-sm-6">
                        <div class="checkbox m-b-15" style="padding-top:8%;">
                            <label>
                                <input type="checkbox" id="DefaultFlag">
                                <i class="input-helper"></i>
                                @Html.LabelFor(model => model.DefaultFlag)
                            </label>
                            @Html.ValidationMessageFor(model => model.DefaultFlag)
                        </div>
                    </div>
                </div>

                <div class="form-group" style="margin-left: 2%; ">
                    <input class="btn btn-primary btn-sm m-t-10 waves-effect" value="@Resources.ButtonAction_Submit" id="EditGeneralLocationMasterRecord" type="button" />
                </div>
            </form>
                
            }

        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/jquery.validate.js") " type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<script type="text/javascript">
    var ischecked;
    $(document).ready(function () {
        $("#DefaultFlag").on("click", function () {
            ischecked = $(this).is(':checked')
            if (!ischecked) {
                alert(ischecked);
            }
            else {
                alert(ischecked);
            }

        });
        GeneralLocationMaster.Initialize();
    });
</script>

