@model AERP.ViewModel.AdminRoleMasterViewModel

<link href="@Url.Content("~/Content/Theme/vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.css")" rel="stylesheet" type="text/css" />

<style>
    .bootstrap-select {
        width: 98% !important;
    }

    .checkbox label {
        /*padding-left: 15px;*/
        position: relative;
    }
</style>



<div id="custom-content">


    <div class="block-header">
        <h2>&nbsp;<i class="zmdi zmdi-view-toc"></i>&nbsp; Update Role @*@Resources.MainMenu_AdminRoleMasters*@</h2>
    </div>

    <div class="card">
        <div class="card-body card-padding" style="padding-bottom:0%;">
            <div id="displayErrorMessage" role="alert" hidden class="alert">
                <button class="close" type="button"><span aria-hidden="true">×</span></button>
                <p id="messageContent"></p>
            </div>
            <form id="FormEditAdminRoleMaster" class="row" method="post">

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.AdminSnPostID)
                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.CreatedBy)
                @Html.HiddenFor(model => model.AdminRoleCode)
                @Html.HiddenFor(model => model.CentreCode)
                @Html.HiddenFor(model => model.DepartmentIdWithName)
                @Html.HiddenFor(model => model.DesignationType)

                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            @Html.LabelFor(model => model.SanctPostName, new { style = "" })
                            <div class="form-group  fg-line">
                                @Html.TextBoxFor(model => model.SanctPostName, new { @class = "form-control", style = "background-color:#fff;", ReadOnly = "True" })
                            </div>
                        </div>

                        <div class="col-sm-6">
                            @Html.LabelFor(model => model.CentreCodeWithName, new { style = "" })
                            <div class="form-group  fg-line">
                                @Html.TextBoxFor(model => model.CentreCodeWithName, new { @class = "form-control", style = "background-color:#fff;", ReadOnly = "True" })
                            </div>
                        </div>
                    </div>

                    @if (Model.DesignationType == "Active")
                    {
                        <div class="col-sm-12">

                            <div class="col-sm-6">
                                <div class="checkbox m-b-15" style="padding-top:8%;">
                                    <label>
                                        @if (@Model.AdminRoleMasterDTO.IsLoginAllowFromOutside)
                                        {
                                            <input type="checkbox" id="IsLoginAllowFromOutside" checked>
                                        }
                                        else
                                        {
                                            <input type="checkbox" id="IsLoginAllowFromOutside">
                                        }
                                        <i class="input-helper"></i>
                                        @Html.LabelFor(model => model.IsLoginAllowFromOutside)
                                    </label>
                                </div>
                            </div>


                            <div class="col-sm-6">
                                <div class="checkbox m-b-15" style="padding-top:8%;">
                                    <label>
                                        @if (@Model.AdminRoleMasterDTO.IsAttendaceAllowFromOutside)
                                        {
                                            <input type="checkbox" id="IsAttendaceAllowFromOutside" checked>
                                        }
                                        else
                                        {
                                            <input type="checkbox" id="IsAttendaceAllowFromOutside">
                                        }
                                        <i class="input-helper"></i>
                                        @Html.LabelFor(model => model.IsAttendaceAllowFromOutside)
                                    </label>
                                </div>
                            </div>
                        </div>

                    }

                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            @Html.LabelFor(model => model.MonitoringLevel, new { style = "" })
                            <div class="form-group fg-line select">
                                @Html.DropDownList("monitoringlevel", ViewData["MonitoringLevel"] as List<SelectListItem>, new { @class = "form-control" })
                            </div>
                            @Html.ValidationMessageFor(model => model.MonitoringLevel)
                        </div>


                        <div class="col-sm-6">
                            <div class="checkbox m-b-15" style="padding-top:8%;">
                                <label>
                                    @if (@Model.AdminRoleMasterDTO.IsActive)
                                    {
                                        <input type="checkbox" id="IsActive" checked>
                                    }
                                    else
                                    {
                                        <input type="checkbox" id="IsActive">
                                    }
                                    <i class="input-helper"></i>
                                    @Html.LabelFor(model => model.IsActive)
                                </label>
                            </div>
                        </div>
                    </div>

                    @if (Model.MonitoringLevel == "Self")
                    {
                        <div class="col-sm-12" id="divSelfCentre">
                            <div class="col-sm-12">
                                <label for="input01"><b>@Resources.Headers_SelectFollowingSelfRights</b></label>
                            </div>

                            @foreach (var item in Model.DefaultRightsType)
                            {
                                <div class="col-sm-6">
                                    <div class="checkbox m-b-15" style="padding-top:8%;">
                                        <label>
                                            <input type="hidden" value="@item.AdminRoleCentreRightsID">
                                            @if (@item.AdminRoleCentreRightsID > 0)
                                            {
                                                <input type="checkbox" class="SelfRoleRights" value="@item.AdminRoleRightTypeID" checked>
                                            }
                                            else
                                            {
                                                <input type="checkbox" class="SelfRoleRights" value="@item.AdminRoleRightTypeID">
                                            }
                                            <i class="input-helper"></i>
                                            @item.RightName
                                        </label>
                                    </div>
                                </div>
                            }
                        </div>

                        <div class="col-sm-12" id="divOtherCentreSelect" style="display: none">
                            <div class="col-sm-12">
                                <label for="input01"><b>@Resources.Headers_SelectFollowingOtherRights</b></label>
                            </div>
                            <div class="col-sm-12">
                                <div id="checkboxlist" class="form-group">
                                    @Resources.DisplayNames_SelectOtherCentre
                                    <p id="e5_f">
                                        <select id="SelectedCentreCode" class="form-group selectpicker" multiple name="selectCent" data-live-search="true">
                                            @foreach (var item in Model.ListDemo)
                                            {
                                                <optgroup id="@item.CentreCode~@item.AdminRoleCentreRightsID" label="@item.CentreName" title="@item.CentreCode">
                                                    <option id="@item.RightName" value="@item.CentreCode~@item.AdminRoleRightTypeID~@item.AdminRoleCentreRightsID~@item.CentreName" @item.RoleRightStatus>@item.RightName</option>
                                                    @*<option id="@item.IsAcadMgrSelf" value="@item.CentreCode~IsAcadMgr~@item.AdminRoleCentreRightsID~@item.CentreName" @item.IsAcadMgrSelf>@Html.LabelFor(model => model.IsAcadMgr)</option>
                                                    <option id="@item.IsEstMgrSelf" value="@item.CentreCode~IsEstMgr~@item.AdminRoleCentreRightsID~@item.CentreName" @item.IsEstMgrSelf>@Html.LabelFor(model => model.IsEstMgr)</option>
                                                    <option id="@item.IsFinMgrSelf" value="@item.CentreCode~IsFinMgr~@item.AdminRoleCentreRightsID~@item.CentreName" @item.IsFinMgrSelf>@Html.LabelFor(model => model.IsFinMgr) </option>
                                                    <option id="@item.IsSuperUserSelf" value="@item.CentreCode~IsSuperUser~@item.AdminRoleCentreRightsID~@item.CentreName" @item.IsSuperUserSelf>@Html.LabelFor(model => model.IsSuperUser)</option>
                                                    <option id="@item.IsAdmMgrSelf" value="@item.CentreCode~IsAdmMgr~@item.AdminRoleCentreRightsID~@item.CentreName" @item.IsAdmMgrSelf>@Html.LabelFor(model => model.IsAdmMgr) </option>*@
                                                </optgroup>

                                            }
                                        </select>
                                    </p>
                                </div>
                            </div>
                        </div>


                    }
                    else
                    {
                        <div class="col-sm-12" id="divSelfCentre" style="display:none">
                            <div class="col-sm-12">
                                <label for="input01"><b>@Resources.Headers_SelectFollowingSelfRights</b></label>
                            </div>

                            @foreach (var item in Model.DefaultRightsType)
                            {
                                <div class="col-sm-6">
                                    <div class="checkbox m-b-15" style="padding-top:8%;">
                                        <label>
                                            <input type="hidden" value="@item.AdminRoleCentreRightsID">
                                            @if (@item.AdminRoleCentreRightsID > 0)
                                            {
                                                <input type="checkbox" class="SelfRoleRights" value="@item.AdminRoleRightTypeID" checked>
                                            }
                                            else
                                            {
                                                <input type="checkbox" class="SelfRoleRights" value="@item.AdminRoleRightTypeID">
                                            }
                                            <i class="input-helper"></i>
                                            @item.RightName
                                        </label>
                                    </div>
                                </div>
                            }
                        </div>

                        <div class="col-sm-12" id="divOtherCentreSelect">
                            <div class="col-sm-12">
                                <label for="input01"><b>@Resources.DisplayNames_SelectOtherCentre</b></label>
                            </div>
                            <div class="col-sm-12">
                                <div id="checkboxlist" class="form-group">
                                    @Resources.DisplayNames_SelectOtherCentre
                                    <p id="e5_f">
                                        <select id="SelectedCentreCode" class="form-group selectpicker" multiple name="selectCent" data-live-search="true">
                                            @foreach (var item in Model.ListDemo)
                                            {
                                                <optgroup id="@item.CentreCode~@item.AdminRoleCentreRightsID" label="@item.CentreName" title="@item.CentreCode">
                                                    <option id="@item.RightName" value="@item.CentreCode~@item.AdminRoleRightTypeID~@item.AdminRoleCentreRightsID~@item.CentreName" @item.RoleRightStatus>@item.RightName</option>
                                                    @*<option id="@item.IsAcadMgrSelf" value="@item.CentreCode~IsAcadMgr~@item.AdminRoleCentreRightsID~@item.CentreName" @item.IsAcadMgrSelf>@Html.LabelFor(model => model.IsAcadMgr)</option>
                                                    <option id="@item.IsEstMgrSelf" value="@item.CentreCode~IsEstMgr~@item.AdminRoleCentreRightsID~@item.CentreName" @item.IsEstMgrSelf>@Html.LabelFor(model => model.IsEstMgr)</option>
                                                    <option id="@item.IsFinMgrSelf" value="@item.CentreCode~IsFinMgr~@item.AdminRoleCentreRightsID~@item.CentreName" @item.IsFinMgrSelf>@Html.LabelFor(model => model.IsFinMgr) </option>
                                                    <option id="@item.IsSuperUserSelf" value="@item.CentreCode~IsSuperUser~@item.AdminRoleCentreRightsID~@item.CentreName" @item.IsSuperUserSelf>@Html.LabelFor(model => model.IsSuperUser)</option>
                                                    <option id="@item.IsAdmMgrSelf" value="@item.CentreCode~IsAdmMgr~@item.AdminRoleCentreRightsID~@item.CentreName" @item.IsAdmMgrSelf>@Html.LabelFor(model => model.IsAdmMgr) </option>*@
                                                </optgroup>

                                            }
                                        </select>
                                    </p>
                                </div>
                            </div>
                        </div>

                    }

                    @*
                    *@

                </div>

                <div class="col-sm-12">
                    <div class="form-group">
                        <input id="EditAdminRoleMasterRecord" type="button" value="@Resources.ButtonAction_Submit" class="btn btn-primary" />
                    </div>
                </div>


            </form>

        </div>
    </div>



</div>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js") " type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/fnReloadAjax.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.multiple.select.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Content/Theme/vendors/bower_components/bootstrap-select/dist/js/bootstrap-select.js")" type="text/javascript"></script>


<script type="text/javascript">
    $(document).ready(function () {

        $('.selectpicker').selectpicker();

        //$("#SelectedCentreCode").multipleSelect({
        //    filter: true,
        //    multiple: true,
        //    multipleWidth: 150,
        //    width: '140%',
        //    height: '200px',
        //    keepOpen: true
        //});
        AdminRoleMaster.Initialize();
    });

</script>