@model AERP.ViewModel.EmployeeReportForm5MonthlyViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Content/Theme/vendors/bower_components/moment/min/moment.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/Theme/vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js")" type="text/javascript"></script>
<script src="~/Content/Theme/vendors/bower_components/typeahead.js/dist/typeahead.bundle.js"></script>
<div class="container" style="padding-bottom:10px;">
    @using (Html.BeginForm("Index", "EmployeeReportForm5Monthly", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="block-header">
            <h2 style="text-transform: none;"><i class="zmdi zmdi-view-toc"></i>&nbsp;PF Report Form 5(a) Monthly and Yearly</h2>
        </div>

        <div class="card" style="margin-bottom: 0px;">
            <div class="card-body card-padding">


                <div class="row">
                    <div class="col-sm-3">
                        @Html.HiddenFor(m => m.IsPosted)
                        <div class="form-group fg-line">
                            <label>@Html.LabelFor(model => model.MonthName, new { })</label>
                            @Html.DropDownList("MonthName", ViewData["MonthName"] as List<SelectListItem>, new { @class = "form-control input-sm", data_val = "true", data_toggle = "tooltip", data_placement = "top", data_original_title = "MonthList*" })
                        </div>
                        @Html.ValidationMessageFor(model => model.MonthName)
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group fg-line">
                            <label>@Html.LabelFor(model => model.MonthYear, new { })</label>
                            @Html.DropDownList("MonthYear", ViewData["MonthYear"] as List<SelectListItem>, new { @class = "form-control input-sm", data_val = "true", data_toggle = "tooltip", data_placement = "top", data_original_title = "YearList*" })
                        </div>
                        @Html.ValidationMessageFor(model => model.MonthYear)
                    </div>
                    <div class="col-sm-4" style="margin-top:33px;">
                        <div class="fg-line">
                            <button type="submit" name="submit" id="btnEmployeeReportForm5MonthlySubmit" class="btn-primary btn">Show</button>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    }
</div>
<div class="container" style="margin-top:-10px">
    <div id="aaa">
        <div class="card">
            <div class="card-header"></div>
            <div class="card-body card-padding">
                @Html.Partial("/Views/Contract/Report/EmployeeReportForm5Monthly/EmployeeReportForm5Monthly.aspx")
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        //  EmployeeReportForm5Monthly.Initialize();

        $('#btnEmployeeReportForm5MonthlySubmit').on("click", function () {

            $("#MonthName").val($("#MonthName").val());
            $("#MonthYear").val($("#MonthYear").val());
            $("#IsPosted").val(true);


        });

    });
</script>






