@model AERP.ViewModel.GeneralTaskReportingDetailsViewModel
@*<link href="@Url.Content("~/Content/materialtheme/vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.css")" rel="stylesheet" type="text/css" />*@

<script src="@Url.Content("~/Content/Theme/vendors/bower_components/moment/min/moment.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/Theme/vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/jquery-ui.theme.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/admin/jquery-ui-1.css")" rel="stylesheet" type="text/css" />

<script src="@Url.Content("~/Scripts/jquery.validate.min.js") " type="text/javascript"></script>
<link href="@Url.Content("~/Content/Theme/vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div id="custom-content">
    <div class="block-header">
        <h2>&nbsp;<i class="zmdi zmdi-view-toc"></i>&nbsp;Create Stage Details</h2>
    </div>
    <div class="card">
        <div class="card-body card-padding">
            <div id="displayErrorMessage" role="alert" hidden class="alert">
                <button class="close" type="button"><span aria-hidden="true">×</span></button>
                <p id="messageContent"></p>
            </div>
            <div id="msgDiv" style="display:none;color:#000;" class="alert"></div>
            <form id="FormCreateApprovalStageDetails">
                @Html.HiddenFor(m => m.GeneralTaskReportingMasterID)
                @Html.HiddenFor(m => m.StageSequenceNumber)
                @Html.HiddenFor(m => m.CentreCode)
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <span style="color: red; float: left; padding-left: 1px; font-weight: bold">*</span>
                            @Html.LabelFor(model => model.RangeFrom, new { })
                            <div class="form-group fg-line">
                                @Html.TextBoxFor(model => model.RangeFrom, new { @class = "form-control", maxlength = "50", Value = "1", tabindex = "0", style = "", min = "1" })
                            </div>
                            @Html.ValidationMessageFor(m => m.RangeFrom)
                        </div>

                        <div class="col-sm-6">
                            <span style="color: red; float: left; padding-left: 1px; font-weight: bold">*</span>
                            @Html.LabelFor(model => model.RangeUpto, new { })
                            <div class="form-group fg-line">
                                @Html.TextBoxFor(m => m.RangeUpto, new { @class = "form-control", style = "", Value = "1", maxlength = "50" })
                            </div>
                            @Html.ValidationMessageFor(model => model.RangeUpto)
                        </div>
                    </div>
                    <hr />
                    <h6 style="padding-left:32px">Add Authorised Employee</h6>
                    <br />

                    <div class="col-sm-12">
                            <div class="col-sm-6">
                                <span style="color: red; float: left; padding-left: 1px; font-weight: bold">*</span>
                                @Html.LabelFor(model => model.EmployeeName, new { })
                                @Html.HiddenFor(m => m.RoleID)
                                <div class="form-group  fg-line">
                                    @Html.TextBoxFor(model => model.EmployeeName, new { @class = "form-control", style = "", @placeholder = "Search Employee" })
                                </div>
                                @Html.ValidationMessageFor(m => m.EmployeeName)
                            </div>

                            <div class="col-sm-6">
                                <div id="checkboxlist" class="form-group">
                                    @Html.LabelFor(model => model.DepartmentName, new { style = "" })
                                    <p id="e5_f">
                                        <select id="checkboxlist1" class="form-group selectpicker" multiple name="selectCent">
                                            @foreach (var item in Model.OrganisationDepartmentList)
                                            {
                                                <option id="@item.DepartmentID" value="@item.DepartmentID~@item.DepartmentName">@item.DepartmentName</option>
                                            }
                                        </select>
                                    </p>
                                </div>
                            </div>
                        </div>
                <div class="col-sm-12">
                    <div class="col-sm-6">
                        <span style="color: red; float: left; padding-left: 1px; font-weight: bold">*</span>
                        @Html.LabelFor(model => model.HODAuthorizedEmployeeName, new { })
                        @Html.HiddenFor(m => m.HODAuthorizedEmployeeRoleID)
                        <div class="form-group  fg-line">
                            @Html.TextBoxFor(model => model.HODAuthorizedEmployeeName, new { @class = "form-control", style = "", @placeholder = "Search Employee" })
                        </div>
                        @Html.ValidationMessageFor(m => m.HODAuthorizedEmployeeName)
                    </div>

                </div>

                <div class="col-sm-12">
                    <button type="button" id="btnAdd" style="" class="btn btn-primary pull-right">Add</button>
                </div>
                <div class="col-sm-12" style="padding-top:10px;">
                    <div class="row">
                        <div style="height: 200px; overflow: auto">
                            <div id="DivAddRowTable">
                                <table id="tblData" class="table table-bordered" style="">
                                    <thead>
                                        <tr>
                                            <th>Employee</th>
                                            <th>Department</th>
                                            <th>HOD Authorized Employee</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin-left: 2%; padding-top:48%; ">
                    <button type="button" id="CreateApprovalStageDetailsRecord" class="btn btn-primary">@Resources.ButtonAction_Submit</button>
                </div>
            </form>

        </div>
    </div>
</div>
@*<script src="@Url.Content("~/Scripts/jquery.validate-1.15.0.js") " type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>*@
<script src="@Url.Content("~/Scripts/jquery.multiple.select.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/Theme/vendors/bower_components/bootstrap-select/dist/js/bootstrap-select.js")" type="text/javascript"></script>
<script type="text/javascript">

    $(document).ready(function () {
        GeneralTaskReportingDetails.Initialize();


        $('#checkboxlist1').selectpicker();

        //$('.selectpicker').selectpicker();

        //$('#checkboxlist1').multipleSelect();
    });

</script>