
<header id="header" class="clearfix" data-current-skin="bluegray">
    <ul class="header-inner">
        <li id="menu-trigger" data-trigger="#sidebar">
            <div class="line-wrap">
                <div class="line top"></div>
                <div class="line center"></div>
                <div class="line bottom"></div>
            </div>
        </li>

        <li class="logo hidden-xs">
            @if (Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["ProjectEnvoirnment"]) != "" && Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["ISProjectEnvoirnmentLengthLong"]) == "1")
            {

                <a href="#">@Resources.ResourceManager.GetString(string.Concat(Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["ProjectEnvoirnment"])))</a>

            }
            else
            {
                if (Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["ProjectEnvoirnment"]) != "")
                {
                    <a href="#"> @Resources.ResourceManager.GetString(string.Concat(Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["ProjectEnvoirnment"])))</a>
                }
                else
                {
                    <a href="#">  @Resources.ProjectEnvoirnment_AIS</a>
                }
            }
            @*<a href="index.html">Material Admin</a>*@
        </li>

        <li class="pull-right">
            <ul class="top-menu">
                <li id="toggle-width">
                    <div class="toggle-switch">
                        <input id="tw-switch" type="checkbox" hidden="hidden">
                        <label for="tw-switch" class="ts-helper"></label>
                    </div>
                </li>



                @*-------------------Jump to _RoleList action method of _Header Controller for fetching roles--------------------*@
                <li id="ddlRole" class="dropdown">
                    <a data-toggle="dropdown" href="#" title="View profile"><i class="zmdi tm-icon zmdi-account zmdi-hc-fw"></i></a>
                    @*@Resources.DisplayName_ViewProfile*@
                    <ul id="ddlprofile" class="dropdown-menu dm-icon pull-right">
                        <li id="@HttpContext.Current.Session["PersonID"].ToString()">
                            <a href="#">
                                <i class="zmdi zmdi-check-all"></i>@Resources.DisplayName_Self
                            </a>
                        </li>

                        <li>
                            <a href="@Url.Action("ProfileReportOtherHeader", "EmployeeProfileReport")">
                                <i class="zmdi zmdi-check-all"></i>@Resources.DisplayName_Other
                            </a>
                        </li>

                    </ul>
                </li>

                @*-------------------Jump to _ModuleList action method of _Header Controller for fetching modules--------------------*@

                @*<li id="ddlModule" class="dropdown">
                        @{ Html.RenderAction("_ModuleListV2", "_Header", new { AdminRoleMasterID = @HttpContext.Current.Session["RoleID"] != null ? @HttpContext.Current.Session["RoleID"] : @HttpContext.Current.Session["DefaultRoleID"] }); }

                    </li>*@

                @*-------------------Jump to _BalancesheetList action method of _Header Controller for fetching Balancesheet List--------------------*@
                @*@if (HttpContext.Current.Session["UserType"] != null)
                    {
                        if (HttpContext.Current.Session["UserType"].ToString() == "E")
                        {
                            <li id="ddlMfdsodule" class="dropdown">
                                @{Html.RenderAction("_BalancesheetListV2", "_Header", new { ModuleName = @HttpContext.Current.Session["ModuleName"] });}
                            </li>
                        }
                    }*@





            </ul>
        </li>
    </ul>


    <!-- Top Search Content -->
    @*<div id="top-search-wrap">
            <div class="tsw-inner">
                <i id="top-search-close" class="zmdi zmdi-arrow-left"></i>
                <input type="text">
            </div>
        </div>*@
</header>


@*<script src="@Url.Content("~/Content/materialtheme/js/functions.js")" type="text/javascript"></script>*@
<script type="text/javascript">
    $(document).ready(function () {




        $(function () {
            jQuery.fn.extend({
                disable: function (state) {
                    return this.each(function () {
                        this.disabled = state;
                    });
                }
            });

            //$('input[type="submit"], input[type="button"], button').disable(true);
            $('input[type="checkbox"]').disable(false);
        });

        //var layoutStatus = localStorage.getItem('ma-layout-status');

        //if (!$('#header-2')[0]) {

        //    if (layoutStatus == 1) {
        //        //alert();
        //        $('body').addClass('sw-toggled');
        //        //$('#tw-switch').prop('checked', true);
        //    }
        //}

        //$('body').on('change', '#toggle-width input:checkbox', function () {
        //    //alert();
        //    if ($(this).is(':checked')) {

        //        setTimeout(function () {
        //            alert('chk');
        //            $('body').addClass('toggled sw-toggled');
        //            localStorage.setItem('ma-layout-status', 1);
        //        }, 250);
        //    }
        //    else {

        //        setTimeout(function () {


        //            //var $checkboxes = $(this).parent().find('input[type=checkbox]');
        //            //$checkboxes.prop('checked', $(this).is(':checked'));
        //            $('body').addClass('toggled sw-toggled');
        //            //$('body').removeClass('toggled sw-toggled');
        //            localStorage.setItem('ma-layout-status', 0);
        //            alert('unchk');

        //        }, 250);
        //    }
        //});


    });
</script>