@model AERP.ViewModel.SaleContractServiceItemAttendanceViewModel

<table id="myDataTable" class="table table-striped table-vmiddle table-responsive ">
    <thead>
        <tr>
            <th>Service Item</th>
            <th>Total Days</th>
            <th>Applicable Days</th>
        </tr>
    </thead>
    @if (Model.ListSaleContractServiceItemAttendance.Count > 0)
    {
        decimal TotalDaysSum = 0; decimal TotalAttendanceSum = 0;
        <tbody>
            @foreach (var item in Model.ListSaleContractServiceItemAttendance)
            {
                TotalDaysSum = TotalDaysSum + item.TotalDays;
                TotalAttendanceSum = TotalAttendanceSum + item.TotalAttendance;
                <tr>
                    <td>@item.ServiceItemName</td>
                    <td>@item.TotalDays</td>
                    <td>@item.TotalAttendance</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>Total</th>
                <th>@TotalDaysSum</th>
                <th>@TotalAttendanceSum</th>
            </tr>
        </tfoot>
    }
</table>
