@model AMS.ViewModel.ECommerceSystemSettingsViewModel
<input type="hidden" id="TaskCode" value="GeneralStoreData" />
@Html.HiddenFor(model => model.TaskCode)
<div id="custom-content">
    <div class="card">
        <div class="card-body card-padding">
            <div id="displayErrorMessage" role="alert" hidden class="alert">
                <button class="close" type="button"><span aria-hidden="true">×</span></button>
                <p id="messageContent"></p>
            </div>
            <form id="FormCreateECommerceSystemSettings" role="form" class="row">
                <div class="row col-sm-12" id="GeneralUnitsID">
                    <div class="col-sm-3">
                        <div class="form-group select fg-line">
                            @Html.LabelFor(model => model.GeneralUnitsID, new { })
                              @Html.DropDownListFor(model => model.GeneralUnitsID, (SelectList)ViewBag.GeneralUnitsList, new { @class = "form-control input-sm AddGeneralUnitsID" })
                           
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="@Url.Content("~/Scripts/jquery.validate-1.15.0.js") " type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/fnReloadAjax.js")" type="text/javascript"></script>

<script type="text/javascript">
    ECommerceSystemSettings.Initialize();
</script>


