@*
    @model AMS.ViewModel.AccountGeneralLedgerReportViewModel

    <script src="@Url.Content("~/Scripts/AMS_Scripts/Account/AccountCashBankDetailsReport.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js") " type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @using (Html.BeginForm("Index", "AccountCashBankDetailsReport", FormMethod.Post, new { enctype = "multipart/form-data", id = "GroupForm" }))
    {
        <div class="container-fluid">
            <ul class="breadcrumb">
                <li>Account Report<span class="divider">»</span></li>
                <li>Cash Bank Details</li>
            </ul>
            <div id="SuccessMessage" style="display: none; color: #000;" class="alert"></div>
            <div class="">
                <div class="">
                    <div class="widget-block"  style="background: #fff none repeat scroll 0 0;" >
                        <div class="widget-head">
                            <h5>Parameter of Cash Bank Details</h5>
                        </div>
                        <div class="widget-content">
                            <div class="widget-box">

                                <ul class="breadcrumb" style="background: #fff none repeat scroll 0 0;border: 0px solid #c2c2c2;  margin-top: 15px;">

                                    <li>
                                        <div class="control-group" style="margin-bottom: 5px;">

                                            <div class="span2">
                                                @Html.LabelFor(m => m.AccountSessionID, new { @class = "control-label", style = "font-weight:bold" })
                                            </div>
                                            <div class="span8" style="line-height: 25px">
                                                @Html.DropDownListFor(m => m.AccountSessionID, Model.AccountSessionMasterReportItems, "------Select Account Session-------", new { @class = "", style = "font-weight:bold" })
                                                <br />
                                                @Html.ValidationMessageFor(model => model.AccountSessionID)
                                            </div>

                                        </div>
                                        <div class="control-group" style="margin-bottom: 5px;">

                                            <div class="span2">
                                                @Html.LabelFor(m => m.FromDate, new { @class = "control-label", style = "font-weight:bold" })
                                            </div>
                                            <div class="span3" style="line-height: 25px">
                                                @Html.TextBoxFor(m => m.FromDate, new { @class = "", style = "font-weight:bold", ReadOnly = "True" })
                                                <br />
                                                @Html.ValidationMessageFor(model => model.FromDate)
                                            </div>
                                            <div class="span2">
                                                @Html.LabelFor(m => m.ToDate, new { @class = "control-label", style = "font-weight:bold" })
                                            </div>
                                            <div class="span3" style="line-height: 25px">

                                                @Html.TextBoxFor(m => m.ToDate, new { @class = "", style = "font-weight:bold", ReadOnly = "True" })
                                                <br />
                                                @Html.ValidationMessageFor(model => model.ToDate)
                                            </div>
                                        </div>


                                        <div class="control-group" style="margin-bottom: 5px;">
                                            <div class="span2">
                                                @Html.LabelFor(m => m.AccountType, new { @class = "control-label", style = "font-weight:bold" })
                                            </div>
                                            <div class="span3" style="line-height: 25px">
                                                @Html.DropDownList("AccountType", ViewData["AccountType"] as List<SelectListItem>, new { style = "font-Weight:Bold;", @class = "" })
                                                <br />
                                                @Html.ValidationMessageFor(model => model.AccountType)
                                            </div>
                                            <div class="span2">
                                                @Html.LabelFor(m => m.AccountName, new { @class = "control-label", style = "font-weight:bold" })

                                            </div>
                                            <div class="span3" style="line-height: 25px">
                                                @Html.DropDownListFor(m => m.AccountID, Model.AccountNameReportItems, "------Select Account Name-------", new { @class = "", style = "font-weight:bold" })
                                                <br />
                                                @Html.ValidationMessageFor(model => model.AccountID)

                                            </div>
                                        </div>


                                        <div class="control-group" style="margin-bottom: 5px;">
                                            <div class="span2">
                                                &nbsp;
                                            </div>
                                            <div class="span3" style="line-height: 25px">
                                                  &nbsp;  &nbsp;

                                            </div>

                                            <div class="span2">
                                                &nbsp;
                                            </div>
                                            <div class="span3" style="line-height: 25px">
                                                <input type="submit" name="submit" value="Submit" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    </li>


                                </ul>

                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <div class="row-fluid">
                <div id="aaa">
                    <div class="span12" style="float: left">
                        <div class="widget-block">
                            <div class="widget-head">
                            <h5>Cash Bank Details Report</h5>
                            </div>
                            <div class="widget-content">

                                <div class="widget-box" style="padding: 15px">

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <script type="text/javascript">

        $(document).ready(function () {

            AccountCashBankDetailsReport.Initialize();

        });
    </script>

*@





@model AMS.ViewModel.AccountGeneralLedgerReportViewModel

@{
    Layout = "~/Views/Shared/_LayoutV2.cshtml";
}
<script src="@Url.Content("~/Scripts/AMS_Scripts/Account/AccountCashBankDetailsReport.js")" type="text/javascript"></script>
@Html.AntiForgeryToken()
@Html.ValidationSummary(true)
<div class="container">

    
    @using (Html.BeginForm("Index", "AccountCashBankDetailsReport", FormMethod.Post, new { enctype = "multipart/form-data", id = "GroupForm" }))
    {
        <div class="block-header">
            <h2 style="text-transform: none;"><i class="zmdi zmdi-view-toc"></i>&nbsp;Cash Bank Details</h2>
        </div>

        <div class="card" style="margin-bottom: 0px;">
            <div class="card-body card-padding">
                @*hidden fields*@

                <div class="row col-sm-12">
                    <div class="col-sm-12">
                        <div class="fg-line select form-group">
                            @Html.DropDownListFor(m => m.AccountSessionID, Model.AccountSessionMasterReportItems, "------Select Account Session-------", new { @class = "form-control input-sm", data_val = "true", data_toggle = "tooltip", data_placement = "top", data_original_title = "Account Session*" })
                        </div>
                        @Html.ValidationMessageFor(model => model.AccountSessionID)
                    </div>
                </div>

                <div class="row col-sm-12">
                    <div class="col-sm-6">
                        <div class="form-group fg-line dtp-container">
                            @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control input-sm", @readonly = "readonly", @placeholder = "Session from date", data_val = "true", data_toggle = "tooltip", data_placement = "top", data_original_title = "Session from date", style = "background-color:white" })
                        </div>
                        @Html.ValidationMessageFor(model => model.FromDate)
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group fg-line dtp-container">
                            @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control input-sm", @readonly = "readonly", @placeholder = "Session to date", data_val = "true", data_toggle = "tooltip", data_placement = "top", data_original_title = "Session to date", style = "background-color:white" })
                        </div>
                        @Html.ValidationMessageFor(model => model.ToDate)
                    </div>
                </div>

                <div class="row col-sm-12">

                    <div class="col-sm-6">
                        <div class="fg-line select form-group">
                            @Html.DropDownList("AccountType", ViewData["AccountType"] as List<SelectListItem>, new { @class = "form-control input-sm", data_val = "true", data_toggle = "tooltip", data_placement = "top", data_original_title = "Report Parameter" })

                        </div>
                        @Html.ValidationMessageFor(model => model.AccountType)
                    </div>
                    
                    <div class="col-sm-6">
                        <div class="fg-line select form-group">
                            @Html.DropDownListFor(m => m.AccountID, Model.AccountNameReportItems, "------Select Account Name-------", new { @class = "form-control input-sm", data_val = "true", data_toggle = "tooltip", data_placement = "top", data_original_title = "Account name*" })
                        </div>
                        @Html.ValidationMessageFor(model => model.AccountID)
                    </div>


                </div>

                <div class="row" style="margin-left:2%; margin-top:15%;">
                    <button type="submit" name="submit" class="btn btn-primary">Show</button>
                </div>

            </div>
        </div>
    }

    <div id="aaa">
        <div class="card">
            <div class="card-header"></div>
            <div class="card-body card-padding">
                @*@Html.Partial("/Views/Accounts/AccountIndividualBalanceReport/AccountIndividualBalanceReport.aspx")*@
                @*  @Html.Partial("/Views/Accounts/AccountDayBookReport/AccountDayBookReport.aspx")*@
            </div>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Content/materialtheme/vendors/bower_components/moment/min/moment.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/materialtheme/vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        
        AccountCashBankDetailsReport.Initialize();

        $('#FromDate').attr("readonly", true);

        $('#FromDate').datetimepicker({
            format: 'DD MMMM YYYY',
            ignoreReadonly: true,
        });

        $("#ToDate").datetimepicker({
            format: "DD MMMM YYYY",
            ignoreReadonly: true,
        });


    });
</script>