@*
    @model AMS.ViewModel.LeaveShiftAllocateToCentreViewModel

    <div class="container-fluid">
        <ul class="breadcrumb">
            <li>@Resources.Mainheading_Leave<span class="divider">»</span></li>
            <li class="active">@Resources.FormName_LeaveShiftCentrewise</li>
        </ul>
        <ul class="breadcrumb" style="height: 30px;">

            <li>
                <span style="color: red;  padding-left: 1px; font-weight: bold">*</span>    <span style="font-size: 12px; font-weight: bold; line-height: 30px">@Resources.TableHeaders_CentreName&nbsp; &nbsp;&nbsp;</span>
                @Html.DropDownListFor(m => m.CentreCode, Model.ListGetAdminRoleApplicableCentreItems, Resources.ddlHeaders_CentreName, new { @class = "form-control chosen-select", style = "font-weight:bold;" })

            </li>
            <li>
                <input type="button" value="@Resources.GlobalProperties_ShowList" style="margin-bottom: 9px" class="btn btn-primary" id="btnShowList" />
            </li>

        </ul>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-block">

                    <div style="display: none">@Html.ActionLink("Create New", "Create", new { id = 0 }, new { @class = "ajax", title = "Create" })</div>
                    <div class="widget-head">
                        <h5 id="hFive"><i class="black-icons users"></i>&nbsp;@Resources.TableHeaders_ManageLeaveShiftCentrewise</h5>
                        <div class="pull-right" style="margin: -24px 8px 0px 10px;">
                            <div class="input-append" id="" style="float: right;">
                                <div style="display: none;">
                                    <input type="hidden" name="_method" value="POST">
                                </div>
                                <div>


                                    <select name="data[User][searchby]" class="" id="showrecord" tabindex="16">
                                        <option value="10">@Resources.GlobalProperties_ShowRecords</option>
                                        <option value="10">@Resources.GlobalProperties_10</option>
                                        <option value="50">@Resources.GlobalProperties_50</option>
                                        <option value="100">@Resources.GlobalProperties_100</option>
                                    </select>
                                    &nbsp;&nbsp;
                                    <input type="text" name="data[User][search]" class="search_query input-medium" placeholder="@Resources.GlobalProperties_Search..." size="16" autocomplete="off" id="UserSearch">
                                    <button class="btn" type="button" id="searchBtn"><i class="icon-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="widget-content">
                        <div class="widget-box">
                            <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper" role="grid">
                                <div class="table_content">
                                    <table id="myDataTable" class="table table-striped table-bordered ">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;width:60%">@Resources.TableHeaders_Shift</th>
                                                <th style="text-align: center; width: 30%; line-height: 40px">@Resources.TableHeaders_AllocationStatus </th>
                                                <th style="text-align: center; width: 10px; line-height: 40px">@Resources.TableHeaders_Action</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="widget-bottom">
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        $(document).ready(function () {
            LeaveShiftAllocateToCentre.Initialize();
            var oTable = $('#myDataTable').dataTable({
                "bServerSide": true,
                "sAjaxSource": "LeaveShiftAllocateToCentre/AjaxHandler",
                "bJQueryUI": true,
                "sScrollY": false,
                "bProcessing": true,
                "sPaginationType": "full_numbers",
                "oLanguage": {
                    "sInfoEmpty": "No entries to show",
                },
                "fnServerParams": function (aoData) {
                    aoData.push({ "name": "CentreCode", "value": $("#CentreCode").val() });

                },
                "columnDefs": [


                     {
                         "targets": 1,
                         "bSortable": false,
                         "data": null,
                         "render": function (data, type, full, meta) {
                             var chkStatus = '';
                             if (data[1] == "True") {
                                 chkStatus = 'checked';
                             }
                             else {
                                 chkStatus = '';
                             }
                             var result = "<p  style='text-align: center; height:5px;'>" + '<input id="IsActive" class="CheckBox" type="checkbox" disabled ' + chkStatus + ' />' + "</p>";

                             return result;

                         }
                     },

                     {
                         "targets": 2,
                         "bSortable": false,
                         "data": null,
                         "render": function (data, type, full, meta) {
                             //if (data[4] == "False") {
                                 var statusFlag = data[1];
                                 if (statusFlag == "False") {
                                     var result1 = '@Html.ActionLink("Create1", "Create", new { ShiftID = "ID1", CentreCode = Model.CentreCode, centreName = "ID2", ShiftDesc = "ID3" }, new { @class = "ajax  cboxElement" })';
                                     result1 = result1.replace("ID1", data[2]);
                                     result1 = result1.replace("ID2", $("#CentreCode :selected").text().replace(/ /g, "~"));
                                     result1 = result1.replace("ID3", data[0].replace(/ /g, "~"));
                                     result1 = result1.replace("Create1", '<i class="icon-plus" title="@Resources.ToolTip_Create" ></i>');
                                 }
                                 else if (statusFlag == "True") {
                                     var result1 = '@Html.ActionLink("Edit1", "Edit", new { ID = "ID1", centreName = "ID2", ShiftDesc = "ID3" }, new { @class = "ajax  cboxElement" })';
                                     result1 = result1.replace("ID1", data[3]);
                                     result1 = result1.replace("ID2", $("#CentreCode :selected").text().replace(/ /g, "~"));
                                     result1 = result1.replace("ID3", data[0].replace(/ /g, "~"));

                                     result1 = result1.replace("Edit1", '<i class="icon-edit" title="@Resources.ToolTip_Edit"></i>');

                                 }
                                 var result = "<p  style='text-align: center; height:5px;'>" + result1 + "</p>";
                                 return result;
                             //}
                             //else {
                             //    return null;
                             //}
                         }
                     }

                ]
            });
        });
    </script>

*@


@model AERP.ViewModel.LeaveShiftAllocateToCentreViewModel



@*<div class="container">*@
<div class="block-header">
    <h2 style="text-transform: none;"><i class="zmdi zmdi-view-toc"></i>&nbsp;@Resources.FormName_LeaveShiftCentrewise</h2>
</div>

<div class="card">
    @*<div class="card-header"></div>*@
    <div class="card-body card-padding">
        <div class="row">

            <div id="displayErrorMessage" role="alert" hidden class="alert" style="width:50%; margin-left:auto; margin-right:auto;">
                <button class="close" type="button"><span aria-hidden="true">×</span></button>
                <p id="messageContent"></p>
            </div>


            <div class="col-sm-4">
                @Resources.TableHeaders_CentreName
                <div class="form-group fg-line select">
                    @Html.DropDownListFor(m => m.CentreCode, Model.ListGetAdminRoleApplicableCentreItems, Resources.ddlHeaders_CentreName, new { @class = "form-control", style = "" })
                </div>
            </div>

            <div class="col-sm-3" style="margin-top:27px;">
                <button type="button" class="btn btn-primary" id="btnShowList">@Resources.GlobalProperties_ShowList</button>
            </div>
        </div>
    </div>
    


    <div class="bootgrid-header container-fluid" id="data-table-command-header">
        <div class="row">
            <div class="col-sm-12 actionBar">
                <div class="search form-group">
                    <div class="input-group">
                        <span class="zmdi icon input-group-addon glyphicon-search"></span>
                        <input type="text" id="UserSearch" placeholder="Search" class="search-field form-control">
                    </div>
                </div>
                <div class="actions btn-group">
                    <div class="dropdown btn-group">
                        <button data-toggle="dropdown" type="button" class="btn btn-default dropdown-toggle">
                            <span class="dropdown-text" id="tblDisplayRowLength">@Resources.GlobalProperties_10</span> <span class="caret"></span>
                        </button>
                        <ul role="menu" style="cursor: pointer" id="showrecords" class="dropdown-menu pull-right">
                            <li class="active" aria-selected="true">
                                <a class="dropdown-item dropdown-item-button" data-action="@Resources.GlobalProperties_10">@Resources.GlobalProperties_10</a>
                            </li>
                            <li aria-selected="false">
                                <a class="dropdown-item dropdown-item-button" data-action="@Resources.GlobalProperties_25">@Resources.GlobalProperties_25</a>
                            </li>
                            <li aria-selected="false"><a class="dropdown-item dropdown-item-button" data-action="@Resources.GlobalProperties_50">@Resources.GlobalProperties_50</a></li>
                        </ul>
                    </div>
                    <div class="dropdown btn-group">
                        <button data-toggle="dropdown" type="button" class="btn btn-default dropdown-toggle" aria-expanded="false">
                            <span class="dropdown-text">
                                <span class="zmdi icon zmdi-view-module"></span>
                            </span><span class="caret"></span>
                        </button>
                        <ul role="menu" id="toggleTableColumn" class="dropdown-menu pull-right">

                            <li>
                                <div class="checkbox">
                                    <label class="dropdown-item" aria-disabled="false">
                                        <input type="checkbox" checked="checked" class="dropdown-item-checkbox" value="0" name="Shift">
                                        @Resources.TableHeaders_Shift<i class="input-helper"></i>
                                    </label>
                                </div>
                            </li>


                            <li>
                                <div class="checkbox">
                                    <label class="dropdown-item" aria-disabled="false">
                                        <input type="checkbox" checked="checked" class="dropdown-item-checkbox" value="1" name="AllocationStatus">
                                        @Resources.TableHeaders_AllocationStatus<i class="input-helper"></i>
                                    </label>
                                </div>
                            </li>

                            <li>
                                <div class="checkbox">
                                    <label class="dropdown-item" aria-disabled="false">
                                        <input type="checkbox" checked="checked" class="dropdown-item-checkbox" value="2" name="Action">
                                        @Resources.TableHeaders_Action<i class="input-helper"></i>
                                    </label>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table id="myDataTable" class="table table-striped table-vmiddle table-responsive ">
        <thead>
            <tr>
                <th>@Resources.TableHeaders_Shift</th>
                <th>@Resources.TableHeaders_AllocationStatus </th>
                <th>@Resources.TableHeaders_Action</th>

            </tr>
        </thead>
    </table>

    

</div>



@*</div>*@

<script type="text/javascript">

    $(document).ready(function () {
        var oTable;
        LeaveShiftAllocateToCentre.Initialize();
        oTable = $('#myDataTable').DataTable({
            "bServerSide": true,
            "sAjaxSource": "LeaveShiftAllocateToCentre/AjaxHandler",
            "bJQueryUI": true,
            "sScrollY": false,
            "bProcessing": true,
            "sPaginationType": "full_numbers",
            "oLanguage": {
                "sInfoEmpty": "No entries to show",
            },
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "CentreCode", "value": $("#CentreCode").val() });

            },
            "columnDefs": [


                 {
                     "targets": 1,
                     "bSortable": false,
                     "data": null,
                     "render": function (data, type, full, meta) {
                         var chkStatus = '';
                         if (data[1] == "True") {
                             chkStatus = 'checked';
                         }
                         else {
                             chkStatus = '';
                         }
                         //var result = "<p  style='text-align: center; height:5px;'>" + '<input id="IsActive" class="CheckBox" type="checkbox" disabled ' + chkStatus + ' />' + "</p>";
                         var result = "<p  class='checkbox' style='margin-left: 5%; margin-top: 0%;'>" + '<input id="IsActive"  type="checkbox" disabled ' + chkStatus + ' /><i class="input-helper"></i>' + "</p>";

                         return result;

                     }
                 },

                 {
                     "targets": 2,
                     "bSortable": false,
                     "data": null,
                     "render": function (data, type, full, meta) {
                         //if (data[4] == "False") {
                         var statusFlag = data[1];
                         if (statusFlag == "False") {
                             var result1 = '@Html.ActionLink("Create1", "Create", new { ShiftID = "ID1", CentreCode = Model.CentreCode, centreName = "ID2", ShiftDesc = "ID3" }, new { @class = "mfpAjaxModal" })';
                             result1 = result1.replace("ID1", data[2]);
                             result1 = result1.replace("ID2", $("#CentreCode :selected").text().replace(/ /g, "~"));
                             result1 = result1.replace("ID3", data[0].replace(/ /g, "~"));
                             //result1 = result1.replace("Create1", '<i class="icon-plus" title="@Resources.ToolTip_Create" ></i>');
                             //result1 = result1.replace("Create1", '<button title="@Resources.ToolTip_Create" class="btn btn-default"><i class="zmdi zmdi-plus"></i></button>');
                             result1 = " <a href=\"javascript:void(0);\" data-toggle=\"tooltip\" class=\"btn btn-default waves-effect\" onclick=\"fancyBoxPopUpAjax('Allocate Shift','Are you sure that you want to allocate this shift?','error','btn-danger 2.','Yes!','/LeaveShiftAllocateToCentre/Create?CentreCode=" + $("#CentreCode").val() + "&ShiftID=" + data[2] + "','content','page-loader','LeaveShiftAllocateToCentre')\"><span class=\"zmdi zmdi-plus waves-effect\"></span></a>";
                         }
                         else if (statusFlag == "True") {
                             var result1 = '@Html.ActionLink("Edit1", "Edit", new { ID = "ID1", centreName = "ID2", ShiftDesc = "ID3" }, new { @class = "mfpAjaxModal" })';
                             result1 = result1.replace("ID1", data[3]);
                             result1 = result1.replace("ID2", $("#CentreCode :selected").text().replace(/ /g, "~"));
                             result1 = result1.replace("ID3", data[0].replace(/ /g, "~"));
                            //result1 = result1.replace("Edit1", '<i class="icon-edit" title="@Resources.ToolTip_Edit"></i>');
                            // result1 = result1.replace("Edit1", '<button title="@Resources.ToolTip_Edit" class="btn btn-default"><i class="zmdi zmdi-edit"></i></button>');
                             result1 = " <a href=\"javascript:void(0);\" data-toggle=\"tooltip\" class=\"btn btn-default waves-effect\" onclick=\"fancyBoxPopUpAjax('Deallocate Shift','Are you sure that you want to deallocate this shift?','error','btn-danger 2.','Yes!','/LeaveShiftAllocateToCentre/Edit?ID=" + data[3] + "&CentreCode=" + $("#CentreCode").val() + "&ShiftID=" + data[2] + "','content','page-loader','LeaveShiftAllocateToCentre')\"><span class=\"zmdi zmdi-edit waves-effect\"></span></a>";
                         }
                         var result = "<p  style=''>" + result1 + "</p>";
                         return result;
                         //}
                         //else {
                         //    return null;
                         //}
                     }
                 }

            ]
        });

        DataTableSettings(oTable, "myDataTable", "toggleTableColumn");

    });
</script>