@model AERP.ViewModel.AccountBalancesheetReportViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Scripts/AERP_Scripts/Account/AccountBalancesheetReport.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/Theme/vendors/bower_components/moment/min/moment.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/Theme/vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js")" type="text/javascript"></script>
<div class="container" style="padding-bottom:10px;">
   @using (Html.BeginForm("Index", "AccountBalancesheetReport", FormMethod.Post, new { enctype = "multipart/form-data", id = "GroupForm" }))
    {
        <div class="block-header">
            <h2 style="text-transform: none;"><i class="zmdi zmdi-view-toc"></i>&nbsp;Account Balancesheet Report</h2>
        </div>
        <div class="card" style="margin-bottom: 0px;">
            <div class="card-body card-padding">
                @Html.HiddenFor(m => m.AccBalsheetMstId)
                @Html.HiddenFor(m => m.IsPosted)
                @Html.HiddenFor(m => m.AccBalsheetName)
                          <div class="row col-sm-12">
                    <div class="col-sm-6">
                        <div class="fg-line select form-group">
                            @Html.DropDownListFor(m => m.AccountSessionID, Model.AccountSessionMasterReportItems, "------Select Account Session-------", new { @class = "form-control", data_toggle = "tooltip", data_placement = "top", data_original_title = "Account Session*" })
                        </div>
                        @Html.ValidationMessageFor(model => model.AccountSessionID)
                    </div>
                    <div class="col-sm-6">
                        <div class="fg-line select form-group">
                            @Html.DropDownList("Format", ViewData["Format"] as List<SelectListItem>, new { @class = "form-control", data_toggle = "tooltip", data_placement = "top", data_original_title = "Format" })
                        </div>
                      
                    </div>

                </div>
                <div class="row col-sm-12">
                    <div class="col-sm-3">
                        <div class="fg-line form-group">
                            @Html.TextBoxFor(m => m.SessionFromDate, new { @class = "form-control", ReadOnly = "True", style = "background-color:white", @placeholder = "Session upto date", data_toggle = "tooltip", data_placement = "top", data_original_title = "Session from date" })
                        </div>
                        @Html.ValidationMessageFor(model => model.SessionFromDate)
                    </div>
                    <div class="col-sm-3">
                        <div class="fg-line form-group">
                            @Html.TextBoxFor(m => m.SessionUptoDate, new { @class = "form-control", ReadOnly = "True", style = "background-color:white", @placeholder = "Session upto date", data_toggle = "tooltip", data_placement = "top", data_original_title = "Session upto date" })
                        </div>
                        @Html.ValidationMessageFor(model => model.SessionUptoDate)
                    </div>
                    <div class="col-sm-6">
                        <div class="fg-line select form-group">
                            @Html.DropDownList("GroupBy", ViewData["GroupBy"] as List<SelectListItem>, new { @class = "form-control", data_toggle = "tooltip", data_placement = "top", data_original_title = "Group" })
                        </div>
                    </div>
                </div>


                <div class="row" style="margin-left:1%;">
                    <div class="checkbox col-sm-3" style="margin-top:2%;">

                        <label style="margin-bottom: 3%; margin-left: -4%;">
                            @if (Model.IsConsolidated == true)
                        {
                         <input type="checkbox" id="IsConsolidated" name="IsConsolidated" checked>
                         }
                        else
                           {
                            <input type="checkbox" id="IsConsolidated" name="IsConsolidated">
                            }
                            <i class="input-helper"></i>

                            @Html.LabelFor(model => model.IsConsolidated, new { style = "padding-left: 0px; margin-top:2%;", Value = @Model.IsConsolidated })
                        </label>

                    </div>

                    <button type="submit" id="btnAccountBalancesheetReportSubmit" name="submit" class="btn btn-primary" style="margin-top:1%;margin-left:0%">Show</button>
                </div>

            </div>
        </div>
    }
    <div id="aaa">
        <div class="card">
            <div class="card-header"></div>
            <div class="card-body card-padding">
                @Html.Partial("/Views/Accounts/Report/AccountBalancesheetReport/AccountBalancesheetReport.aspx")
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        AccountBalancesheetReport.Initialize();
    });
</script>





